{% extends 'layout/minimal' %}
{% block content %}
    <div class="container is-fluid">
        {% if _message is defined %}
            <div class="notification is-warning">{{ _message.text }}</div>
        {% endif %}
        <div class="columns is-centered">
            <div class=" column is-half">
                <div class="box auth">
                    <div class="level">
                        <div class="level-left">
                            <h5 class="title">Вход в систему</h5>
                        </div>
                        <div class="level-right">
                            <!--<a class="button is-text is-link is-inverted" href="{{ url('?') }}">Русский</a>&nbsp;/&nbsp;-->
                            <a class="button is-text is-link is-inverted" href="{{ url('?') }}">Қазақша</a>
                        </div>
                    </div>
                    <form role="form" method="POST" action="{{ route('login') }}">
                        {{ csrf_field() }}
                        <div class="field">
                            <label for="email" class="label">Электронная почта</label>
                            <input id="email" type="email" class="input  {{ errors.has('email') ? ' is-danger' : '' }}" name="email"
                                   value="{{ old('email') }}" required autofocus>
                            {% if errors.has('email') %}
                                <span class="help is-danger">
                                        <small>{{ errors.first('email') }}</small>
                                    </span>
                            {% endif %}
                        </div>
                        <div class="field">
                            <label for="password" class="col-form-label">Пароль</label>
                            <input id="password" type="password" class="input {{ errors.has('password') ? 'is-danger' : '' }}" name="password" required>
                            {% if errors.has('password') %}
                                <span class="help is-danger">
                                        <small>{{ errors.first('password') }}</small>
                                    </span>
                            {% endif %}
                        </div>
                        <div class="field">
                        <label for="remember" class="checkbox">
                            <input id="remember" class="checkbox" type="checkbox" name="remember" {{ old('remember') ? 'checking' : '' }}>
                                Запомнить вход
                            </label>
                        </div>
                        <p></p>
                        <div class="field">
                            <button type="submit" class="button is-primary is-outlined" style="width: 10rem">
                                <i class="fa fa-sign-in"></i> Вход
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
