{% extends "layout/html" %}
{% block content %}
    <div class="container section" id="add-101-persons-form">
        <div class="level" style="margin-top: 20px">
            <div class="level-left">
                <h4 class="title">Личный состав и техника АО "Казавиаспас" от {{ model.created_at ?? 'now'|date('d.m.Y') }}</h4>
            </div>
        </div>
        <input type="hidden" :value="fieldsComputed">
        <form action="/formation/air-rescue/edit-create" method="post">
            {{ csrf_field() }}

            <input type="hidden" name="id" value="{{ model.id ?? '' }}">

            <fieldset>
                <legend>Руководящий состав</legend>
                <div class="field">
                    <div class="field">
                        <input type="text" value="{{ model.staff_head ?? '' }}" name="staff_head" class="input">
                    </div>

                    {#<staff-air-rescue :model-id="{{ model.id ?? 0 }}" :active="true" :staff="{{ staff }}"
                                      block_type="head"></staff-air-rescue>#}
                </div>

            </fieldset>
            <fieldset>
                <legend>По штату</legend>
                <div class="field">
                    <div class="field">
                        <input type="number" value="{{ model.staff_total ?? '' }}" name="staff_total" min=0 oninput="validity.valid||(value='');" class="input">
                    </div>

                    {#<label for="field_2_1">ЛС</label>
                    <staff-air-rescue :model-id="{{ model.id ?? 0 }}" :active="true" :staff="{{ staff }}"
                               block_type="action"></staff-air-rescue>#}
                </div>

            </fieldset>
            <fieldset>
                <legend>В наличии</legend>
                <div class="field">
                    <div class="field">
                        <input type="number"  value="{{ model.staff_action ?? '' }}" name="staff_action" min=0 oninput="validity.valid||(value='');" class="input">
                    </div>
                    {#<label for="field_2_1">ЛС</label>
                    <staff-air-rescue :model-id="{{ model.id ?? 0 }}" :active="true" :staff="{{ staff }}"
                               block_type="available"></staff-air-rescue>#}
                </div>

            </fieldset>
            <fieldset>
                <legend>На оперативном дежурстве (суточном)</legend>
                <div class="field">
                    <div class="field">
                        <input type="number" value="{{ model.staff_duty_shift ?? '' }}" name="staff_duty_shift" min=0 oninput="validity.valid||(value='');" class="input">
                    </div>
                </div>

            </fieldset>

            <fieldset>
                <legend>На оперативном дежурстве (8-ми часовом рабочем дне)</legend>
                <div class="field">
                    <div class="field">
                        <input type="number" value="{{ model.staff_duty_shift_8hours ?? '' }}" name="staff_duty_shift_8hours" min=0 oninput="validity.valid||(value='');" class="input">
                    </div>
                </div>

            </fieldset>

            <fieldset class="">
                <legend>Воздушные судна</legend>
                <fieldset class="">
                    <legend>В боевом расчете</legend>
                    <tech-air-rescue report_id="{{ model.id ?? '' }}" block_type="action" :vehicles="{{ tech }}"></tech-air-rescue>
                </fieldset>
                <fieldset class="">
                    <legend>В резерве</legend>
                    <tech-air-rescue report_id="{{ model.id  ?? ''}}" block_type="reserve" :vehicles="{{ tech }}"></tech-air-rescue>
                </fieldset>
                <fieldset class="">
                    <legend>На ремонте</legend>
                    <tech-air-rescue report_id="{{ model.id ?? '' }}" block_type="repair" :vehicles="{{ tech }}"></tech-air-rescue>
                </fieldset>

            </fieldset>

            <fieldset class="">
                <legend>Авиатопливо</legend>
                <fieldset class="">
                    <legend>В боевом расчете</legend>
                    <div class="field"><label for="field_1"></label>
                        <div class="control">
                            <input min=0 oninput="validity.valid||(value='');" type="number" step="1" data-value="" name="jet_fuel_action" id="jet_fuel_action" value="{{ model.jet_fuel_action ?? 0 }}"
                                   class="input add101persons-input">
                        </div>
                    </div>
                </fieldset>
                <fieldset class="">
                    <legend>В резерве</legend>
                    <input min=0 oninput="validity.valid||(value='');" type="number" step="1" data-value="" name="jet_fuel_reserved" id="jet_fuel_reserved" value="{{ model.jet_fuel_reserved ?? 0 }}"
                           class="input add101persons-input">
                </fieldset>

            </fieldset>

            <div class="field">
                <label for="field_3">Радиостанции</label>
                <div class="control">
                    <input type="number" min=0 oninput="validity.valid||(value='');" step="1" data-value="" class="input add101persons-input" name="radio_stations" id="radio_stations" value="{{ model.radio_stations ?? 0 }}">
                </div>
            </div>
            <div class="field">
                <label for="field_3">Средства индивидуальной защиты органов дыхания</label>
                <div class="control">
                    <input type="number" min=0 oninput="validity.valid||(value='');" step="1" data-value="" class="input add101persons-input" name="personal_respiratory_protection" id="personal_respiratory_protection" value="{{ model.personal_respiratory_protection ?? 0 }}">
                </div>
            </div>
            {#<div class="field">
                <label for="field_3">Средства индивидуальной защиты (Костюмы л1 и др)</label>
                <div class="control">
                    <input type="number" min=0 oninput="validity.valid||(value='');" step="1" data-value="" class="input add101persons-input" name="personal_protection" id="personal_protection" value="{{ model.personal_protection ?? 0 }}">
                </div>
            </div>#}
            <div class="field">
                <label for="field_3">Другие спасательные средства</label>
                <div class="control">
                    <input type="number" min=0 oninput="validity.valid||(value='');" step="1" data-value="" class="input add101persons-input" name="other_protection" id="other_protection" value="{{ model.other_protection ?? 0 }}">
                </div>
            </div>

            <div class="panel"
                 style="padding: 30px 10px 20px; margin-top:20px;border-top: 1px solid #dbdbdb; background-color: #f7f7f7">
                <div class="level">
                    <p class="level-left">
                    </p>
                    <p class="level-right">
                        <button type="submit" class="button is-success"><i class="fas fa-check"></i>&nbsp; Сохранить
                        </button>
                    </p>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}
