{% extends "layout/html" %}
{% block content %}
    <div class="section container">
    <div class="level">
        <div class="level-left">
            <a href="{{ url('formation') }}" class="button is-light"><i class="fas fa-arrow-left"></i>&nbsp;К строевым запискам</a>
            <h4 class="title" style="padding: 3px 15px">Строевая записка АО "Казавиаспас"</h4>
        </div>
        <div class="level-right">
            <a href="/formation/air-rescue/create" class="button is-basic is-main" style="margin: 2px 10px 2px"><i class="fas fa-plus"></i>&nbsp;Создать</a>
        </div>
        {#<div class="level-right has-text-right"><a href="#" class="button is-success is-outlined"  style="margin: 2px 10px 2px"><i class="fas fa-plus"></i>&nbsp;Отчет по ЛС</a></div>#}
        {#<div class="level-right has-text-right"><a href="#" class="button is-success is-outlined"  style="margin: 2px 10px 2px"><i class="fas fa-plus"></i>&nbsp;Отчет по технике</a></div>#}
    </div>
    <table class="table is-fullwidth is-narrow is-hoverable is-striped">
        <thead>
        <tr>
            <th>Дата и время</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        {% for report in reports %}
            <tr class="{% if report.report_date == today %}is-primary{% else %}{% endif %}">
                <td>{{ report.date_human_format }}</td>
                <td class="has-text-right">
                    {% if report.approved %}
                        <a href="#"
                           class="button is-small is-basic">
                            <i class="fas fa-glasses"></i>&nbsp;
                            Утверждено
                        </a>
                    {% else %}
                        <form method="post" action="/formation/air-rescue/approve/{{ report.id }}" style="display: inline">
                            {{ csrf_field() }}
                            <button onclick="return confirm('Утвердить?');"
                                    class="button is-small is-warning">
                                <i class="fas fa-glasses"></i>&nbsp;
                                Утвердить
                            </button>
                        </form>
                    {% endif %}
                    <a href="{{ url('formation/air-rescue/' ~ report.id ~ '/edit') }}" class="button is-basic is-small"><i class="fas fa-user"></i>&nbsp;Редактировать</a>
                    <a href="{{ url('formation/air-rescue/' ~ report.id) }}" class="button is-info is-small"><i class="fas fa-glasses"></i>&nbsp;Просмотр</a>
                    {#<a href="{{ url('formation/add101tech/' ~ report.id ~ '/' ~ department_id) }}" class="button is-primary is-outlined"><i class="fas fa-truck"></i>&nbsp; Указать технику</a>#}
                    {#<a href="{{ url('/formation/view101/' ~ report.id) }}" class="button is-primary"><i class="fas fa-receipt"></i>&nbsp; Смотреть строевую записку</a>#}
                </td>
            </tr>
        {% else %}
            <tr class="is-primary">
                <td>{{ 'now'|date('d.m.Y') }}</td>
                <td class="has-text-right">
                    <a href="{{ url('formation/air-rescue/create') }}" class="button is-small is-basic"><i class="fas fa-user"></i>&nbsp;Создать</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% include "_templates/pagination" with {'items': reports, 'per_page': per_page} %}
    </div>
{% endblock content %}
