{% extends "layout/html" %}
{% block content %}
    <div class="container section">
    <h4 class="title">Активные путевые листы служб взаимодействия</h4>
    <table class="table is-striped is-narrow is-fullwidth">
        <thead>
        <tr>
            <th>Номер листа</th>
            <th>Подразделение</th>
            <th>Адрес возгорания</th>
            <th>Дата и время</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {% for record in records %}
            <tr>
                <td>{{ record.id }}</td>
                <td>{{ record.service_type.name|default('-') }}</td>
                <td>{{ record.ticket.location|default('-') }} {% if record.ticket.crossroad_1_id is defined %}({{ record.ticket.crossroad_1.name|default('-') }} &times; {{ trip.ticket.crossroad_2.name|default('-') }}){% endif %}</td>
                <td>{{ record.created_at|date('d.m.Y H:i') }}</td>
                <td class="has-text-right">
                    <a href="/service-plans/{{ record.service_type.id }}/{{ record.id }}/show" class="button is-outlined is-primary"><i class="far fa-address-card"></i>&nbsp;Просмотр</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td class="has-text-centered"><h4 class="subtitle">Нет открытых путевых листов</h4></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include "_templates/pagination" with {'items': records, 'per_page': per_page} %}
    </div>
{% endblock content %}
