{% extends "layout/html" %}
{% block content %}
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru-RU" type="text/javascript"></script>
    <script>
        window.addEventListener('load', () => {
            window.roadTripViewData = {
                fromString: 'Алматы {{ record.ticket.location ?? '' }}',
                emergencyString: 'Алматы {{ record.department }}',
            };
            ymaps.ready(function () {
                window.ymaps = ymaps;
                window.initRoadTripViewMap();
            });
        });
    </script>
    <div class="container-fluid section">
        <div class="level">
            <div class="level-left">
                <h4 class="title">Путевой лист {{ record.id }} от {{ record.created_at|date('d.m.Y H:i') }} для {{ record.service_type.name ?? '' }}</h4>
            </div>
            <div class="level-right printing-invisible">
                <a class="button is-outlined is-large print-button" id="open-print-button"><i class="fas fa-fw fa-print"></i>&nbsp;Печать</a>
            </div>
        </div>
        <table class="table is-narrow printing-full-width">
            {% if not record.is_accepted %}
                <tr class="printing-invisible">
                    <td class="has-text-right is-bold">Принять в работу</td>
                    <td>
                        <form method="post" action="{{ url('/service-plans/accept/' ~ record.id ~ '/' ~ record.service_type.id) }}">
                            {{ csrf_field() }}
                            <label for="name_accepted">Фамилия принявшего сообщение</label>
                            <input required id="name_accepted" name="name_accepted" type="text" class="input">
                            <button type="submit" class="button is-warning"><i class="far fa-bell"></i>&nbsp;Принять</button>
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr class="printing-invisible">
                    <td class="has-text-right is-bold">Принято в работу</td>
                    <td>
                        <p>{{ record.name_accepted }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="has-text-right is-bold">Прибытие на место</td>
                    <td>
                        {% if not record.arrive_time %}
                            <form method="post" action="{{ url('/service-plans/arrive/' ~ record.id ~ '/' ~ record.service_type_id) }}">
                                {{ csrf_field() }}
                                {#<input type="datetime-local" name="arrive_time">#}
                                <button type="submit" class="button is-warning"><i class="far fa-bell"></i>&nbsp;Отметить</button>
                            </form>
                        {% else %}
                            <p>{{ record.arrive_time }}</p>
                        {% endif %}
                    </td>
                </tr>
                {% if record.arrive_time %}
                    <tr>
                        <td class="has-text-right is-bold">Время возвращения</td>
                        <td>
                            {% if not record.return_time %}
                                <form method="post" action="{{ url('/service-plans/return/' ~ record.id ~ '/' ~ record.service_type_id) }}">
                                    {{ csrf_field() }}
                                    {#<input type="datetime-local" name="return_time">#}
                                    <button type="submit" class="button is-warning"><i class="far fa-bell"></i>&nbsp;Отметить</button>
                                </form>
                            {% else %}
                                <p>{{ record.return_time }}</p>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endif %}
            <tr>
                <td class="has-text-right is-bold">Место ЧС (адрес)</td>
                <td>
                    {{ record.anyCard.location|default('-') }}
                    {#{% if record.ticket %}
                        {{  record.ticket.location|default('-') }}
                    {% else %}
                        {{  record.ticket112.location|default('-') }}
                    {% endif %}#}
                </td>
            </tr>
            <tr>
                <td class="has-text-right is-bold">Район города</td>
                <td>{{ record.anyCard.cityArea.name|default('-') }}</td>
            </tr>

            <tr>
                <td class="has-text-right is-bold">Пересечение улиц</td>
                <td>{% if record.anyCard.crossroad_1_id is defined %}({{ record.anyCard.crossroad_1.name|default('-') }} &times; {{ record.anyCard.crossroad_2.name|default('-') }}){% else %}--{% endif %}</td>
            </tr>
            <tr>
                <td class="has-text-right is-bold">Происшествие</td>
                <td>{{ record.anyCard.incident.name ?? record.anyCard.trip_result.name ?? '' }}</td>
            </tr>
            <tr>
                <td class="has-text-right is-bold">Место происшествия</td>
                <td>{{ record.anyCard.incident_place ?? record.anyCard.fireplace }}</td>
            </tr>
            <tr>
                <td class="has-text-right is-bold">Описание происшествия</td>
                <td>{{ record.anyCard.description ?? record.anyCard.pre_information|default('') }}</td>
            </tr>
            <tr>
                <td class="has-text-right is-bold">ФИО Заявителя</td>
                <td>{{ record.anyCard.caller_name|default('') }}</td>
            </tr>
            <tr>
                <td class="has-text-right is-bold">Телефон заявителя</td>
                <td>{{ record.anyCard.caller_phone|default('') }}</td>
            </tr>
            <tr>
                <td class="has-text-right is-bold">Время получения сообщения</td>
                <td>{{ record.anyCard.call_time ?? record.anyCard.created_at|date('H:i:s') }}</td>
            </tr>
            {#<tr>
                <td class="has-text-right is-bold">Наименование объекта</td>
                <td>{{ record.ticket.object_name|default('-') }}</td>
            </tr>#}
            {#<tr>
                <td class="has-text-right is-bold">Подразделения</td>
                <td>{{ record.ticket['ph_' ~ record.department ~'_ot']|default('-') }}</td>
            </tr>#}
            {#<tr>
                <td class="has-text-right is-bold">Ранг пожара
                </td>
                <td>{{ record.ticket.fire_level.name|default('?') }}</td>
            </tr>
            <tr>
                <td class="has-text-right is-bold">Объект горения</td>
                <td>{{ record.ticket.fire_object.name|default('?') }}</td>
            </tr>
            <tr>
                <td class="has-text-right is-bold">
                    Этажность
                </td>
                <td>{{ record.ticket.storey_count|default('-') }}</td>
            </tr>
            <tr>
                <td class="has-text-right is-bold">На каком этаже горит
                </td>
                <td>{{ record.ticket.floor|default('-') }}</td>
            </tr>
            {% if record.ticket.operational_plan_id is defined %}
                <tr>
                    <td class="has-text-right is-bold">№ оперативного плана</td>
                    <td>{{ record.ticket.operational_plan.name|default('') }}</td>
                </tr>
            {% endif %}
            {% if record.ticket.operational_card_id is defined %}
                <tr>
                    <td class="has-text-right is-bold">№ оперативного плана</td>
                    <td>{{ record.ticket.operational_card.oc_number|default('') }}</td>
                </tr>
            {% endif %}
            <tr>
                <td class="has-text-right is-bold">Конструктивные особенности</td>
                <td>{{ record.ticket.building_description|default('') }}</td>
            </tr>
            <tr>
                <td class="has-text-right is-bold">Материал стен</td>
                <td>{{ record.ticket.wall_material.name|default('') }}</td>
            </tr>
            <tr>
                <td class="has-text-right is-bold">Год постройки</td>
                <td>{{ record.ticket.year_of_development|default('') }}</td>
            </tr>
            <tr>
                <td class="has-text-right is-bold">Площадь объекта</td>
                <td>{{ record.ticket.building_square|default('') }}</td>
            </tr>
            <tr>
                <td class="has-text-right is-bold">Наличие угрозы людям</td>
                <td>{% if record.ticket.people_in_danger|default('') == 1 %} <span class="has-text-danger is-bold">Да</span> {% else %} <span class="is-warning is-bold">Нет</span>{% endif %}</td>
            </tr>
            <tr>
                <td class="has-text-right is-bold">ФИО заявителя</td>
                <td>{{ record.ticket.caller_name|default('-') }}</td>
            </tr>
            <tr>
                <td class="has-text-right is-bold">Телефон заявителя</td>
                <td>{{ record.ticket.caller_phone|default('-') }}</td>
            </tr>
            <tr>
                <td class="has-text-right is-bold">Время получения сообщения о ЧС</td>
                <td>{{ record.ticket.created_at|default('')|date('d.m.Y H:i') }}</td>
            </tr>#}
            <tr>
                <td class="has-text-right is-bold">Дата(день,месяц,год)</td>
                <td>{{ record.created_at|date('d.m.Y') }}</td>
            </tr>
        </table>

        <div id="road-trip-view-yandex-map-block"></div>
        <div id="autoprint" data-id="{{ record.id }}"></div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const printButton = document.getElementById('open-print-button');
            printButton.addEventListener('click', (e) => {
                window.print();
                e.preventDefault();
            });

        });
    </script>
{% endblock content %}
