{% extends "layout/html" %}
{% block content %}
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru-RU" type="text/javascript"></script>
    <script>
        window.addEventListener('load', () => {
            window.roadTripViewData = {
                fromString: 'Алматы {{ record.ticket.location }}',
                emergencyString: 'Алматы {{ record.department }}',
            };
            ymaps.ready(function () {
                window.ymaps = ymaps;
                window.initRoadTripViewMap();
            });
        });
    </script>
    <div class="page-margin">
        <div class="level">
            <div class="level-left">
                <h4 class="title">Путевой лист {{ record.id }} от {{ record.created_at|date('d.m.Y H:i') }} для {{ record.department }}</h4>
            </div>
            <div class="level-right printing-invisible">
                <a class="button is-outlined is-large print-button" id="open-print-button"><i class="fas fa-fw fa-print"></i>&nbsp;Печать</a>
            </div>
        </div>
        <table class="table is-narrow printing-full-width">
            {% if not record.is_accepted %}
                <tr class="printing-invisible">
                    <td class="has-text-right is-bold">Принять в работу</td>
                    <td>
                        <form method="post" action="{{ url('/service-plans/accept/' ~ record.id ~ '/' ~ record.department) }}">
                            {{ csrf_field() }}
                            <label for="name_accepted">Фамилия принявшего сообщение</label>
                            <input required id="name_accepted" name="name_accepted" type="text" class="input">
                            <button type="submit" class="button is-warning"><i class="far fa-bell"></i>&nbsp;Принять</button>
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr class="printing-invisible">
                    <td class="has-text-right is-bold">Принято в работу</td>
                    <td>
                        <p>{{ record.name_accepted }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="has-text-right is-bold">Прибытие на место</td>
                    <td>
                        {% if not record.arrive_time %}
                            <form method="post" action="{{ url('/service-plans/arrive/' ~ record.id ~ '/' ~ record.department) }}">
                                {{ csrf_field() }}
                                {#<input type="datetime-local" name="arrive_time">#}
                                <button type="submit" class="button is-warning"><i class="far fa-bell"></i>&nbsp;Отметить</button>
                            </form>
                        {% else %}
                            <p>{{ record.arrive_time }}</p>
                        {% endif %}
                    </td>
                </tr>
                {% if record.arrive_time %}
                    <tr>
                        <td class="has-text-right is-bold">Время возвращения</td>
                        <td>
                            {% if not record.return_time %}
                                <form method="post" action="{{ url('/service-plans/return/' ~ record.id ~ '/' ~ record.department) }}">
                                    {{ csrf_field() }}
                                    {#<input type="datetime-local" name="return_time">#}
                                    <button type="submit" class="button is-warning"><i class="far fa-bell"></i>&nbsp;Отметить</button>
                                </form>
                            {% else %}
                                <p>{{ record.return_time }}</p>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endif %}
            {#{% if ((trip.result is defined) or (trip.result is null)) and trip.result.out_time|default(null) is null and trip.is_accepted %}#}
                {#<tr class="printing-invisible">#}
                    {#<td class="has-text-right is-bold">Выезд сил</td>#}
                    {#<td>#}
                        {#<form method="post" action="{{ url('/roadtrip/force-out/' ~ trip.id) }}">{{ csrf_field() }}#}
                            {#<button type="submit" class="button is-info"><i class="far fa-bell"></i>&nbsp;Назначить</button>#}
                        {#</form>#}
                    {#</td>#}
                {#</tr>#}
            {#{% endif %}#}
            <tr>
                <td class="has-text-right is-bold">Место пожара (адрес)</td>
                <td>{{ record.ticket.location|default('-') }}</td>
            </tr>
            <tr>
                <td class="has-text-right is-bold">Наименование объекта</td>
                <td>{{ record.ticket.object_name|default('-') }}</td>
            </tr>
            {#<tr>#}
                {#<td class="has-text-right is-bold">Состав высылаемых сил и средств</td>#}
                {#<td>#}
                    {#{% if not record.is_accepted %}#}
                        {#{% for i in record.results %}#}
                            {#<p>{{ i.departments }}</p>#}
                        {#{% endfor %}#}
                    {#{% else %}#}
                        {#<div id="vue">#}
                            {#{% for dep in results %}#}
                                {#{% if ((record.result is defined) or (record.result is null)) and record.result.out_time|default(null) is null and record.is_accepted %}#}
                                    {#<roadtrip-dept-btn :trip="{{ record }}" :dep="{{ dep }}"></roadtrip-dept-btn>#}
                                {#{% else %}#}
                                    {#<form action="#" method="post">#}
                                        {#{{ csrf_field() }}#}
                                        {#<button type="submit" class="button is-success is-outlined"><i class="fas fa-retweet"></i>&nbsp; Отметить возвращение: отделение -  {{ dep.departments }}</button>#}
                                    {#</form>#}
                                {#{% endif %}#}

                            {#{% endfor %}#}
                        {#</div>#}
                    {#{% endif %}#}

                {#</td>#}
            {#</tr>#}
            <tr>
                <td class="has-text-right is-bold">Подразделения</td>
                <td>{{ record.ticket['ph_' ~ record.department ~'_ot']|default('-') }}</td>
            </tr>
            <tr>
                <td class="has-text-right is-bold">Пересечение улиц</td>
                <td>{% if record.ticket.crossroad_1_id %}({{ record.ticket.crossroad_1.name|default('-') }} &times; {{ record.ticket.crossroad_2.name|default('-') }}){% else %}--{% endif %}</td>
            </tr>
            <tr>
                <td class="has-text-right is-bold">Ранг пожара
                </td>
                <td>{{ record.ticket.fire_level.name|default('?') }}</td>
            </tr>
            <tr>
                <td class="has-text-right is-bold">Объект горения</td>
                <td>{{ record.ticket.fire_object.name|default('?') }}</td>
            </tr>
            <tr>
                <td class="has-text-right is-bold">
                    Этажность
                </td>
                <td>{{ record.ticket.storey_count|default('-') }}</td>
            </tr>
            <tr>
                <td class="has-text-right is-bold">На каком этаже горит
                </td>
                <td>{{ record.ticket.floor|default('-') }}</td>
            </tr>
            {% if record.ticket.operational_plan_id %}
                <tr>
                    <td class="has-text-right is-bold">№ оперативного плана</td>
                    <td>{{ record.ticket.operational_plan.name|default('') }}</td>
                </tr>
            {% endif %}
            {% if record.ticket.operational_card_id %}
                <tr>
                    <td class="has-text-right is-bold">№ оперативного плана</td>
                    <td>{{ record.ticket.operational_card.oc_number|default('') }}</td>
                </tr>
            {% endif %}
            <tr>
                <td class="has-text-right is-bold">Конструктивные особенности</td>
                <td>{{ record.ticket.building_description|default('') }}</td>
            </tr>
            <tr>
                <td class="has-text-right is-bold">Материал стен</td>
                <td>{{ record.ticket.wall_material.name|default('') }}</td>
            </tr>
            <tr>
                <td class="has-text-right is-bold">Год постройки</td>
                <td>{{ record.ticket.year_of_development|default('') }}</td>
            </tr>
            <tr>
                <td class="has-text-right is-bold">Площадь объекта</td>
                <td>{{ record.ticket.building_square|default('') }}</td>
            </tr>
            <tr>
                <td class="has-text-right is-bold">Наличие угрозы людям</td>
                <td>{% if record.ticket.people_in_danger ==1 %} <span class="has-text-danger is-bold">Да</span> {% else %} <span class="is-warning is-bold">Нет</span>{% endif %}</td>
            </tr>
            <tr>
                <td class="has-text-right is-bold">ФИО заявителя</td>
                <td>{{ record.ticket.caller_name|default('-') }}</td>
            </tr>
            <tr>
                <td class="has-text-right is-bold">Телефон заявителя</td>
                <td>{{ record.ticket.caller_phone|default('-') }}</td>
            </tr>
            <tr>
                <td class="has-text-right is-bold">Время получения сообщения о ЧС</td>
                <td>{{ record.ticket.created_at|date('d.m.Y H:i') }}</td>
            </tr>
            {#<tr>#}
                {#<td class="has-text-right is-bold">Время возвращение в ПЧ</td>#}
                {#<td>#}
                    {#{% if trip.is_closed %}{{ trip.return_time|date('d.m.Y h:i') }}{% else %}#}
                        {#<div class="printing-invisible">#}
                            {#<form action="{{ url('/roadtrip/save/' ~ trip.id) }}" method="post">{{ csrf_field() }}#}
                                {#<button type="submit" class="button is-success is-outlined"><i class="fas fa-retweet"></i>&nbsp; Отметить возвращение</button>#}
                            {#</form>#}
                        {#</div>#}
                        {#<div class="printing-visible">#}
                            {#&ndash;#}
                        {#</div>#}
                    {#{% endif %}#}
                {#</td>#}
            {#</tr>#}
            <tr>
                <td class="has-text-right is-bold">Дата(день,месяц,год)</td>
                <td>{{ record.created_at|date('d.m.Y') }}</td>
            </tr>
        </table>

        <div id="road-trip-view-yandex-map-block"></div>
        <div id="autoprint" data-id="{{ record.id }}"></div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const printButton = document.getElementById('open-print-button');
            printButton.addEventListener('click', (e) => {
                window.print();
                e.preventDefault();
            });

        });
    </script>
{% endblock content %}
