{% extends "layout/html" %}
{% block content %}
    <div class="container section">
        <div class="panel">
            <div class="box" style="margin-top: 20px">
                <h4 class="title">{{ title }}</h4>
                <form action="{{ record is defined ? route('vehicles.update', {'id':record.id}) : route('vehicles.store')}}" method="post">
                    {% if record is defined %}
                        {{  method_field('PUT') }}
                    {% endif %}
                    {{ csrf_field() }}
                    <div class="field">
                        <label for="name">Модель</label>
                        <input type="text" class="input" name="name" id="name" value="{{ attribute(record, 'name')|default('') }}"/>
                    </div>
                    <div class="field">
                        <label for="number">Гос. номер</label>
                        <input type="text" class="input" name="number" id="number" value="{{ attribute(record, 'number')|default('') }}"/>
                    </div>
                    <div class="field">
                        <label for="number">Гос. номер (старый)</label>
                        <input type="text" class="input" name="number_old" id="number_old" value="{{ attribute(record, 'number_old')|default('') }}"/>
                    </div>
                    <div class="field">
                        <label for="number">На базе (шасси)</label>
                        <input type="text" class="input" name="base" id="base" value="{{ attribute(record, 'base')|default('') }}"/>
                    </div>
                    <div class="field">
                        <label for="number">Год выпуска</label>
                        <input type="text" class="input" name="publish_year" id="publish_year" value="{{ attribute(record, 'publish_year')|default('') }}"/>
                    </div>
                    <div class="field">
                        <label for="number">Номер свидетельства регистрации</label>
                        <input type="text" class="input" name="reg_certificate" id="reg_certificate" value="{{ attribute(record, 'reg_certificate')|default('') }}"/>
                    </div>
                    <div class="field">
                        <label for="number">Примечание</label>
                        <textarea class="input" name="note" id="note">{{ attribute(record, 'note')|default('') }}</textarea>
                    </div>

                    <div class="field">
                        <label for="vehicle_type_id">Тип</label><br>
                        <select name="vehicle_type_id" id="vehicle_type_id" required>
                            {% for vehicle_type in vehicle_types %}
                                <option value="{{ vehicle_type.id }}" {% if vehicle_type.id == attribute(record, 'vehicle_type_id')|default('') %}selected{% endif %}>{{ vehicle_type.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="field">
                        <label for="vehicle_type_id">Класс</label><br>
                        <select name="vehicle_class_id" id="vehicle_class_id" required>
                            {% for vehicle_class in vehicle_classes %}
                                <option value="{{ vehicle_class.id }}" {% if vehicle_class.id == attribute(record, 'vehicle_class_id')|default('') %}selected{% endif %}>{{ vehicle_class.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="field">
                        <label for="name">ПЧ</label><br>
                        <select name="fire_department_id" id="fire_department_id" required>
                            {% for fire_department in fire_departments %}
                                <option value="{{ fire_department.id }}" {% if fire_department.id == attribute(record, 'fire_department_id')|default('') %}selected{% endif %}>{{ fire_department.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="buttons has-text-right is-grouped is-right" style="">
                        <button type="submit" class="button is-success"><i class="fas fa-check"></i>&nbsp;Сохранить</button>
                        <a href="{{ url('/vehicles') }}" class="button is-light">Отменить</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
