{% extends "layout/html" %}
{% block content %}
    <div class="container section">
        <div class="panel">
            <div class="level">
                <div class="level-left">
                    <h4 style="" class="title">Автотехника</h4>
                </div>
                <div class="level-right has-text-right">
                    <a href="{{ route('vehicles.create') }}" class="button is-main is-basic"><i class="fas fa-plus"></i>&nbsp;Создать запись</a>
                </div>
            </div>
            <form>
                <div class="field has-addons">
                    <div class="control is-expanded">
                        <input type="text" class="input" name="search" value="{{ search ?? null }}" id="search-input">
                    </div>
                    <div class="control">
                    </div>
                    <div class="control">
                        <button class="button is-primary is-outlined" type="submit"><span><i class="fa fa-search"></i><span class="hidden-sm-down">&nbsp; Искать</span></span></button>
                        <a href="{{ route('vehicles.index') }}" class="button is-danger is-outlined" type="submit"><span><i class="fa fa-times"></i><span class="hidden-sm-down">&nbsp; Сбросить фильтр</span></span></a>
                    </div>
                </div>
                <table class="table is-narrow is-striped is-hoverable is-selectable">
                    <thead>
                    <tr>
                        <th>Модель</th>
                        <th>Номер</th>
                        <th>
                            <p>ПЧ</p>
                            {% if user.anyRole(['admin','dispatcher_od', 'Диспетчер 101', 'Диспетчер ОД 101']) %}
                                <select name="filter_department" class="select control" onchange="this.form.submit()">
                                    <option value="">Все ПЧ</option>
                                    {% for f in fire_departments %}
                                        <option {% if filter_department is defined and filter_department == f.id %} selected {% endif %} value="{{ f.id }}">{{ f.title }}</option>
                                    {% endfor %}
                                </select>
                            {% endif %}
                        </th>
                        <th>Тип</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    {% for item in items %}
                        <tr>
                            <td><i class="fas fa-list-ol"></i>&nbsp;{{ item.name }}</td>
                            <td>{{ item.number }}</td>
                            <td>{{ item.fireDepartment.name ?? '' }}</td>
                            <td>{{ item.vehicleType.name }}</td>
                            <td>
                                <div class="field is-grouped">
                                <a class="button is-basic is-small" href="{{ route('vehicles.edit', {'id':item.id}) }}">
                                    <i class="fas fa-edit"></i>&nbsp;Редактировать</a>

                                <form method="post" action="{{ route('vehicles.destroy', {'id':item.id}) }}">
                                    {{ csrf_field() }}
                                    {{  method_field('DELETE') }}
                                    <button onclick="return confirm('Удалить запись?');" class="button is-danger is-small">
                                        <i class="fas fa-trash"></i>&nbsp;Удалить</button>
                                </form>
                                </div>
                            </td>
                        </tr>

                    {% else %}
                        <li><h3 class="is-danger">Нет автотехники</h3></li>
                    {% endfor %}


                </table>
            </form>

            {% include "_templates/pagination" with {'items': items, 'per_page': per_page,'other': {'filter_department':filter_department, 'search':search}} %}

        </div>
    </div>
{% endblock content %}
