{% extends "layout/html" %}
{% block content %}
    <script>
        window.ticket101fd = {
            ticket: {{ ticket | json_encode() | raw }},
            departmentsOnWay: {{ departmentsOnWay | json_encode() | raw }},
            eventInfos: {{ eventInfos | json_encode() | raw }},
            eventInfosArrived: {{ eventInfosArrived | json_encode() | raw }},
            ticketId: {{ ticket.id }},
            burn_object: {{ burn_object | json_encode()| raw }},
            living_sector_types: {{ living_sector_types | json_encode()| raw }},
            trip_result: {{ trip_result | json_encode()| raw }},
            liquidation_methods: {{ liquidation_methods | json_encode()| raw }},
            fire_levels: {{ fire_levels | json_encode()| raw }},
            water_sources: {{ water_sources | json_encode()| raw }},
            ticketInfo: {{ ticketInfo | json_encode() | raw }},
            fire_department_id: {{ departmentId }}
        }
    </script>
    <div class="section container">
        <h4 class="title">Путевой лист №{{ trip.id }}: Иноформация от {{ trip.department.name }}</h4>
        <div id="fire-department-data"></div>
    </div>
{% endblock content %}