<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="ru"> <!--<![endif]-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="description" content="">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <style>
        * {
            font-family: DejaVu Sans;
        }
    </style>
</head>
<body>

<div style="width:100%;font-size: 12px">
    <div style="margin: 0 auto;width: 65%">
        ГОСУДАРСТВЕННОЕ УЧРЕЖДЕНИЕ «СЛУЖБА ПОЖАРОТУШЕНИЯ И
    </div>
    <div style="margin: 0 auto;padding-bottom: 30px;width: 65%;">
        &nbsp;&nbsp;АВАРИЙНО-СПАСАТЕЛЬНЫХ РАБОТ» ДЧС г. АЛМАТЫ КЧС МВД РК
    </div>
    <div style="width: 200px; float: right;padding-bottom: 50px;padding-right: 20px">
        Начальнику ГУ «СП и АСР» ДЧС г. Алматы КЧС МВД РК полковнику гражданской защиты Касыбаеву Р.А.
    </div>
    <div style="clear: both"></div>

    <div style="margin: 0 auto;width: 40%;">
        &nbsp;&nbsp;&nbsp;ОПЕРАТИВНАЯ ИНФОРМАЦИЯ ОГ-1
    </div>
    <div style="margin: 0 auto;width: 40%;">
        по пожарам, произошедшим на территории
    </div>

    <div style="margin: 0 auto;width: 50%;padding-bottom: 30px;">
        г. Алматы с {{ dates.hour }} час. {{ dates.minutes }} мин. {{ dates.from }}г. до {{ dates.hour }} час. {{ dates.minutes }} мин. {{ dates.to }}г.
    </div>

    <div>
        За дежурные сутки зарегистрировано – {{ count }} выездов, из них:
    </div>
    <div>1.Пожары – 2</div>
    <div style="padding-left: 40px">1.1. Жилой сектор – 0</div>
    <div style="padding-left: 60px">а) жилой дом (квартира) - 0 ; б) надворные постройки – 0</div>
    <div style="padding-left: 40px">1.2. Транспорт – 0</div>
    <div style="padding-left: 40px">1.3. Прочие объекты пожаров – 2</div>
    <div>2. Случаи горения, не подлежащие учету как пожары – 4</div>
    <div style="padding-left: 40px">2.1. КЗ – 3</div>
    <div style="padding-left: 40px">2.2. Мусор – 0</div>
    <div style="padding-left: 40px">2.3. Пища на газе – 0</div>
    <div style="padding-left: 40px">2.4. Сухостой – 1</div>
    <div>3. Прочие – 0</div>
    <div>4. АСР – 1</div>
    <div>5. Технологический процесс – 0</div>
    <div>6. Бдительность населения (ложный) – 3</div>
    <div>7. Загорание а/м в результате ДТП – 0</div>
    <div>8. Загорание бесхозных зданий, транспортных средств – 0</div>
    <div>9. Битумные работы – 0</div>
    <div>10. Срабатывание ОПС – 0</div>
    <div>11. Область – 0</div>
    <div>12. Случаи отравления - 0</div>
    <div style="padding-left: 40px">12.1. Отравление угарным газом – 0</div>
    <div style="padding-left: 40px">12.2. Отравление природным газом – 0</div>
    <div>13. Сведения по людям (дети) – 0</div>
    <div style="padding-left: 40px">13.1. Попытка суицида – 0</div>
    <div style="padding-left: 40px">13.2. Спасено – 0</div>
    <div style="padding-left: 40px">13.3. Эвакуировано – 0</div>
    <div style="padding-left: 40px">13.4. Пострадало – 0</div>
    <div style="padding-left: 40px">13.5. Погибло – 0</div>


    <div style="margin: 0 auto;width: 10%"><b>ПОЖАР:</b></div>
    <div>
        <b>1. 24.06.18г. 11 час. 45 мин. Алатауский район, южнее ул. Индустриальная на территории Западного
            кладбища:</b>
    </div>
    <div>
        (заявитель: Василова, тел: 87075022240). Загорание сухостоя с переходом на могильные кресты на общей S=300м2.
        СПЧ15 (1)
        на АЦ-4-40 прибыло в 12 час. 08 мин. (23 мин., 10,5 км). Пожар локализован в 12 час. 16 мин. ликвидирован в 12
        час. 30 мин.,
        1 ствол «Б» от АЦ и подручными средствами 3 хлопушки, 2 «Ермак». На место пожара выезжал л/с в количестве 7ми
        человек: СПЧ-15 (1);
        (н/к м-р г/з Нурпеисов), инженер Алатауского ОЧС Ескараев. Материал зарегистрирован в КУИ №1696 от 24.06.18г.
    </div>

    <div style="margin: 0 auto;width: 30%;padding-top: 20px"><b>БДИТЕЛЬНОСТЬ НАСЕЛЕНИЯ:</b>
    </div>

    <div style="padding-top: 50px;">
        <div style="float: left;width: 55%">
            Старший инженер ЦППС ЦОУСС ГУ «СП и АСР ДЧС г. Аматы КЧС МВД РК» ст.
            лейтенант гражданской защиты
        </div>
        <div style="float: right;width: 25%">
            Нышанкулов Г.С.
        </div>
        <div style="clear: both"></div>

        <div style="padding-top: 20px;">
            <div style="float: left;width: 55%">
                Оперативный дежурный ДСПТ ГУ «СП и АСР ДЧС г. Алматы КЧС МВД РК»
                подполковник гражданской защиты
            </div>
            <div style="float: right;width: 25%">
                Даус В.А.
            </div>
        </div>
    </div>
</div>

</body>
</html>