{% extends "layout/html" %}
{% block content %}
    <div class="container section">
        <div class="panel">
            <div class="box" style="margin-top: 20px">
                <h4 class="title">Редактирование записи</h4>
                <form action="{{ route('quakes.update', model.id) }}" method="post">
                    <input type="hidden"
                           name="_method"
                           value="PATCH">
                    {{ csrf_field() }}
                    <div class="field">
                        <label for="description">Описание</label>
                        <textarea class="input" name="description" id="description" required>{{ model.description }}</textarea>
                    </div>
                    <div class="field">
                        <label for="date_almaty">Дата и время Алматинского времени</label>
                        <input type="datetime-local" class="input" name="date_almaty" id="date_almaty" value="{{ model.date_almaty|date('Y-m-d\\TH:i') }}" required />
                    </div>
                    <div class="field">
                        <label for="date_greenwich">Дата и время по Гринвичу</label>
                        <input type="datetime-local" class="input" name="date_greenwich" id="date_greenwich" value="{{ model.date_greenwich|date('Y-m-d\\TH:i') }}" required />
                    </div>
                    <div class="field">
                        <label for="epicenter">Эпицентр землетрясения</label>
                        <input type="text" class="input" name="epicenter" id="epicenter" value="{{ model.epicenter }}" required/>
                    </div>
                    <div class="field">
                        <label for="energy_class">Энергетический класс землетрясения</label>
                        <input type="number" step="0.01" class="input" name="energy_class" id="energy_class" value="{{ model.energy_class }}" required/>
                    </div>
                    <div class="field">
                        <label for="mpv">Магнитуда MPV</label>
                        <input type="number" step="0.01" class="input" name="mpv" id="mpv" value="{{ model.mpv }}" required/>
                    </div>
                    <div class="field">
                        <label for="coordinates">Координаты эпицентра</label>
                        <input type="text" class="input" name="coordinates" id="coordinates" value="{{ model.coordinates }}" required/>
                    </div>
                    <div class="field">
                        <label for="deep">Глубина</label>
                        <input type="number" step="0.01" class="input" name="deep" id="deep" value="{{ model.deep }}" required/>
                    </div>
                    <div class="field">
                        <label for="information">Сведения об ощутимости</label>
                        <input type="text" class="input" name="information" id="information" value="{{ model.information }}" required/>
                    </div>
                    <div class="buttons has-text-right is-grouped is-right" style="">
                        <button type="submit" class="button is-success"><i class="fas fa-check"></i>&nbsp;Сохранить
                        </button>
                        <a href="{{ route('quakes.index') }}" class="button is-light">Отменить</a>

                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
