{% extends "layout/html" %}
{% block content %}
    <div class="container section">
    <div class="level">
        <div class="level-left">
        <a href="{{ url('formation') }}" class="button is-light"><i class="fas fa-arrow-left"></i>&nbsp;К строевым запискам</a>
        <h4 class="title"
            style="padding: 3px 15px">Журнал строевых записок ДЧС г.Алматы
        </h4>
        </div>
    </div>
    <div class="columns is-gapless">
        <div style="width: 100%; border-bottom: 1px solid #dbdbdb;">
        </div>
    </div>
    <div class="panel">
        <table class="table is-narrow is-hoverable is-fullwidth is-striped is-small">
            <thead>
            <tr>
                <th class="has-text-right" style="width: 150px">Дата и время</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            {% for item in items %}
                <tr>
                    <td class="has-text-right">{{ item.date|date('d.m.Y') }}</td>
                    <td class="has-text-right">
                        <a href="/formation-record/district-managers/{{ item.date|date('Y-m-d') }}"
                           class="button is-small is-basic">
                            <i class="fas fa-pencil-alt"></i>&nbsp;
                            Редактировать ответственных по районам
                        </a>
                        <a href="/formation-record/staff/{{ item.date|date('Y-m-d') }}/1"
                           class="button is-small is-basic">
                            <i class="fas fa-pencil-alt"></i>&nbsp;
                            Редактировать личный состав
                        </a>
                        <a href="{{ route('formation-record.total-edit', item.id) }}"
                           class="button is-small is-info">
                            <i class="fas fa-pencil-alt"></i>&nbsp;
                            Открыть
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td class="is-centered"><h1 class="title">Нет записей</h1></td>
                </tr>
            {% endfor %}
        </table>
        {% include "_templates/pagination" with {'items': items, 'per_page': per_page} %}
    </div>
    </div>
{% endblock content %}
