{% extends "layout/html" %}

{% block content %}
    <div class="section container-fluid">
    <div class="level">
        <div class="level-left">
            <h4 class="title" style="padding: 3px 15px">Журнал строевых записок ДЧС г.Алматы {{ item.date|date('d.m.Y') }}</h4>
        </div>
        <div class="level-right printing-invisible">
            {#<a onclick="window.print();" class="button is-outlined is-large print-button" id="open-print-button"><i class="fas fa-fw fa-print"></i>&nbsp;Печать</a>#}
            <a href="/formation-record/total-edit/word" class="button is-outlined is-large print-button" id="open-print-button"><i class="fas fa-fw fa-glasses"></i>&nbsp;Сохранить в .DOCX</a>
        </div>
    </div>

    <form action="{{ route('formation-record.total-update', item.id) }}" method="POST">
        {{ csrf_field() }}
        <div class="big-table-container">
            <table class="formation-record-table">
                <thead>
                <tr>
                    <th rowspan="3">Наименование подразеления</th>
                    <th colspan="3">Руководящий состав</th>
                    <th colspan="5">Личный состав</th>
                    <th colspan="8">Техника</th>
                    <th colspan="2">ГСМ</th>
                    <th rowspan="3">Радиостанции</th>
                    <th rowspan="3">Средства индивидуальной защиты органов дыхания</th>
                    <th rowspan="3">Средства индивидуальной защиты(Костюмы л1 и пр.)</th>
                    <th rowspan="3">Другие спасательные средства</th>
                </tr>
                <tr>
                    {#Личный состав#}
                    <th rowspan="2">Количество</th>
                    <th rowspan="2">Ф.И.О.</th>
                    <th rowspan="2">Телефон</th>

                    <th rowspan="2">По штату</th>
                    <th rowspan="2">В наличии</th>
                    <th colspan="3">На оперативном дежурстве</th>
                    {#Техника#}
                    <th colspan="2">Основная</th>
                    <th colspan="2">Специальная</th>
                    <th colspan="2">Вспомогательная</th>
                    <th colspan="2">Другая</th>
                    {#ГСМ#}
                    <th rowspan="2">Бензин</th>
                    <th rowspan="2">Дизтопливо</th>
                </tr>
                <tr>
                    {#Личный состав(подраздел)#}
                    <th>ФИО Старшего смены</th>
                    <th>Количество</th>
                    <th>8-ми часовом рабочем дне</th>
                    {# Техника #}
                    <th>На дежурстве(в боевом рассчете)</th>
                    <th>В резерве</th>
                    <th>На дежурстве(в боевом рассчете)</th>
                    <th>В резерве</th>
                    <th>На дежурстве(в боевом рассчете)</th>
                    <th>В резерве</th>
                    <th>На дежурстве(в боевом рассчете)</th>
                    <th>В резерве</th>
                </tr>
                </thead>
                <tbody>

                {% for rowItem in items %}
                    {% include 'formation-record/tr-form' with {item: rowItem} %}
                {% endfor %}
                {% include 'formation-record/tr-total-form' with {item: item} %}
                </tbody>
            </table>


            <div class="panel bottom_panel">
                <div class="" style="">
                    <div class="level-left">
                        <div class="column">
                            <h6 class="title" style="padding: 3px 15px">Дежурная смена УЕДДС ДЧС г.Алматы КЧС МВД РК</h6>
                            <br>
                            <table class="formation-record-table">
                                <thead>
                                <tr>
                                    <th>№</th>
                                    <th>ФИО</th>
                                    <th>Должность</th>
                                    <th>Отсутствующие</th>
                                    <th>Примечание</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for key, i in dutyShiftItems %}
                                        <tr>
                                            <td>{{ i.report.shift.name|default() }}</td>
                                            <td>{{ i.staff.name }}</td>
                                            <td>{{ i.rankHumanFormat}}</td>
                                            <td>
                                                {% for inactive in dutyShiftItemsInactive if key == 0 %}
                                                    <p>{{ inactive.inactive_staff_info }}</p>
                                                {% endfor %}
                                            </td>
                                            <td>{{ i.report.note|default() }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="level-left">
                        <div class="column">
                            <h6 class="title" style="padding: 3px 15px">Дежурная смена контрольно-пропускного режима Департамента</h6>
                            <br>
                            <table class="formation-record-table">
                                <thead>
                                <tr>
                                    <th>№</th>
                                    <th>ФИО</th>
                                    <th>Должность</th>
                                    <th>Отсутствующие</th>
                                    <th>Примечание</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for key, i in dutyShiftCheckpointItems %}
                                        <tr>
                                            <td>{{ i.report.shift.name|default() }}</td>
                                            <td>{{ i.staff.name }}</td>
                                            <td>{{ i.rankHumanFormat}}</td>
                                            <td>
                                                {% for inactive in dutyShiftCheckpointItemsInactive if key == 0 %}
                                                    <p>{{ inactive.inactive_staff_info }}</p>
                                                {% endfor %}
                                            </td>
                                            <td>{{ i.report.note|default() }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="level-left">
                        <div class="column">
                            <h6 class="title" style="padding: 3px 15px">Дежурная смена служб взаимодействия</h6>
                            <br>
                            <table class="formation-record-table">
                                <thead>
                                <tr>
                                    <th>Служба взаимодействия</th>
                                    <th>ФИО дежурного</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for i in dutyPersonsServiceArr %}
                                        <tr>
                                            <td>{{ i.name }}</td>
                                            <td>{{ i.value}}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="column"></div>

                    </div>
                    <div class="level-left">
                        <div class="column">
                            <h6 class="title" style="padding: 3px 15px">Ответственные по районным отделам ЧС г.Алматы</h6>
                            <br>
                            <table class="formation-record-table">
                                <thead>
                                <tr>
                                    <th>Районный отдел ЧС</th>
                                    <th>Должность, звание, позывной</th>
                                    <th>Ф.И.О., телефон</th>
                                    <th>Отсутствующие</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if formationDistrictManager is defined and formationDistrictManager %}
                                    {% for area in cityAreas %}
                                        <tr>
                                            <td>{{ area.name }}</td>

                                            {% for item in formationDistrictManager.items_active().get() %}
                                                {% if item.city_area_id == area.id %}
                                                    <td>
                                                        {{ item.manager.position }}<br>
                                                        {{ item.manager.rank }}<br>
                                                        {{ item.manager.nickname }}<br>
                                                    </td>
                                                    <td>
                                                        {{ item.manager.name }}<br>
                                                        {% for phone in item.manager.phones %}
                                                            {{ phone.phone }}<br>
                                                        {% endfor %}
                                                    </td>
                                                {% else %}
                                                {% endif %}

                                            {% endfor %}

                                            <td>
                                                {% for item in formationDistrictManager.items_inactive().get() %}
                                                    {% if item.city_area_id == area.id %}
                                                            {{ item.inactive_staff_info }}<br>
                                                    {% else %}
                                                    {% endif %}

                                                {% endfor %}
                                            </td>


                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="container panel modal-card-foot">
        <div class="level">
            <div class="level-left">&nbsp;</div>
        <div class="level-right">
            <div class="field is-grouped">
            <a href="{{ route('formation-record.index') }}"
               style="margin-right: 10px"
               class="button is-primary">Назад</a>
            <button
                    type="submit"
                    class="button is-success">
                <i class="fas fa-check"></i>Сохранить
            </button>
            </div>
        </div>
        </div>
        </div>

    </form>
    </div>

    <script>
        function calculateSum() {
            var totals = {};
            var inputs = document.querySelectorAll('input[class=calc-field]');

            inputs.forEach(function (element) {
                var value = +(element.value);
                var fieldName = element.dataset.field;

                if (!totals[fieldName] && fieldName) {
                    totals[fieldName] = 0;
                }

                if (!isNaN(value) && fieldName) {
                    totals[fieldName] += value;
                }

                if (isNaN(value) && value !== null) {
                    totals[fieldName] += 0;
                }

                if (fieldName === 'tech_main_action' || fieldName === 'tech_main_reserve') {
                    if(isNaN(value)) {
                        let airRescueData = element.value.split(':');
                        totals[fieldName] += +(airRescueData[0]);
                    }
                }

            });
            fillTotals(totals);
        }

        function fillTotals(totals) {
            Object.keys(totals).map(function (fieldName, value) {
                document.querySelectorAll('input[data-total=' + fieldName + ']')[0].setAttribute('value', totals[fieldName]);
            });
        }

        document.querySelectorAll('input[type=number]').forEach(function (element) {
            element.addEventListener('keyup', function (event) {
                calculateSum();
            })
        });

        calculateSum();
    </script>

{% endblock content %}
