<tr>
    <td style="padding: 5px;">
        {{ item.organisationName() }}
    </td>
    {% for row in fields %}
        <td>
            <input autocomplete="off" class="calc-field" type="text" min=0 {% if row != 'head' %} oninput="validity.valid||(value='');" {% endif %} data-field="{{ row }}" value="{{ item.attribute(row)|default(0) }}"
                   name="items[{{ item.id }}][{{ row }}]">
        </td>
    {% endfor %}
</tr>
