<tr class="total">
    <td style="padding: 5px">
        Итого
    </td>
    <td>
        <input readonly autocomplete="off" data-total="field_1_0_0" type="text" value="{{ item.field_1_0_0 }}"
               name="items[{{ item.id }}][field_1_0_0]">
    </td>
    <td>
        <input readonly autocomplete="off" data-total="field_2_0_0" type="text" value="{{ item.field_2_0_0 }}"
               name="items[{{ item.id }}][field_2_0_0]">
    </td>
    <td>
        <input readonly autocomplete="off" data-total="field_2_1_0" type="text" value="{{ item.field_2_1_0 }}"
               name="items[{{ item.id }}][field_2_1_0]">
    </td>
    <td>
        <input readonly autocomplete="off" data-total="field_2_2_0" type="text" value="{{ item.field_2_2_0 }}"
               name="items[{{ item.id }}][field_2_2_0]">
    </td>
    <td>
        <input readonly autocomplete="off" data-total="field_3_0_0" type="text" value="{{ item.field_3_0_0 }}"
               name="items[{{ item.id }}][field_3_0_0]">
    </td>
    <td>
        <input readonly autocomplete="off" data-total="field_3_0_1" type="text" value="{{ item.field_3_0_1 }}"
               name="items[{{ item.id }}][field_3_0_1]">
    </td>
    <td>
        <input readonly autocomplete="off" data-total="field_3_1_0" type="text" value="{{ item.field_3_1_0 }}"
               name="items[{{ item.id }}][field_3_1_0]">
    </td>
    <td>
        <input readonly autocomplete="off" data-total="field_3_1_1" type="text" value="{{ item.field_3_1_1 }}"
               name="items[{{ item.id }}][field_3_1_1]">
    </td>
    <td>
        <input readonly autocomplete="off" data-total="field_3_2_0" type="text" value="{{ item.field_3_2_0 }}"
               name="items[{{ item.id }}][field_3_2_0]">
    </td>
    <td>
        <input readonly autocomplete="off" data-total="field_3_2_1" type="text" value="{{ item.field_3_2_1 }}"
               name="items[{{ item.id }}][field_3_2_1]">
    </td>
    <td>
        <input readonly autocomplete="off" data-total="field_3_3_0" type="text" value="{{ item.field_3_3_0 }}"
               name="items[{{ item.id }}][field_3_3_0]">
    </td>
    <td>
        <input readonly autocomplete="off" data-total="field_3_3_1" type="text" value="{{ item.field_3_3_1 }}"
               name="items[{{ item.id }}][field_3_3_1]">
    </td>
    <td>
        <input readonly autocomplete="off" data-total="field_4_0_0" type="text" value="{{ item.field_4_0_0 }}"
               name="items[{{ item.id }}][field_4_0_0]">
    </td>
    <td>
        <input readonly autocomplete="off" data-total="field_4_1_0" type="text" value="{{ item.field_4_1_0 }}"
               name="items[{{ item.id }}][field_4_1_0]">
    </td>
    <td>
        <input readonly autocomplete="off" data-total="field_5_0_0" type="text" value="{{ item.field_5_0_0 }}"
               name="items[{{ item.id }}][field_5_0_0]">
    </td>
    <td>
        <input readonly autocomplete="off" data-total="field_6_0_0" type="text" value="{{ item.field_6_0_0 }}"
               name="items[{{ item.id }}][field_6_0_0]">
    </td>
    <td>
        <input readonly autocomplete="off" data-total="field_7_0_0" type="text" value="{{ item.field_7_0_0 }}"
               name="items[{{ item.id }}][field_7_0_0]">
    </td>
    <td>
        <input readonly autocomplete="off" data-total="field_8_0_0" type="text" value="{{ item.field_8_0_0 }}"
               name="items[{{ item.id }}][field_8_0_0]">
    </td>
</tr>
