{% extends "layout/html" %}
{% block content %}
    <style>
        .inline-field {
            display: inline-block;
        }

        .field-half, .field-quarter {
            padding: 0 10px 0 10px;
            margin: 0 0 0 -5px;
        }

        .field-full {
            width: 100%;
        }

        .field-half {
            width: 50%;
        }

        .field-quarter {
            width: 25%;
        }

        .field-third-part {
            width: 33%;
        }

        .field-group {
            display: block;
        }

        .select.full-width-select,
        .select.full-width-select select {
            width: 100%;
        }
    </style>

    <div class="container section">
        <div class="panel"
             id="emergency-situation-form">
            <div class="box"
                 style="margin-top: 20px">
                <h4 class="title">{{ title }}</h4>
                <h5 class="title">{{ item.user.service_type.name|default('') }}</h5>
                <form action="{{ item.id ? route('emergency-situation.update', {'id':item.id}) : route('emergency-situation.store') }}"
                      method="post">
                    {% if item.id %}
                        {{ method_field('PATCH') }}
                    {% endif %}

                    {{ csrf_field() }}

                    <div class="field field-quarter"
                         id="emergency-situation-datepicker"
                         data-value="{{ item.date| date("Y-m-d H:i:s") }}">
                        <label for="incident_type">{{ t('date') }}</label>{#Дата#}
                        <input type="hidden" name="date" :value="dateToSave">
                        <b-datepicker
                                v-model="date"
                                :first-day-of-week="1"
                                :date-formatter="(date) => formatDate(date)"
                                icon-pack="far"
                                style="width: 100%"
                                :day-names="days"
                                :month-names="months"
                                icon="calendar"
                                :readonly="false">
                        </b-datepicker>
                    </div>
                    <div class="field field-quarter"
                         id="emergency-situation-timepicker"
                         data-value="{{ item.time| date("Y-m-d H:i:s") }}">
                        <label for="incident_type">{{ t('time') }}</label>{#Время#}
                        <input type="hidden" name="time" :value="timeToSave">
                        <b-timepicker icon="clock"
                                      icon-pack="far"
                                      type="text"
                                      :ref="'timepicker'"
                                      v-model="time"
                                      style="width: 100%">
                            <div class="field is-grouped" style="justify-content: space-between">
                                <p class="control">
                                    <a class="button is-primary is-small"
                                       @click="()=> {time = new Date(); closeTimePicker}">
                                        <b-icon pack="far" icon="clock"></b-icon>&nbsp;
                                        <span>Сейчас</span>
                                    </a>
                                </p>
                                <p class="control">
                                    <a class="button is-outlined is-small"
                                       @click="closeTimePicker()">
                                        <i class="fas fa-check"></i>&nbsp;<span>Принять</span>
                                    </a>
                                </p>
                            </div>
                        </b-timepicker>
                    </div>
                    <div class="field inline-field field-half">
                        <label for="location">{{ t('/emergency-situation.location') }}</label>{#Место ЧС#}
                        <input type="text"
                               class="input"
                               name="location"
                               id="location"
                               value="{{ item.location }}"/>
                    </div>
                    <div class="field is-full">
                        <label for="description">{{ t('/emergency-situation.description') }}</label>{#Информация о событии#}
                        <textarea name="description" class="textarea" id="description" cols="30" rows="10">{{ item.description }}</textarea>
                    </div>

                    <div class="columns">

                        <div class="column">
                            <label for="wounded">{{ t('/emergency-situation.wounded') }}</label>{#Пострадавших людей/детей#}
                            <input type="number"
                                   class="input"
                                   name="wounded"
                                   id="wounded"
                                   value="{{ item.wounded }}"/>
                        </div>

                        <div class="column">
                            <label for="died">{{ t('/emergency-situation.died') }}</label>{#Погибло людей/детей#}
                            <input type="number"
                                   class="input"
                                   name="died"
                                   id="died"
                                   value="{{ item.died }}"/>
                        </div>

                        <div class="column">
                            <label for="evacuated">{{ t('/emergency-situation.evacuated') }}</label>{#Эвакуированных людей/детей#}
                            <input type="number"
                                   class="input"
                                   name="evacuated"
                                   id="evacuated"
                                   value="{{ item.evacuated }}"/>
                        </div>

                        <div class="column">
                            <label for="hospitalized">{{ t('/emergency-situation.hospitalized') }}</label>{#Госпитализированных людей/детей#}
                            <input type="number"
                                   class="input"
                                   name="hospitalized"
                                   id="hospitalized"
                                   value="{{ item.hospitalized }}"/>
                        </div>

                    </div>
                    <div class="columns">

                        <div class="column">
                            <label for="injured">{{ t('/emergency-situation.injured') }}</label>{#Травмированных людей/детей#}
                            <input type="number"
                                   class="input"
                                   name="injured"
                                   id="injured"
                                   value="{{ item.injured }}"/>
                        </div>


                        <div class="column">
                            <label for="poisoned">{{ t('/emergency-situation.poisoned') }}</label>{#Отравление людей/детей#}
                            <input type="number"
                                   class="input"
                                   name="poisoned"
                                   id="poisoned"
                                   value="{{ item.poisoned }}"/>
                        </div>

                        <div class="column">
                            <label for="saved">{{ t('/emergency-situation.saved') }}</label>{#Спасено людей/детей#}
                            <input type="number"
                                   class="input"
                                   name="saved"
                                   id="saved"
                                   value="{{ item.saved }}"/>
                        </div>

                        <div class="column">
                            <label for="saved_animals">{{ t('/emergency-situation.saved_animals') }}</label>{#Спасено животных#}
                            <input type="number"
                                   class="input"
                                   name="saved_animals"
                                   id="saved_animals"
                                   value="{{ item.saved_animals }}"/>
                        </div>

                    </div>
                    {% if user.hasRight('CAN_SEND_EMERGENCY_SITUATION_NOTIFICATION_101') %}
                        <div class="columns">
                            <div class="column">
                                <label>
                                    <input type="checkbox" name="notification_101" {{ item.notification_101 ? 'checked' : '' }} value="1">&nbsp;<b>{{ t('/emergency-situation.notification_sent_for_service', {service: 101}) }}</b>{#Отправить уведомление диспетчеру 101#}
                                </label>
                            </div>
                        </div>
                    {% endif %}
                    {% if user.hasRight('CAN_SEND_EMERGENCY_SITUATION_NOTIFICATION_112') %}
                        <div class="columns">
                            <div class="column">
                                <label>
                                    <input type="checkbox" name="notification_112" {{ item.notification_112 ? 'checked' : '' }} value="1">&nbsp;<b>{{ t('/emergency-situation.notification_sent_for_service', {service: 112}) }}</b>{#Отправить уведомление диспетчеру 112#}
                                </label>
                            </div>
                        </div>
                    {% endif %}

                    <div class="buttons has-text-right is-grouped is-right" style="">
                        <button type="submit" class="button is-success"><i class="fas fa-check"></i>&nbsp;{{ t('save') }}{#Сохранить#}
                        </button>
                        <a href="{{ url('/emergency-situation') }}" class="button is-light">{{ t('cancel') }}{#Отменить#}</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
