{% extends "layout/html" %}
{% block content %}
    <div class="container section">
    <div class="level">
        <div class="level-left">
        <h4 class="title"
            style="padding: 3px 15px">{{ t('/emergency-situation.title') }}{#Оперативная информация#}
        </h4>
        </div>
        <div class="level-right">
            <a href="{{ route('emergency-situation.create') }}" class="button is-main is-basic"
               >
                <i class="fas fa-plus"></i>&nbsp;{{ t('add') }}{#Добавить#}
            </a>
        </div>
    </div>
        <form action="">
            <div class="control">
                <p>{{ t('/emergency-situation.notification_sent') }}</p>{#Отправлены уведомления#}
                <select onchange="this.form.submit()" name="popup_notification" class="select control">
                    <option value=""></option>
                    {% for item in popup_notification_types %}
                        <option {% if popup_notification is defined and popup_notification == item %} selected {% endif %} value="{{ item }}">{{ item }}</option>
                    {% endfor %}
                </select>
            </div>
        </form>
    <div class="panel">
        <table class="table is-narrow is-hoverable is-fullwidth is-striped is-small">
            <thead>
            <tr>
                <th>{{ t('datetime') }}</th>{#Дата и время#}
                <th>{{ t('/emergency-situation.service') }}</th>{#Служба взаимодействия#}
                <th>{{ t('/emergency-situation.place') }}</th>{#Место происшествия#}
                <th>{{ t('/emergency-situation.notification_sent_for') }}</th>{#Отправлено для: 101,112#}
                <th>&nbsp;</th>
            </tr>
            </thead>
            {% for item in items %}
                <tr>
                    <td>{{ item.date|date('d-m-Y') }} {{ item.time }}</td>
                    <td>{{ item.user.service_type.name|default('') }}</td>
                    <td>{{ item.location }}</td>
                    <td>{{ item.notification_101 ? '101' : '' }} {{ item.notification_112 ? '112' : '' }}</td>
                    <td class="has-text-right">
                        <a href="/emergency-situation/{{ item.id }}/download"
                           class="button is-small is-success">
                            <i class="fas fa-download"></i>&nbsp;
                        </a>
                        <a href="{{ route('emergency-situation.show', item.id) }}"
                           class="button is-small is-info">
                            <i class="fas fa-eye"></i>&nbsp;
                            {{ t('view') }}{#Просмотр#}
                        </a>
                        <a href="{{ route('emergency-situation.edit', item.id) }}"
                           class="button is-small is-basic">
                            <i class="fas fa-pencil-alt"></i>&nbsp;
                            {{ t('edit') }}{#Редактировать#}
                        </a>
                        <form style="display: inline;" onsubmit="return confirm('Вы действительно хотите удалить эту запись?');"
                              method="POST"
                              action="{{ route('emergency-situation.destroy', item.id) }}">
                            {{ csrf_field() }}
                            <input type="hidden" name="_method" value="DELETE">
                            <button title="Удалить"
                                    class="button is-small is-danger">
                                <i class="fas fa-trash"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td class="is-centered"><h1 class="title">{{ t('no_records') }}</h1></td>{#Нет записей#}
                </tr>
            {% endfor %}
        </table>
    </div>
    </div>
{% endblock content %}
