{% extends "layout/html" %}
{% block content %}
    <style>
        .emergency-situation-view p {
            margin: 5px 0 0 0;
        }
    </style>
    <div class="level">
        <div class="level-item"></div>
        <div class="level-item"></div>
        <div class="level-item has-text-centered">
            <div>
                <a href="/emergency-situation/{{ item.id }}/download" class="button is-info">Скачать в .DOCX</a>
            </div>
        </div>
    </div>

    <div class="emergency-situation-view section container">
        <p style="text-align: center; margin-bottom: 20px"><b>Экстренная информация по чрезвычайной ситуации</b></p>
        <p><b>Дата происшествия:</b>&nbsp;{{ item.date }}</p>
        <p><b>Время происшествия:</b>&nbsp;{{ item.readable_time }}</p>
        <p><b>Место чс:</b>&nbsp;{{ item.location }}</p>
        <p><b>Количество пострадавших/ из них детей: в том числе:</b></p>
        <p><b>Информация о событии</b></p>
        <p>{{ item.description }}</p>
        <p>Погибло {{ item.died }}</p>
        <p>Травмировано {{ item.injured }}</p>
        <p>Пострадало {{ item.wounded }}</p>
        <p>Отравление {{ item.poisoned }}</p>
        <p>Госпитализировано {{ item.hospitalized }}</p>
        <p>Эвакуировано {{ item.evacuated }}</p>
        <p>Спасено {{ item.saved }}</p>
        <p>Спасено животных {{ item.saved_animals }}</p>

        <p style="margin-top: 20px">
            <b>Должность, Ф.И.О. оперативного дежурного УЕДДС: </b>&nbsp;{{ item.user_name }} ___________ (подпись)
        </p>
    </div>
{% endblock content %}

