{% extends "layout/html" %}
{% block content %}
    <div class="container">
        <div class="panel section">
            <div class="level">
                <div class="level-left">
                    <h4 class="title">{{ dictinfo.title }}</h4>
                </div>
                <div class="level-right has-text-right">
                    <a href="{{ url('/dictionaries/edit/' ~ dictinfo.id ~ '/') }}" class="button is-basic is-main"><i class="fas fa-plus"></i>&nbsp;Создать запись</a>
                </div>
            </div>
            <table class="table is-striped is-narrow is-hoverable">
                <thead>
                <tr>
                    <th>№</th>
                    {% for field in fields %}
                        <th>{{ field }}</th>
                    {% endfor %}
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                {% for record in dictionary %}
                    <tr>
                        <td>{{ record.id }}</td>
                        {% for field in fields %}
                            <td class="max-width: 20%">{{ attribute(record, field) }}</td>
                        {% endfor %}
                        <td>
                            <form method="POST"
                                  onsubmit="return confirm('Вы действительно хотите удалить эту запись?');"
                                  action="{{ url(route('dictionaries.row.delete', {'dict_id': dictinfo.id, 'row_id': record.id })) }}">
                                <input name="_method" type="hidden" value="DELETE">
                                {{ csrf_field() }}

                                <a href="{{ url('dictionaries/edit/' ~ dictinfo.id ~ '/' ~ record.id) }}" class="button is-small is-basic">
                                    <i class="fas fa-edit"></i>&nbsp;Изменить
                                </a>

                                <button type="submit"
                                        class="button is-small is-danger">
                                    <i class="fas fa-trash"></i>&nbsp;Удалить
                                </button>
                            </form>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td><h5 class="">Нет записей</h5></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
