{% extends "layout/html" %}
{% block content %}
    <div class="container section" id="vue">
        <h1 class="title">Аналитика ДЧС</h1>
        <b-tabs position="is-centered" class="block" id="other-rides-block">

            {% if user.hasRight('CAN_ACCESS_REPORT_112_EMERGENCY_PERIOD') %}
                <b-tab-item label="Отчет 112 за период">
                    <report112-emergency :reasons="{{ incident_types }}"></report112-emergency>
                </b-tab-item>
            {% endif %}

            {% if user.hasRight('CAN_ACCESS_REPORT_BRANCHES') %}
                <b-tab-item label="Подтопления / падения веток">
                    <report112-branches :incident-types="{{ branches }}"/>
                </b-tab-item>
            {% endif %}

            {% if user.hasRight('CAN_ACCESS_REPORT_112_EMERGENCY_REPORT') %}
                <b-tab-item label="Чрезвычайные ситуации">
                    <report-emergency-type-period
                            :records="{{ records }}"
                            :incident-types="{{ incidentTypes }}"
                            :trip-results="{{ tripResults }}"
                    >
                    </report-emergency-type-period>
                </b-tab-item>
            {% endif %}

            {% if user.hasRight('CAN_ACCESS_REPORT_BRANCHES') %}
                <b-tab-item label="Отчет 112 По происшествиям">
                    <report112-branches :incident-types="{{ incident_types }}"/>
                </b-tab-item>
            {% endif %}

        </b-tabs>

    </div>
{% endblock %}