{% extends "layout/html" %}
{% block content %}
    <div class="section container"><h4 class="title">Карточка 101</h4>
    <div class="columns is-gapless">
        <div class="column">
            <div class="tabs buttab">
                <ul class="">
                    <li class="is-active"><a href="">Открытые</a></li>
                    <li><a href="">Закрытые</a></li>
                    <li><a href="">Все карточки</a></li>
                </ul>
            </div>
        </div>
        <div class="column is-narrow">
            <div>
                <a href="/card/add101/" class="button is-basic is-main" style="margin: 2px 10px 2px"><i class="fas fa-plus"></i>&nbsp;Новая карточка</a>
                {#{% if id is defined or filter is defined %}#}
                    <a href="/card/101/" class="button is-info is-main" style="margin: 2px 10px 2px"><i class="fas fa-crosshairs"></i>&nbsp;Сбросить фильтр</a>
                {#{% endif %}#}
            </div>
        </div>
    </div>
    <div class="panel">
        <table class="table is-narrow is-hoverable is-fullwidth is-striped is-small">
            <thead>
            <tr>
                <th>№ КУИ</th>
                <th>
                    <a href="?sort=location">Адрес</a>
                    {#{% if user.anyRole(['admin','dispatcher_od', 'Диспетчер 101']) %}#}
                        <form>
                            <select name="filter[id]" class="select control" onchange="this.form.submit()">
                                {% for f in tickets %}
                                    <option {% if id is defined and id == f.id %} selected {% endif %} value="{{ f.id }}">{{ f.location }}</option>
                                {% endfor %}
                            </select>
                        </form>
                    {#{% endif %}#}
                </th>
                <th>
                    <a href="?sort=city_area_id">Район</a>
                    <form>
                        <select name="filter[city_area]" class="select control" onchange="this.form.submit()">
                            {% for f in city_areas %}
                                <option {% if city_area is defined and city_area == f.ticket.city_area.id|default('') %} selected {% endif %} value="{{ f.id }}">{{ f.name }}</option>
                            {% endfor %}
                        </select>
                    </form>
                </th>
                <th class="has-text-right">
                    <a href="?sort=created_at">Дата и время</a>
                    <form>
                        <select name="filter[id]" class="select control" onchange="this.form.submit()">
                            {% for f in tickets %}
                                <option {% if id is defined and id == f.id %} selected {% endif %} value="{{ f.id }}">{{ f.created_at|date('H:i d.m.Y') }}</option>
                            {% endfor %}
                        </select>
                    </form>
                </th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            {% for ticket in tickets %}
                <tr>
                    <td class="has-text-right">{{ ticket.id }}</td>
                    <td>{{ ticket.location }}</td>
                    <td>{{ ticket.city_area.name|default('-') }} {% if ticket.crossroad_1_id %}({{ ticket.crossroad_1.name|default('-') }} &times; {{ ticket.crossroad_2.name|default('-') }}){% endif %}</td>
                    <td class="has-text-right">{{ ticket.created_at|date('H:i d.m.Y') }}</td>
                    <td class="has-text-right">
                        <a href="{{ url('/card/add101/' ~ ticket.id) }}" class="button is-basic is-small"><i class="fas fa-pencil-alt"></i>&nbsp; Редактировать</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td class="is-centered"><h1 class="title">Нет выбранных заявок</h1></td>
                </tr>
            {% endfor %}
        </table>
        {% include "_templates/pagination" with {'items': tickets, 'per_page': per_page} %}
    </div>
    </div>
{% endblock content %}
