{% extends "layout/html" %}
{% block content %}
    <div class="section container">
        <h4 class="title">Карточка 101</h4>
        <form action="" method="post">
            {{ csrf_field() }}
            <div id="other-rides">
                <other-rides
                        :ride-types="{{ ride_types }}"
                        {#:other-ride="{{ other_ride }}"#}
                        :fire-departments="{{ fire_departments_vue }}"
                        :staff="{{ staff }}"
                ></other-rides>
            </div>
            <button type="submit" class="button is-success">Сохранить</button>
        </form>
    </div>
{% endblock content %}
