{% extends "layout/html" %}
{% block content %}
    <script>
        window.ticket101add = {
            records: {{ ticket.other_records | json_encode() | raw }},
            other_records_unique: {{ other_records_unique | json_encode() | raw }},
            trunks: {{ trunks | json_encode() | raw }},
            ticketId: '{{ ticket.id }}'
        };
    </script>

    {% include "layout/yandex-maps-bus.twig" with {areas: city_area} %}

    <section class="container section" id="cardadd101">
        <h4 class="title">Добавление: Карточка 101</h4>
        <form action="" method="post" id="card-101-form">
            {{ csrf_field() }}
            <span id="card-101-form-id" class="is-hidden" data-id="{{ ticket.id|default(0) }}"></span>
            <div class="tabs buttab is-boxed" id="">
                <ul>
                    <li>
                        <a onclick="window.add101tabs.setTab(0);"><i class="fas fa-phone"></i>&nbsp;Путевка</a>
                    </li>
                    <li>
                        <a onclick="window.add101tabs.setTab(1);">
                            <i class="fas fa-truck-moving"></i>&nbsp;Подразделения
                        </a>
                    </li>
                    <li>
                        <a onclick="window.add101tabs.setTab(2);"><i class="fas fa-envelope"></i>&nbsp;Уведомления</a>
                    </li>
                    <li>
                        <a onclick="window.add101tabs.setTab(3);"><i class="fas fa-info-circle"></i>&nbsp;Прочее</a>
                    </li>
                    <li>
                        <a onclick="window.add101tabs.setTab(4);">
                            <i class="fas fa-check-double"></i>&nbsp;Итоги выезда
                        </a>
                    </li>
                </ul>
            </div>
            <div id="preload_pane" class="hero is-loading has-text-centered" style="height: 30vh; align-items: center">
                <div class="hero-body has-text-info">
                    <i class="fas fa-circle-notch fa-spin fa-6x"></i>
                </div>
            </div>
            <div class="panels">
                <div id="tab_call" class="is-hidden">

                    <div class="columns">
                        <div class="column">
                            <div class="field" data-component="location-input"
                                 data-value="{{ ticket.location|default('') }}">
                                <label for="location">Адрес <a href="{{ url('/card/mapscreen') }}"
                                                               target="_blank"
                                                               class="button is-basic is-main"><i
                                                class="far fa-map"></i>&nbsp;Открыть карту</a></label>
                                <input name="location"
                                       id="location"
                                       class="input"
                                       v-model="location"
                                       @blur="onBlur"
                                       @focus="onFocus">
                                <div class="dropdown-menu"
                                     :style="{'display': showList && location === '' ? 'block': 'none'}"
                                     style="position: relative">
                                    <div class="dropdown-content">
                                        <a class="dropdown-item"
                                           @click="selectItem(item)"
                                           v-for="item in items">
                                            <div class="row">
                                                <span v-html="item.location"></span>
                                                <small>, <span v-html="item.object_name"></span></small>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label for="fireplace">Место пожара</label>
                                <input
                                        id="fireplace"
                                        name="fireplace"
                                        class="input"
                                        value="{{ ticket.fireplace }}"
                                >
                            </div>
                            <div class="field">
                                <div class="control">
                                    <label for="pre_information">Предварительная информация</label>
                                    <textarea class="textarea" name="pre_information" id="pre_information" cols="30"
                                              rows="2">{{ ticket.pre_information|default('') }}</textarea>
                                </div>
                            </div>

                            <div class="columns">
                                <div class="column">
                                    <p class="control"
                                       data-name="fire_department_id"
                                       data-component="buefy-common-select"
                                       data-value="{{ ticket.fire_department_id|default(0) }}">
                                        <label for="fire_department_id">Микроучасток</label>
                                        <input type="hidden"
                                               name="fire_department_id"
                                               required
                                               id="fire_department_id"
                                               v-model="selectedId">
                                        <buefy-common-select
                                                :options='{{ fire_departments | json_encode() | raw }}'
                                                :min-length="1"
                                                required="required"
                                                v-model="selectedId">
                                        </buefy-common-select>
                                    </p>
                                </div>
                                <div class="column">
                                    <p class="control">
                                        <label for="city_area">Район города</label>
                                    </p>
                                    <div class="select"
                                         data-component="simple-select"
                                         data-special="specialPlan"
                                         data-value="{{ ticket.city_area_id }}"
                                         data-name="city_area_id">
                                        <select name="city_area_id" id="city_area" v-model="selectedId">
                                            <option value="">-</option>
                                            {% for area in city_area %}
                                                <option value="{{ area.id }}">{{ area.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="column">
                                    <label for="fire_level_id">Ранг пожара</label>
                                    <div class="select"
                                         data-component="simple-select"
                                         data-special="specialPlan"
                                         data-value="{{ ticket.fire_level_id }}"
                                         data-name="fire_level_id"
                                         style="display: block">
                                        <select name="fire_level_id" id="fire_level_id" required
                                                v-model="selectedId">
                                            <option value="">-</option>
                                            {% for object in fire_levels %}
                                                <option value="{{ object.id }}">{{ object.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="column">
                                </div>
                            </div>

                            <div class="columns">
                                <p class="column">
                                    <label for="storey_count">Этажность</label>
                                    <input min=0 oninput="validity.valid||(value='');" type="number" class="input"
                                           name="storey_count" id="storey_count"
                                           value="{{ ticket.storey_count|default('') }}"/>
                                </p>
                                <p class="column">
                                    <label for="floor">На каком этаже пожар</label>
                                    <input min=0 oninput="validity.valid||(value='');" type="number" class="input"
                                           name="floor" id="floor"
                                           value="{{ ticket.floor|default('') }}"/>
                                </p>
                            </div>

                            <div class="field">
                                <p class="control is-expanded">
                                    <label for="caller_name">ФИО Заявителя</label>
                                    <input type="text" class="input" name="caller_name" id="caller_name"
                                           value="{{ ticket.caller_name|default('') }}"/>
                                </p>
                            </div>
                            <div class="field">
                                <p class="control">
                                    <label for="caller_phone">Телефон заявителя</label>
                                    <input type="text" class="input" name="caller_phone" id="caller_phone"
                                           value="{{ ticket.caller_phone|default('') }}"/>
                                </p>
                            </div>
                        </div>
                        <div class="column">
                            <div class="field">
                                <p class="control"
                                   data-component="object-name-input"
                                   data-value="{{ ticket.object_name|default('') }}">
                                    <label for="object_name">Наименование объекта</label>
                                    <input type="text"
                                           class="input"
                                           name="object_name"
                                           id="object_name"
                                           v-model="object_name"
                                    />
                                </p>
                            </div>
                            <div class="columns">
                                <div class="column">
                                    <p class="control"
                                       data-component="buefy-common-select"
                                       data-name="operational_plan_id"
                                       data-value="{{ ticket.operational_plan_id|default(0) }}">
                                        <label for="operational_plan_id">Оперативный план</label>
                                        <input type="hidden"
                                               name="operational_plan_id"
                                               id="operational_plan_id"
                                               v-model="selectedId">
                                        <buefy-common-select
                                                :options='{{ operational_plans | json_encode() | raw }}'
                                                :min-length="1"
                                                v-model="selectedId">
                                        </buefy-common-select>
                                    </p>
                                </div>
                                <div class="column" style="margin-top: 60px;">
                                    {% if ticket.operational_plan_id %}
                                        <a href="{{ url('/pdf/get-operational-plan/' ~ ticket.operational_plan_id) }}">
                                            <span class="file-icon">
                                                <i class="fas fa-file-pdf"></i>
                                            </span>
                                        </a>
                                    {% endif %}
                                </div>
                                <div class="column">
                                    <label for="operational_card_id">Оперативная карточка</label>
                                    <div class="select"
                                         data-component="simple-select"
                                         data-special="specialPlan"
                                         data-value="{{ ticket.operational_card_id }}"
                                         data-name="operational_cards"
                                         style="display: block">
                                        <select name="operational_card_id" id="operational_card_id"
                                                v-model="selectedId">
                                            <option value="">-</option>
                                            {% for object in operational_cards %}
                                                <option value="{{ object.id }}">{{ object.oc_number }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="column" style="margin-top: 60px;">
                                    {% if ticket.operational_card_id %}
                                        <a href="{{ url('/pdf/get-operational-card/' ~ ticket.operational_card_id) }}">
                                            <span class="file-icon">
                                                <i class="fas fa-file-pdf"></i>
                                            </span>
                                        </a>
                                    {% endif %}
                                    </p>
                                </div>
                            </div>
                            <div class="field">
                                <label for="building_description">Конструктивные особенности</label>
                                <textarea class="textarea" name="building_description" id="building_description"
                                          cols="30"
                                          rows="2">{{ ticket.building_description|default('') }}</textarea>
                            </div>
                            <div class="field">
                                <label for="year_of_development">Год постройки</label>
                                <input
                                        id="year_of_development"
                                        name="year_of_development"
                                        class="input"
                                        value="{{ ticket.year_of_development }}"
                                >
                            </div>
                            <div class="field">
                                <label for="square">Площадь объекта</label>
                                <input
                                        id="square"
                                        name="building_square"
                                        class="input"
                                        value="{{ ticket.building_square }}"

                                >
                            </div>
                            <div class="field">
                                <div class="checkbox">
                                    <input type="hidden" name="people_in_danger" value="0"/>
                                    <input type="checkbox" name="people_in_danger" value="1" id="people_in_danger"
                                           {% if ticket.people_in_danger %}checked{% endif %}/>
                                    <label for="people_in_danger">Опасность для людей</label>
                                </div>
                            </div>
                            <div class="field">
                                <label for="additional_description">Дополнительная информация</label>
                                <textarea class="textarea" name="additional_description" id="additional_description"
                                          cols="30"
                                          rows="2">{{ ticket.additional_description|default('') }}</textarea>
                            </div>

                        </div>
                    </div>
                </div>
                <div id="tab-truck" class="is-hidden">
                    <h5 class="subtitle">Время выезда, прибытия, возвращения подразделений:</h5>

                    <div class="field">
                        <div data-component="timepicker"
                             data-value="{{ attribute(ticket, 'loc_time')|default('') }}">
                            <label for="loc_time">Время локализации</label>
                            <b-timepicker icon="clock" icon-pack="far" @focus="closeAll()" type="text" v-model="value"
                                          style="max-width: 6rem;" name="loc_time" :value="value">
                                <div class="field is-grouped" style="justify-content: space-between">
                                    <p class="control">
                                        <a class="button is-primary is-small"
                                           @click="()=> {value = new Date(); close();}">
                                            <b-icon pack="far" icon="clock"></b-icon>&nbsp;
                                            <span>Сейчас</span>
                                        </a>
                                    </p>
                                    <p class="control">
                                        <a class="button is-outlined is-small" @click="close()">
                                            <i class="fas fa-check"></i>&nbsp;<span>Принять</span>
                                        </a>
                                    </p>
                                </div>
                            </b-timepicker>
                        </div>
                        <div data-component="timepicker"
                             data-value="{{ attribute(ticket, 'liqv_time')|default('') }}">
                            <label for="liqv_time">Время ликвидации</label>
                            <b-timepicker icon="clock" icon-pack="far" @focus="closeAll()" type="text" v-model="value"
                                          style="max-width: 6rem;" name="liqv_time" :value="value">
                                <div class="field is-grouped" style="justify-content: space-between">
                                    <p class="control">
                                        <a class="button is-primary is-small"
                                           @click="()=> {value = new Date(); close();}">
                                            <b-icon pack="far" icon="clock"></b-icon>&nbsp;
                                            <span>Сейчас</span>
                                        </a>
                                    </p>
                                    <p class="control">
                                        <a class="button is-outlined is-small" @click="close()">
                                            <i class="fas fa-check"></i>&nbsp;<span>Принять</span>
                                        </a>
                                    </p>
                                </div>
                            </b-timepicker>
                        </div>
                    </div>

                    <table class="table is-narrow is-hoverable is-fullwidth" data-component="road-trip">
                        <tr>
                            <th>Подразделение</th>
                            <th>Отделения</th>
                            <th>Принято в работу</th>
                            <th>Время выезда</th>
                            <th>Время прибытия</th>
                            <th>Время возвращения</th>
                            <th>
                                <a @click="sendAllTripPlans()"
                                   class="button is-primary is-outlined"><i class="fas fa-bus"></i>&nbsp;Отправка сил и
                                    средств согласно рангу
                                </a>
                            </th>
                        </tr>
                        {% for index,ssv in ssv_out %}
                            <tr>
                                <td class="has-text-right"
                                        {% if ssv.res.fire_department_id is defined and ssv.res.fire_department_id == ssv.id and ssv.res.recommended %}
                                            style="color: green"
                                        {% endif %} id="ph_{{ ssv.id }}_text">{{ ssv.name }}
                                </td>
                                <td>
                                    {% for i in ticket.results|default([]) %}
                                        {% if i.tech.department is defined and i.tech.formation_tech_report.dept_id == ssv.id and i.tech.status == 'action' %}
                                            <label for="">
                                                <input @change="selectToSend($event, {{ i.id }})" {% if i.recommended or i.dispatched %} {{ 'checked' }} {% endif %}
                                                       name="departments_to_ride[{{ ssv.id }}][{{ i.id }}]"
                                                       id="dept_{{ i.id }}" value="1"
                                                       type="checkbox"> {{ i.tech.department }}
                                            </label>
                                            <br>
                                        {% endif %}
                                    {% endfor %}
                                    {% for i in ticket.results|default([]) %}
                                        {% if i.tech.department is defined and i.tech.formation_tech_report.dept_id == ssv.id and i.tech.status == 'reserve' %}
                                            <label for="">
                                                <input @change="selectToSend($event, {{ i.id }})" {% if i.recommended or i.dispatched %} {{ 'checked' }} {% endif %}
                                                       name="departments_to_ride[{{ ssv.id }}][{{ i.id }}]"
                                                       id="dept_{{ i.id }}" value="1"
                                                       type="checkbox"> {{ i.tech.reserve }}
                                                <span class="small">Резерв</span>
                                            </label>
                                            <br>
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for i in ticket.results|default([]) %}
                                        {% if i.tech.department is defined and i.tech.formation_tech_report.dept_id == ssv.id %}
                                            <input id="accepted_time_{{ i.id }}" style="height: 25px; font-size: 12px;"
                                                   type="text" class="input"
                                                   value="{% if i.dispatched and i.out_time %} {{ i.updated_at.format('d.m.Y')|default('') }} {% endif %}"
                                                   readonly>
                                        {% endif %}
                                    {% endfor %}

                                </td>
                                <td>
                                    {% for i in ticket.results|default([]) %}
                                        {% if i.tech.department is defined and i.tech.formation_tech_report.dept_id == ssv.id %}
                                            <input id="out_time_{{ i.id }}" style="height: 25px; font-size: 12px;"
                                                   type="text" class="input"
                                                   value="{% if i.dispatched and i.out_time %} {{ i.out_time|default('') }} {% endif %}"
                                                   readonly>
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for i in ticket.results|default([]) %}
                                        {% if i.tech.department is defined and i.tech.formation_tech_report.dept_id == ssv.id %}

                                            <div class="field">
                                                {#<div data-component="timepicker"#}
                                                {#data-value="{{ attribute(ticket, 'liqv_time')|default('') }}">#}
                                                {#<b-timepicker icon="clock" icon-pack="far" @focus="closeAll()" type="text" v-model="value"#}
                                                {#style="max-width: 6rem;" name="liqv_time{{ random() }}" :value="value">#}
                                                {#<div class="field is-grouped" style="justify-content: space-between">#}
                                                {#<p class="control">#}
                                                {#<a class="button is-primary is-small"#}
                                                {#@click="()=> {value = new Date(); close();}">#}
                                                {#<b-icon pack="far" icon="clock"></b-icon>&nbsp;#}
                                                {#<span>Сейчас</span>#}
                                                {#</a>#}
                                                {#</p>#}
                                                {#<p class="control">#}
                                                {#<a class="button is-outlined is-small" @click="close()">#}
                                                {#<i class="fas fa-check"></i>&nbsp;<span>Принять</span>#}
                                                {#</a>#}
                                                {#</p>#}
                                                {#</div>#}
                                                {#</b-timepicker>#}
                                                {#</div>#}
                                                {#<t-picker inputdate="{{ attribute(ticket, 'loc_time')|default('')|raw }}"></t-picker>#}
                                                <t-picker name="time_arrive[{{ i.id }}]"
                                                          inputdate="{{ i.arrive_time }}"></t-picker>
                                            </div>


                                            {#<b-field>#}
                                            {#<b-timepicker#}
                                            {#value="{value = new Date()}"#}
                                            {#v-model="value"#}
                                            {#placeholder=""#}
                                            {#icon="clock"#}
                                            {#editable>#}
                                            {#</b-timepicker>#}
                                            {#</b-field>#}

                                            {#<input type="datetime-local">#}

                                            {#<input style="height: 25px; font-size: 12px;" type="text" class="input"#}
                                            {#value="{% if i.dispatched and i.arrive_time %} {{ i.arrive_time|default('') }} {% endif %}"#}
                                            {#readonly>#}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                {#<td>
                                    {% for i in ticket.results|default([]) %}
                                        {% if i.tech.department is defined and i.tech.formation_tech_report.dept_id == ssv.id %}
                                            <input style="height: 25px; font-size: 12px;" type="text" class="input"
                                                   value="{% if i.dispatched and i.loc_time %} {{ i.loc_time|default('') }} {% endif %}"
                                                   readonly>
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for i in ticket.results|default([]) %}
                                        {% if i.tech.department is defined and i.tech.formation_tech_report.dept_id == ssv.id %}
                                            <input style="height: 25px; font-size: 12px;" type="text" class="input"
                                                   value="{% if i.dispatched and i.liqv_time %} {{ i.liqv_time|default('') }} {% endif %}"
                                                   readonly>
                                        {% endif %}
                                    {% endfor %}
                                </td>#}
                                <td>
                                    {% for i in ticket.results|default([]) %}
                                        {% if i.tech.department is defined and i.tech.formation_tech_report.dept_id == ssv.id %}
                                            <input id="ret_time_{{ i.id }}" style="height: 25px; font-size: 12px;"
                                                   type="text" class="input"
                                                   value="{% if i.dispatched and i.ret_time %} {{ i.ret_time|default('') }} {% endif %}"
                                                   readonly>
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>

                                    {% for i in ticket.results|default([]) %}
                                        {% if i.tech.department is defined and i.tech.formation_tech_report.dept_id == ssv.id %}
                                            {% if i.dispatched %}
                                                <a style="height: 25px;" disabled="disabled"
                                                   class="button is-primary small is-outlined"><i
                                                            class="fas fa-bus"></i>&nbsp;Подразделение отправлено
                                                    - {{ i.tech.department ?? i.tech.reserve }}</a>
                                            {% else %}
                                                <a style="height: 25px;"
                                                   @click="sendOneCheck($event, {{ ssv.id }}, {{ i.tech.id }}, {{ i.id }})"
                                                   class="button is-primary small is-outlined"><i
                                                            class="fas fa-bus"></i>&nbsp;Отправить подразделение
                                                    - {{ i.tech.department ?? i.tech.reserve }}</a>
                                            {% endif %}

                                        {% endif %}
                                    {% endfor %}

                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div id="tab_notify" class="is-hidden">
                    <h5 class="subtitle">Время сообщения руководству ГУ:</h5>
                    <div class="field is-grouped">
                        {% for name,title in gu_notify %}
                            <div class="control" data-component="timepicker"
                                 data-value="{{ attribute(ticket, 'notify_' ~ name ~ '_time')| default('') }}">
                                <label for="notify_{{ name }}_time">{{ title }}</label>
                                <b-timepicker @focus="closeAll()" type="text" v-model="value" style="max-width: 4rem"
                                              name="notify_{{ name }}_time" :value="value" id="notify_{{ name }}_time">
                                    <div class="field is-grouped" style="justify-content: space-between">
                                        <p class="control">
                                            <a class="button is-primary is-small"
                                               @click="()=> {value = new Date(); close();}">
                                                <b-icon pack="far" icon="clock"></b-icon>&nbsp;
                                                <span>Сейчас</span>
                                            </a>
                                        </p>
                                        <p class="control">
                                            <a class="button is-outlined is-small" @click="close()">
                                                <i class="fas fa-check"></i>&nbsp;<span>Принять</span>
                                            </a>
                                        </p>
                                    </div>
                                </b-timepicker>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="field" data-component="timepicker"
                         data-value="{{ ticket.next_notify_time|default('') }}">
                        <label for="next_notify_time">Время следующего взаимодействия</label>
                        <b-timepicker @focus="closeAll()" v-model="value" type="text" style="max-width: 4rem"
                                      name="next_notify_time" id="next_notify_time" :value="value">
                            <div class="field is-grouped" style="justify-content: space-between">
                                <p class="control">
                                    <a class="button is-primary is-small"
                                       @click="()=> {value = new Date(); close();}">
                                        <b-icon pack="far" icon="clock"></b-icon>&nbsp;
                                        <span>Сейчас</span>
                                    </a>
                                </p>
                                <p class="control">
                                    <a class="button is-outlined is-small" @click="close()">
                                        <i class="fas fa-check"></i>&nbsp;<span>Принять</span>
                                    </a>
                                </p>
                            </div>
                        </b-timepicker>
                    </div>
                    <h5 class="subtitle">Службы</h5>
                    {% if ticket and ticket.id %}
                        {% include 'card/elements/notification-services.twig' with {ticket: ticket} %}
                    {% endif %}
                </div>
                <div id="tab_other" class="is-hidden">
                    <h5 class="subtitle">Обстановка с места пожара:</h5>
                    <div id="ticket101_other_records"></div>
                    <div class="field">
                        <label for="add_info">Дополнительная информация</label>
                        <textarea name="add_info" id="add_info" class="textarea" cols="30" rows="3"></textarea>
                    </div>
                </div>
                <div id="tab_summary" class="is-hidden">

                    <div class="control">
                        <label for="kui">Номер КУИ:
                        </label>
                        {% if ticket.kui is defined %}
                            <input type="text" class="input" name="kui" id="kui" value="{{ ticket.kui|default('') }}"/>
                        {% else %}
                            <input type="text" class="input" name="kui" id="kui" value="{{ ticket.id|default('') }}"/>
                        {% endif %}
                    </div>
                    <div class="field">
                        <label for="detailed_address">Уточненный адрес</label>
                        <textarea name="detailed_address" id="detailed_address" cols="30" rows="3"
                                  class="textarea"></textarea>
                    </div>
                    <div class="field">
                        <div class="control">
                            <label for="burn_object_id">Объект горения</label>
                        </div>
                        <div class="select">
                            <select name="burn_object_id" id="burn_object_id">
                                <option value=""> -</option>
                                {% for burn in burn_object %}
                                    <option value="{{ burn.id }}"
                                            {% if burn.id == ticket.burn_object_id %}selected{% endif %}>{{ burn.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <label for="trip_result_id">Результат выезда</label>
                        </div>
                        <div class="select">
                            <select name="trip_result_id" id="trip_result_id">
                                <option value=""> -</option>
                                {% for trip_res in trip_result %}
                                    <option value="{{ trip_res.id }}"
                                            {% if trip_res.id == ticket.trip_result_id %}selected{% endif %}>{{ trip_res.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="field is-grouped">
                        <div class="field control">
                            <div class="control">
                                <label for="liquidation_method_id">Ликвидация достигнута</label>
                            </div>
                            <div class="select control">
                                <select name="liquidation_method_id" id="liquidation_method_id">
                                    <option value="">-</option>
                                    {% for liquidation_method in liquidation_methods %}
                                        <option value="{{ liquidation_method.id }}"
                                                {% if liquidation_method.id == ticket.liquidation_method_id %}selected{% endif %}>{{ liquidation_method.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="control">
                            <div id="ticket101_other_records_results"></div>
                        </div>
                    </div>
                    <br>
                    <br>

                    <div class="field is-grouped">
                        <div class="control is-three-fifths">
                            <p>
                                <label for="result_fire_level_id">Уточненный ранг пожара</label>
                            <div class="select">
                                <select name="result_fire_level_id" id="result_fire_level_id">
                                    <option value="">-</option>
                                    {% for fire_level in fire_levels %}
                                        <option value="{{ fire_level.id }}"
                                                {% if fire_level.id == ticket.result_fire_level_id %}selected{% endif %}>{{ fire_level.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            </p>
                        </div>
                        <div class="control">
                            <label for="fire_dep_results_info">Участники тушения</label>
                            <textarea class="input" type="text" id="fire_dep_results_info"
                                      value="">{{ fire_dep_results_info }}</textarea>
                        </div>
                        <div class="control">
                            <label for="square_max">Площадь пожара</label>
                            <input min=0 oninput="validity.valid||(value='');" class="input" type="number"
                                   id="square_max" value="{{ max_square }}">
                        </div>
                        <div class="control">
                            <span class="field">м<sup><small>2</small></sup></span>
                        </div>
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                            <div class="checkbox">
                                <input type="hidden" name="vu_found" value="0"/>
                                <input type="checkbox" name="vu_found" id="vu_found" value="1"
                                       {% if ticket.vu_found == 1 %}checked{% endif %}/>
                                <label for="vu_found">Обнаружено ВУ</label>
                            </div>
                        </div>
                        <div class="control">
                            <div class="checkbox">
                                <input type="hidden" name="animal_death" value="0"/>
                                <input type="checkbox" name="animal_death" id="animal_death" value="1"
                                       {% if ticket.animal_death == 1 %}checked{% endif %}/>
                                <label for="animal_death">Гибель животных</label>
                            </div>
                        </div>
                        <div class="control">
                            <div class="checkbox">
                                <input type="hidden" name="car_crash" value="0"/>
                                <input type="checkbox" name="car_crash" id="car_crash" value="1"
                                       {% if ticket.car_crash == 1 %}checked{% endif %}/>
                                <label for="car_crash">Авария А/М при следовании на пожар</label>
                            </div>
                        </div>

                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                            <label for="rescued_count">Спасено людей
                            </label>
                            <input min=0 oninput="validity.valid||(value='');" type="number" class="input"
                                   name="rescued_count" id="rescued_count"
                                   value="{{ ticket.rescued_count|default('') }}"/>
                        </div>
                        <div class="control">
                            <label for="evac_count">Эвакуировано людей
                            </label>
                            <input min=0 oninput="validity.valid||(value='');" type="number" class="input"
                                   name="evac_count" id="evac_count"
                                   value="{{ ticket.evac_count|default('') }}"/>
                        </div>

                        <div class="control">
                            <label for="co2_poisoned_count">Получили отравления угарным газом
                            </label>
                            <input min=0 oninput="validity.valid||(value='');" type="number" class="input"
                                   name="co2_poisoned_count" id="co2_poisoned_count"
                                   value="{{ ticket.co2_poisoned_count|default('') }}"/>
                        </div>
                        <div class="control">
                            <label for="ch4_poisoned_count">Получили отравления природным газом
                            </label>
                            <input min=0 oninput="validity.valid||(value='');" type="number" class="input"
                                   name="ch4_poisoned_count" id="ch4_poisoned_count"
                                   value="{{ ticket.ch4_poisoned_count|default('') }}"/>
                        </div>

                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                            <label for="gpt_burns_count">Получили ожоги
                            </label>
                            <input min=0 oninput="validity.valid||(value='');" type="number" class="input"
                                   name="gpt_burns_count" id="gpt_burns_count"
                                   value="{{ ticket.gpt_burns_count|default('') }}"/>
                        </div>

                        <div class="control">
                            <label for="people_death_count">Гибель людей
                            </label>
                            <input min=0 oninput="validity.valid||(value='');" type="number" class="input"
                                   name="people_death_count" id="people_death_count"
                                   value="{{ ticket.people_death_count|default('') }}"/>
                        </div>
                        <div class="control">
                            <label for="children_death_count">Гибель детей
                            </label>
                            <input min=0 oninput="validity.valid||(value='');" type="number" class="input"
                                   name="children_death_count" id="children_death_count"
                                   value="{{ ticket.children_death_count|default('') }}"/>
                        </div>
                        <div class="control">
                            <label for="hospitalized_count">Госпитализировано
                            </label>
                            <input min=0 oninput="validity.valid||(value='');" type="number" class="input"
                                   name="hospitalized_count" id="hospitalized_count"
                                   value="{{ ticket.hospitalized_count|default('') }}"/>
                        </div>
                    </div>
                    <div class="field">
                        <label for="more_info">Дополнительная информация</label>
                        <textarea name="more_info" id="more_info" cols="30" rows="2"
                                  class="textarea">{{ ticket.more_info|default('') }}</textarea>
                    </div>
                    <div class="field">
                        {#<div class="checkbox">#}
                        {#<input type="hidden" name="hydrant_found" value="0"/>#}
                        {#<input type="checkbox" name="hydrant_found" id="hydrant_found" value="1"#}
                        {#{% if ticket.hydrant_found == 1 %}checked{% endif %}/>#}
                        {#<label for="hydrant_found">Наличие ПГ/ПВ</label>#}
                        {#</div>#}
                        <div class="control">
                            <label for="water_supply_source_id">Источник противопожарного водоснабжения</label>
                        </div>
                        <div class="select">
                            <select name="water_supply_source_id" id="water_supply_source_id">
                                {% for object in water_sources %}
                                    <option value="{{ object.id }}"
                                            {% if object.id == ticket.water_supply_source_id %}{{ 'selected' }}{% endif %}>{{ object.name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                    </div>

                    <div class="field">
                        <div class="control">
                            <label for="distance">Расстояние до места
                            </label>
                            <input min=0 oninput="validity.valid||(value='');" type="number" class="input"
                                   name="distance" id="distance"
                                   value="{{ ticket.distance|default('') }}"/>
                        </div>
                    </div>
                    <div class="field">
                        <label for="owner">Владелец(дома,кв.,а/м)</label>
                        <input type="text" id="owner" name="owner" value="{{ ticket.owner|default('') }}"
                               class="input"/>
                    </div>
                    <h5 class="subtitle">Объяснения</h5>
                    <div class="field">
                        <div class="file is-info has-name">
                            <label class="file-label">
                                <input class="file-input" type="file">
                                <span class="file-cta">
                                    <span class="file-icon">
                                        <i class="fas fa-upload"></i>
                                    </span>
                                    <span class="file-label">
                                        Приложить объяснения очевидца
                                    </span>
                              </span>
                            </label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="file is-info has-name">
                            <label class="file-label">
                                <input class="file-input" type="file">
                                <span class="file-cta">
                                    <span class="file-icon">
                                        <i class="fas fa-upload"></i>
                                    </span>
                                    <span class="file-label">
                                        Схема пожара
                                    </span>
                                 </span>
                            </label>
                        </div>
                    </div>

                </div>
            </div>
            <div class="panel"
                 style="padding: 30px 10px 20px; margin-top:20px;border-top: 1px solid #dbdbdb; background-color: #f7f7f7">
                <div class="level">
                    <p class="level-left">
                        <button id="nexttab" class="button is-info is-main"><i class="fas fa-arrow-right"></i>&nbsp;
                            Следующий раздел
                        </button>
                    </p>
                    <p class="level-right">
                        <button type="submit" class="button is-basic is-main"><i class="fas fa-check"></i>&nbsp; Закрыть
                        </button>
                    </p>
                </div>
            </div>
        </form>
    </section>
{% endblock content %}
