{% extends "layout/html" %}
{% block content %}
    <section class="container" id="cardadd101">
        <div class=""><h4 class="title" style="padding: 3px 15px">Добавление: Карточка 101</h4></div>
        <form action="" method="post">
            {{ csrf_field() }}
            <div class="tabs is-boxed" id="">
                <ul>
                    <li><a href="#tab_call" onclick="setTab(0);"><i class="fas fa-phone"></i>&nbsp;Звонок</a></li>
                    <li><a href="#tab_notify" onclick="setTab(1);"><i class="fas fa-envelope"></i>&nbsp;Уведомления</a></li>
                    <li><a href="#tab_truck" onclick="setTab(2);"><i class="fas fa-truck-moving"></i>&nbsp; Подразделения</a></li>
                    <li><a href="#tab_other" onclick="setTab(3);"><i class="fas fa-info-circle"></i>&nbsp; Прочее</a></li>
                </ul>
            </div>
            <div id="preload_pane" class="hero is-loading has-text-centered" style="height: 30vh; align-items: center">
                <div class="hero-body has-text-info">
                    <i class="fas fa-circle-notch fa-spin fa-6x"></i>
                </div>
            </div>
            <div class="panels">
                <div id="tab_call" class="is-hidden">
                    <h5 class="subtitle">Сведения поступившие со звонком:</h5>
                    {% if ticket.id %}<div class="level is-marginless">
                        <div class="level-left"><label>Номер КУИ:</label>&nbsp;{{ ticket.id }}</div>
                        <div class="level-right has-text-right"><label>Время получения сообщения:</label>&nbsp;{{ ticket.created_at|date('d.m.Y H:i:s') }}</div>
                    </div>{% endif %}
                    <div class="field">
                        <label for="location">Место пожара (Адрес)</label>
                        <textarea name="location" id="location" class="textarea" cols="30" rows="3">{{ ticket.location|default('') }}</textarea>
                    </div>
                    <div class="field">
                        <p class="control">
                            <label for="city_area">Район города</label>
                        </p>
                        {#<input class="input" type="text" name="city_area" id="city_area" value="{{ ticket.city_area|default('') }}"/>#}
                        <div class="select">
                            <select name="city_area_id" id="city_area">
                                <option value="">-</option>
                                {% for area in city_area %}
                                    <option value="{{ area.id }}" {% if area.id == ticket.city_area_id %}selected{% endif %}>{{ area.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="field is-grouped">
                        <div class="control is-expanded" data-component="autocomplete"
                             data-name="{{ ticket.crossroad_1.name|default('') }}"
                             data-hid="{{ ticket.crossroad_1_id|default('') }}">
                            <label for="crossroad_1_id">Пересечение улицы</label>
                            <input type="hidden" name="crossroad_1_id" id="crossroad_1_hid" :value="hid"/>
                            <b-autocomplete
                                    field="name"
                                    ref="crossroad_1_hid"
                                    id="crossroad_1_id"
                                    v-model="name"
                                    :data="data"
                                    :loading="isFetching"
                                    @input="getData"
                                    @select="onSelect"
                            >
                                <template slot-scope="props">
                                    {% verbatim %}
                                    <div class="row"><span>{{ props.option.name }}</span><small v-if="props.option.area">, {{ props.option.area.name }} район</small></div>
                                    {% endverbatim %}
                                </template>
                                <template slot="empty">Подходящих улиц не найдено</template>
                            </b-autocomplete>
                        </div>
                        <div class="control is-expanded" data-component="autocomplete"
                             data-name="{{ ticket.crossroad_2.name|default('') }}"
                             data-hid="{{ ticket.crossroad_2_id|default('') }}">
                            <label for="crossroad_2_id">и улицы</label>
                            <input type="hidden" name="crossroad_2_id" id="crossroad_2_hid" :value="hid"/>
                            <b-autocomplete type="text" id="crossroad_2_id"
                                            field="name"
                                            ref="crossroad_2_hid"
                                            id="crossroad_2_id"
                                            v-model="name"
                                            :data="data"
                                            :loading="isFetching"
                                            @input="getData"
                                            @select="onSelect"
                            >
                                <template slot-scope="props">
                                    {% verbatim %}
                                    <div class="row"><span>{{ props.option.name }}</span><small v-if="props.option.area">, {{ props.option.area.name }} район</small></div>
                                    {% endverbatim %}
                                </template>
                                <template slot="empty">Подходящих улиц не найдено</template>

                            </b-autocomplete>
                        </div>
                    </div>
                    <div class="field">
                        <p class="control">
                            <label for="fire_object_id">Что горит</label>
                        </p>
                        <div class="select">
                            <select name="fire_object_id" id="fire_object_id">
                                <option value="">-</option>
                                {% for object in fire_object %}
                                    <option value="{{ object.id }}" {% if object.id == ticket.fire_object_id %}selected{% endif %}>{{ object.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="field">
                        <p class="control">
                            <label for="fire_level_id">Класс пожара</label>
                        </p>
                        <div class="select">
                            <select name="fire_level_id" id="fire_level_id">
                                <option value="">-</option>
                                {% for object in fire_levels %}
                                    <option value="{{ object.id }}" {% if object.id == ticket.fire_level_id %}selected{% endif %}>{{ object.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="field">
                        <div class="checkbox">
                            <input type="hidden" name="people_in_danger" value="0"/>
                            <input type="checkbox" name="people_in_danger" value="1" id="people_in_danger" {% if ticket.people_in_danger %}checked{% endif %}/>
                            <label for="people_in_danger">Опасность для людей</label>
                        </div>
                    </div>
                    <div class="field is-grouped">
                        <p class="control">
                            <label for="storey_count">Этажность</label>
                            <input type="number" class="input" name="storey_count" id="storey_count" value="{{ ticket.storey_count|default('') }}"/>
                        </p>
                        <p class="control">
                            <label for="floor">На каком этаже пожар</label>
                            <input type="number" class="input" name="floor" id="floor" value="{{ ticket.floor|default('') }}"/>
                        </p>
                    </div>
                    <div class="field">
                        <label for="building_description">Конструктивные особенности</label>
                        <textarea class="textarea" name="building_description" id="building_description" cols="30"
                                  rows="2">{{ ticket.building_description|default('') }}</textarea>
                    </div>
                    <div class="field is-grouped">
                        <p class="control is-expanded">
                            <label for="caller_name">ФИО Заявителя</label>
                            <input type="text" class="input" name="caller_name" id="caller_name" value="{{ ticket.caller_name|default('') }}"/>
                        </p>
                        <p class="control">
                            <label for="caller_phone">Телефон заявителя</label>
                            <input type="text" class="input" name="caller_phone" id="caller_phone" value="{{ ticket.caller_phone|default('') }}"/>
                        </p>

                    </div>
                </div>
                <div id="tab_notify" class="is-hidden">
                    <h5 class="subtitle">Время сообщения руководству ГУ:</h5>
                    <div class="field is-grouped">
                        {% for name,title in gu_notify %}
                            <p class="control" data-component="timepicker" data-value="{{ attribute(ticket, 'notify_' ~ name ~ '_time')| default('') }}">
                                <label for="notify_{{ name }}_time">{{ title }}</label>
                                <b-timepicker type="text" v-model="value" style="max-width: 4rem" name="notify_{{ name }}_time" :value="value" id="notify_{{ name }}_time"

                                >
                                    <a class="button is-primary"
                                       @click="value = new Date()">
                                        <b-icon pack="far" icon="clock"></b-icon>
                                        <span>Сейчас</span>
                                    </a>
                                </b-timepicker>
                            </p>
                        {% endfor %}
                    </div>
                    <div class="field" data-component="timepicker" data-value="{{ ticket.next_notify_time|default('') }}">
                        <label for="next_notify_time">Время следующего взаимодействия</label>
                        <b-timepicker v-model="value" type="text" style="max-width: 4rem" name="next_notify_time" id="next_notify_time" :value="value">
                            <a class="button is-primary"
                               @click="value = new Date()">
                                <b-icon pack="far" icon="clock"></b-icon>
                                <span>Сейчас</span>
                            </a>
                        </b-timepicker>
                    </div>
                    <h5 class="subtitle">Службы</h5>
                    <div>
                        <table class="table is-expanded is-striped is-narrow is-fullwidth">
                            <thead>
                            <tr>
                                <th>Службы</th>
                                <th>Время сообщения</th>
                                <th>Фамилия<br/>принявшего сообщение</th>
                                <th>Время прибытия</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for name,title in service_notify %}
                                <tr>
                                    <td>{{ title }}</td>
                                    <td data-component="timepicker" data-value="{{ attribute(ticket, 'call_' ~  name  ~ '_time')|default('') }}">
                                        <b-timepicker class="is-rounded" type="text" name="call_{{ name }}_time" id="call_{{ name }}_time"
                                                      :value="value" icon="clock" icon-pack="far">
                                            <a class="button is-primary"
                                               @click="value = new Date()">
                                                <b-icon pack="far" icon="clock"></b-icon>
                                                <span>Сейчас</span>
                                            </a>
                                        </b-timepicker>
                                    </td>
                                    <td><input type="text" class="input" name="name_{{ name }}_recv" id="name_{{ name }}_recv"
                                               value="{{ attribute(ticket, 'name_' ~  name  ~ '_recv')|default('') }}"/></td>
                                    <td data-component="timepicker" data-value="{{ attribute(ticket, 'arrival_' ~  name )|default('') }}">
                                        <b-timepicker icon="clock" icon-pack="far" type="text" name="arrival_{{ name }}" id="arrival_{{ name }}"
                                                      :value="value">
                                            <a class="button is-primary"
                                               @click="value = new Date()">
                                                <b-icon pack="far" icon="clock"></b-icon>
                                                <span>Сейчас</span>
                                            </a>
                                        </b-timepicker>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="tab-truck" class="is-hidden">
                    <h5 class="subtitle">Время выезда, прибытия, возвращения подразделений:</h5>
                    <table class="table is-narrow is-hoverable is-striped is-fullwidth">
                        <tr>
                            <th>Подразделение</th>
                            <th>Отделения</th>
                            <th>Время выезда</th>
                            <th>- прибытия</th>
                            <th>- локализации</th>
                            <th>- ликвидации</th>
                            <th>- возвращения</th>
                        </tr>
                        {% for index,ssv in ssv_out %}
                            <tr>
                                <td class="has-text-right">{{ ssv }}</td>
                                <td><input class="input" type="text" name="ph_{{ index }}_ot" id="ph_{{ index }}_ot"
                                           value="{{ attribute(ticket,  'ph_' ~ index ~'_ot')|default('') }}"/></td>
                                <td data-component="timepicker" data-value="{{ attribute(ticket,  'ph_' ~ index ~'_out_time')|default('') }}">
                                    <b-timepicker icon="clock" icon-pack="far" type="text" name="ph_{{ index }}_out_time" id="ph_{{ index }}_out_time"
                                                  :value="value">
                                        <a class="button is-primary"
                                           @click="value = new Date()">
                                            <b-icon pack="far" icon="clock"></b-icon>
                                            <span>Сейчас</span>
                                        </a>
                                    </b-timepicker>
                                </td>
                                <td data-component="timepicker" data-value="{{ attribute(ticket,  'ph_' ~ index ~'_arrive_time')|default('') }}">
                                    <b-timepicker icon="clock" icon-pack="far" type="text" name="ph_{{ index }}_arrive_time" id="ph_{{ index }}_arrive_time"
                                                  :value="value">
                                        <a class="button is-primary"
                                           @click="value = new Date()">
                                            <b-icon pack="far" icon="clock"></b-icon>
                                            <span>Сейчас</span>
                                        </a>
                                    </b-timepicker>
                                </td>
                                <td data-component="timepicker" data-value="{{ attribute(ticket,  'ph_' ~ index ~'_loc_time')|default('') }}">
                                    <b-timepicker icon="clock" icon-pack="far" type="text" name="ph_{{ index }}_loc_time" id="ph_{{ index }}_loc_time"
                                                  :value="value">
                                        <a class="button is-primary"
                                           @click="value = new Date()">
                                            <b-icon pack="far" icon="clock"></b-icon>
                                            <span>Сейчас</span>
                                        </a>
                                    </b-timepicker>
                                </td>
                                <td data-component="timepicker" data-value="{{ attribute(ticket,  'ph_' ~ index ~'_liqv_time')|default('') }}">
                                    <b-timepicker icon="clock" icon-pack="far" type="text" name="ph_{{ index }}_liqv_time" id="ph_{{ index }}_liqv_time"
                                                  :value="value">
                                        <a class="button is-primary"
                                           @click="value = new Date()">
                                            <b-icon pack="far" icon="clock"></b-icon>
                                            <span>Сейчас</span>
                                        </a>
                                    </b-timepicker>
                                </td>
                                <td data-component="timepicker" data-value="{{ attribute(ticket,  'ph_' ~ index ~'_ret_time')|default('') }}">
                                    <b-timepicker icon="clock" icon-pack="far" type="text" name="ph_{{ index }}_ret_time" id="ph_{{ index }}_ret_time"
                                                  :value="value">
                                        <a class="button is-primary"
                                           @click="value = new Date()">
                                            <b-icon pack="far" icon="clock"></b-icon>
                                            <span>Сейчас</span>
                                        </a>
                                    </b-timepicker>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div id="tab_other" class="is-hidden">
                    <h5 class="subtitle">Обстановка с места пожара:</h5>
                    {% for index in 1..5 %}
                        <div class="field is-grouped">
                            <p class="control is-narrow" data-component="timepicker" data-value="{{ attribute(ticket, 'update_' ~ index ~ '_time')|default('') }}">
                                <label for="update_{{ index }}_time">Время</label>
                                <b-timepicker icon="clock" icon-pack="far" name="update_{{ index }}_time" type="text" :value="value">
                                    <a class="button is-primary"
                                       @click="value = new Date()">
                                        <b-icon pack="far" icon="clock"></b-icon>
                                        <span>Сейчас</span>
                                    </a>
                                </b-timepicker>
                            </p>
                            <p class="control is-expanded">
                                <label for="update_{{ index }}_info">Ситуация</label>
                                <input name="update_{{ index }}_info" type="text" class="input" value="{{ attribute(ticket, 'update_' ~ index ~ '_info')|default('') }}"/>
                            </p>
                        </div>
                    {% endfor %}
                    <div class="field">
                        <label for="add_info">Дополнительная информация</label>
                        <textarea name="add_info" id="add_info" class="textarea" cols="30" rows="3"></textarea>
                    </div>
                </div>
            </div>
            <div class="panel" style="padding: 30px 10px 20px; margin-top:20px;border-top: 1px solid #dbdbdb; background-color: #f7f7f7">
                <div class="level">
                    <p class="level-left">
                        <button id="nexttab" class="button is-primary is-outlined"><i class="fas fa-arrow-right"></i>&nbsp; Следующий раздел</button>
                    </p>
                    <p class="level-right">
                        <button type="submit" class="button is-success"><i class="fas fa-check"></i>&nbsp; Сохранить</button>
                    </p>
                </div>
            </div>
        </form>
    </section>
    <script>
        let activeTab = 0;

        function setTab(i) {
            let tabs = document.querySelectorAll('#cardadd101 .tabs li');
            let panels = document.querySelectorAll('#cardadd101 .panels > div');
            tabs[activeTab].classList.remove('is-active');
            panels[activeTab].classList.add('is-hidden');
            tabs[i].classList.add('is-active');
            panels[i].classList.remove('is-hidden');
            activeTab = i;
        }

        function nextTab(e) {
            e.preventDefault();
            let nextTab = activeTab + 1;
            if (nextTab > 3) {
                nextTab = 0;
            }
            setTab(nextTab);
        }

        function bindTimepickers() {
            const pickers = document.querySelectorAll('[data-component="timepicker"]');
            pickers.forEach((element) => {
                const cdate = element.getAttribute('data-value');
                let dt = new Date('01-01-1970 00:00');
                if (cdate !== '') {
                    const tm = cdate.split(':');
                    if (tm.length > 1) {
                        dt.setHours(tm[0]);
                        dt.setMinutes(tm[1]);
                    }
                }
                return new Vue({
                    el: element,
                    data: function () {
                        return {
                            value: dt
                        }
                    },
                    methods: {
                        close: function () {
                            if (this.$children[0]) {
                                this.$children[0].close();
                            }
                        }
                    }
                });
            });
        }

        function bindAutocomplete() {
            const autoc = document.querySelectorAll('[data-component="autocomplete"]');

            autoc.forEach((element) => {
                const sname = element.getAttribute('data-name');
                const shid = element.getAttribute('data-hid');
                return new Vue({
                        el: element,
                        data: {
                            data: [],
                            isFetching: false,
                            selected: null,
                            name: sname,
                            hid: shid,
                        },
                        methods: {
                            onSelect: function (selected) {
                                this.hid = selected.id;
                                this.name = selected.name;
                            },
                            getData: _.debounce(function () {
                                const area = document.getElementById('city_area');
                                const area_id = area[area.selectedIndex].value;
                                this.data = [];
                                this.isFetching = true;
                                axios.get('/ajax/street/' + area_id + '/?q=' + this.name)
                                    .then((response) => {
                                            const data = response.data;
                                            data.forEach((item) => {
                                                this.data.push(item);
                                            });

                                            this.isFetching = false;
                                        }
                                    )
                                    .catch(() => {
                                        this.isFetching = false;
                                    })
                            }, 300)
                        }
                    }
                )
                    ;
            })
            ;
        }

        window.addEventListener('load', () => {
            Vue.use(Buefy.default);
            bindTimepickers();
            bindAutocomplete();
            document.getElementById('preload_pane').style.display = 'none';
            setTab(activeTab);
            document.getElementById('nexttab').addEventListener('click', nextTab);
        });
    </script>
{% endblock content %}