{% extends "layout/html" %}
{% block content %}
    <script>
        window.ticket101add = {
            records: {{ ticket.other_records | json_encode() | raw }},
            other_records_unique: {{ other_records_unique | json_encode() | raw }},
            trunks: {{ trunks | json_encode() | raw }},
            ticketId: '{{ ticket.id }}',
            ticket101: {{ ticket | json_encode() | raw }},
            notificationGroups: {{ notificationGroups | json_encode() | raw }}
        };
    </script>

    {% include "layout/yandex-maps-bus.twig" with {areas: city_area} %}

    <section class="container section" id="cardadd101">
        <h4 class="title">{{ card_type == 'drill' ? 'Учения' : 'Добавление: Карточка 101' }}</h4>
        <form action="" method="post" id="card-101-form" enctype='multipart/form-data'>
            {{ csrf_field() }}
            <span id="card-101-form-id" class="is-hidden" data-id="{{ ticket.id|default(0) }}"></span>

            <div id="other-rides"></div>
            <br>

            <div class="tabs buttab is-boxed" id="">
                <ul>
                    <li class="main-tab">
                        <a onclick="window.add101tabs.setTab(0);"><i class="fas fa-phone"></i>&nbsp;Путевка</a>
                    </li>
                    <li class="main-tab">
                        <a onclick="window.add101tabs.setTab(1);">
                            <i class="fas fa-truck-moving"></i>&nbsp;Высылка
                        </a>
                    </li>
                    <li class="main-tab">
                        <a onclick="window.add101tabs.setTab(2);"><i class="fas fa-envelope"></i>&nbsp;Уведомления</a>
                    </li>
                    <li class="main-tab">
                        <a onclick="window.add101tabs.setTab(3);">
                            <i class="fas fa-aviato"></i>&nbsp;Хронология
                        </a>
                    </li>
                    <li class="main-tab">
                        <a onclick="window.add101tabs.setTab(4);"><i class="fas fa-info-circle"></i>&nbsp;Прочее</a>
                    </li>
                    <li class="main-tab">
                        <a onclick="window.add101tabs.setTab(5);">
                            <i class="fas fa-check-double"></i>&nbsp;Итоги выезда
                        </a>
                    </li>
                </ul>
            </div>
            <div id="preload_pane" class="hero is-loading has-text-centered" style="height: 30vh; align-items: center">
                <div class="hero-body has-text-info">
                    <i class="fas fa-circle-notch fa-spin fa-6x"></i>
                </div>
            </div>
            <div class="panels panels-main">
                <div id="tab_call" class="is-hidden">


                    <div class="bd-klmn-lead">
                        <div class="columns is-variable bd-klmn-columns is-3">
                            <div class="column is-half">
                                <div class="bd-notification is-primary">
                                    <div class="field" data-component="location-input"
                                         data-value="{{ ticket.location|default('') }}">
                                        <label for="location">Адрес
                                            {% if card_type != 'drill' %}
                                                <a href="{{ url('/card/mapscreen') }}"
                                                   target="_blank"
                                                   class="button is-basic is-main"><i
                                                            class="far fa-map"></i>&nbsp;Открыть карту</a>
                                            {% endif %}

                                        </label>
                                        {% if card_type != 'drill' %}
                                            <input name="location"
                                                   ref="location"
                                                   id="location"
                                                   class="input"
                                                   v-model="location"
                                                   @blur="onBlur"
                                                   @focus="onFocus"
                                                   tabindex="1"
                                                   @keyup="keyUp = true">
                                            <div class="dropdown-menu"
                                                 :style="{'display': showList ? 'block': 'none'}"
                                                 style="position: relative">
                                                <div class="dropdown-content">
                                                    <a class="dropdown-item"
                                                       @click="selectItem(item)"
                                                       v-for="item in items">
                                                        <div class="row">
                                                            <span v-html="item.location"></span>
                                                            <small>, <span v-html="item.object_name"></span></small>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        {% else %}
                                            <input name="location"
                                                   id="location"
                                                   class="input"
                                                   tabindex="1"
                                                   value="{{ ticket.location|default('') }}"
                                            >
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="column is-half">
                                <div class="bd-notification is-primary">
                                    <div class="field" style="margin-top: 15px;">
                                        <p class="control"
                                           data-component="object-name-input"
                                           data-value="{{ ticket.object_name|default('') }}">
                                            <label for="object_name">Наименование объекта</label>
                                            <input type="text"
                                                   class="input"
                                                   tabindex="11"
                                                   name="object_name"
                                                   id="object_name"
                                                   v-model="object_name"
                                            />
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="columns is-variable bd-klmn-columns is-3">
                            <div class="column is-half">
                                <div class="bd-notification is-primary">
                                    <div class="field">
                                        {% if card_type == 'drill' and ticket.drill_type_id == 7 %}
                                            <label for="fireplace">Корректировка по улицам</label>
                                        {% else %}
                                            <label for="fireplace">Место пожара</label>
                                        {% endif %}
                                        <input
                                                id="fireplace"
                                                name="fireplace"
                                                tabindex="2"
                                                class="input"
                                                value="{{ ticket.fireplace }}"
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="column is-3">
                                <div class="bd-notification is-primary">
                                    <p class="control"
                                       data-component="buefy-common-select"
                                       data-name="operational_plan_id"
                                       data-plans="{{ special_plans }}"
                                       data-value="{{ ticket.operational_plan_id|default(0) }}">
                                        <label for="operational_plan_id">
                                            Оперативный план
                                            <span style="position: absolute;top: -5px;right: 85px;">
                                                {% if ticket.operational_plan_id %}
                                                    {% for special_plan in ticket.operational_plan.special_plans %}
                                                        {% if special_plan.file %}
                                                            <a href="{{ '/storage/operational-plans/'~special_plan.file }}"
                                                               target="_blank">
                                                            <span class="file-icon">
                                                                <i class="fas fa-file-pdf fa-2x"></i>
                                                            </span>
                                                            </a>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% else %}
                                                    <template v-if="file">
                                                        <a :href="'/storage/operational-plans/'+file" target="_blank">
                                                            <span class="file-icon">
                                                                <i class="fas fa-file-pdf fa-2x"></i>
                                                            </span>
                                                        </a>
                                                    </template>
                                                {% endif %}
                                            </span>
                                        </label>
                                        <input type="hidden"
                                               name="operational_plan_id"
                                               id="operational_plan_id"
                                               v-model="selectedId">
                                        <buefy-common-select
                                                :options='{{ operational_plans | json_encode() | raw }}'
                                                :min-length="1"
                                                tabindex="12"
                                                @input="onInput"
                                                v-model="selectedId">
                                        </buefy-common-select>
                                    </p>
                                </div>
                            </div>
                            <div class="column is-3">
                                <div class="bd-notification is-primary">
                                    <label for="operational_card_id">Оперативная карточка</label>
                                    <div class="select"
                                         data-component="simple-select"
                                         data-special="specialPlan"
                                         data-value="{{ ticket.operational_card_id }}"
                                         data-cards="{{ operational_cards }}"
                                         data-name="operational_cards"
                                         style="display: block">
                                        <span style="position: absolute;top: -30px;right: 85px;">
                                            {% if ticket.operational_card_id and ticket.operational_card.file %}
                                                <a href="{{ '/storage/operational-cards/'~ticket.operational_card.file }}"
                                                   target="_blank">
                                            <span class="file-icon">
                                                <i class="fas fa-file-pdf fa-2x"></i>
                                            </span>
                                                </a>
                                            {% else %}
                                                <template v-if="file">
                                                    <a :href="'/storage/operational-cards/'+file" target="_blank">
                                                    <span class="file-icon">
                                                        <i class="fas fa-file-pdf fa-2x"></i>
                                                    </span>
                                                    </a>
                                                </template>
                                            {% endif %}
                                        </span>
                                        <select name="operational_card_id" id="operational_card_id"
                                                style="width: 100%;"
                                                @change="onChange()"
                                                v-model="selectedId">
                                            <option value="">-</option>
                                            {% for object in operational_cards %}
                                                <option value="{{ object.id }}">{{ object.oc_number }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="columns is-variable bd-klmn-columns is-3">
                            <div class="column is-half">
                                <div class="bd-notification is-primary">
                                    <div class="field">
                                        <div class="control">
                                            <label for="pre_information">Предварительная информация</label>
                                            <textarea tabindex="3" class="textarea" name="pre_information"
                                                      id="pre_information"
                                                      cols="30"
                                                      rows="2">{{ ticket.pre_information|default('') }}</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column is-half">
                                <div class="bd-notification is-primary">
                                    <label for="building_description">Конструктивные особенности</label>
                                    <textarea tabindex="13" class="textarea" name="building_description"
                                              id="building_description"
                                              cols="30"
                                              rows="2">{{ ticket.building_description|default('') }}</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="columns is-variable bd-klmn-columns is-3">

                            <div class="column is-2">
                                <div class="bd-notification is-primary">
                                    {% if card_type != 'drill' %}
                                        <p class="control"
                                           data-name="fire_department_id"
                                           data-component="buefy-common-select"
                                           data-value="{{ ticket.fire_department_id|default(0) }}">
                                            <label for="fire_department_id">Микроучасток</label>
                                            <input type="hidden"
                                                   name="fire_department_id"
                                                   required
                                                   id="fire_department_id"
                                                   v-model="selectedId">
                                            <buefy-common-select
                                                    :options='{{ fire_departments | json_encode() | raw }}'
                                                    :min-length="1"
                                                    tabindex="4"
                                                    required="required"
                                                    v-model="selectedId">
                                            </buefy-common-select>
                                        </p>
                                    {% else %}
                                        <p class="control">
                                            <label for="fire_department_id">Микроучасток</label>
                                        </p>
                                        <div class="select">
                                            <select tabindex="4" required name="fire_department_id"
                                                    id="fire_department_id">
                                                {% for dept in fire_departments %}
                                                    <option {{ dept.id == ticket.fire_department_id|default('') ? 'selected' : '' }}
                                                            value="{{ dept.id }}">{{ dept.text }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="column is-2">
                                <div class="bd-notification is-primary">
                                    <p class="control">
                                        <label for="city_area">Район города</label>
                                    </p>
                                    <div class="select"
                                         data-component="simple-select"
                                         data-special="specialPlan"
                                         data-value="{{ ticket.city_area_id }}"
                                         data-name="city_area_id">
                                        <select tabindex="5" name="city_area_id" id="city_area" v-model="selectedId">
                                            <option value="">-</option>
                                            {% for area in city_area %}
                                                <option value="{{ area.id }}">{{ area.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="column is-2">
                                <div class="bd-notification is-primary">
                                    <label for="fire_level_id">Ранг пожара</label>
                                    <div class="select" style="display: block">
                                        <select tabindex="6" name="fire_level_id" id="fire_level_id1" required
                                                style="width: 100%;">
                                            <option value="">-</option>
                                            {% for object in fire_levels %}
                                                <option {% if object.id  == ticket.fire_level_id %} selected {% endif %}
                                                        value="{{ object.id }}">{{ object.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="column is-half">
                                <div class="bd-notification is-primary">
                                    <div class="field">
                                        <label for="year_of_development">Год постройки</label>
                                        <input
                                                id="year_of_development"
                                                name="year_of_development"
                                                tabindex="14"
                                                class="input"
                                                value="{{ ticket.year_of_development }}"
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="columns is-variable bd-klmn-columns is-3">
                            <div class="column is-3">
                                <div class="bd-notification is-primary">
                                    <label for="storey_count">Этажность</label>
                                    <input tabindex="7" min=0 oninput="validity.valid||(value='');" type="number"
                                           class="input"
                                           name="storey_count" id="storey_count"
                                           value="{{ ticket.storey_count|default('') }}"/>
                                </div>
                            </div>
                            <div class="column is-3">
                                <div class="bd-notification is-primary">
                                    <label for="floor">На каком этаже пожар</label>
                                    <input tabindex="8" min=0 oninput="validity.valid||(value='');" type="number"
                                           class="input"
                                           name="floor" id="floor"
                                           value="{{ ticket.floor|default('') }}"/>
                                </div>
                            </div>
                            <div class="column is-half">
                                <div class="bd-notification is-primary">
                                    <div class="field">
                                        <label for="square">Площадь объекта</label>
                                        <input
                                                id="square"
                                                tabindex="15"
                                                name="building_square"
                                                class="input"
                                                value="{{ ticket.building_square }}"

                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="columns is-variable bd-klmn-columns is-3">
                            <div class="column is-half">
                                <div class="bd-notification is-primary">
                                    <div class="field">
                                        <p class="control is-expanded">
                                            {% if (card_type == 'drill') %}
                                                <label for="caller_name">Ответственное лицо</label>
                                                <input tabindex="9" type="text" class="input" name="responsible_person"
                                                       id="responsible_person"
                                                       value="{{ ticket.responsible_person|default('') }}"/>
                                            {% else %}
                                                <label for="caller_name">ФИО Заявителя</label>
                                                <input tabindex="9" type="text" class="input" name="caller_name"
                                                       id="caller_name"
                                                       value="{{ ticket.caller_name|default('') }}"/>
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="column is-half">
                                <div class="bd-notification is-primary">
                                    <div class="field" style="margin-top: 15px;">
                                        <div class="checkbox">
                                            <label for="people_in_danger">Опасность для людей</label>
                                            Да - <input tabindex="16" type="radio" name="people_in_danger" value="1"
                                                        {% if ticket.people_in_danger %}checked{% endif %}>
                                            Неизвестно - <input tabindex="16" type="radio" name="people_in_danger"
                                                                value="0"
                                                                {% if not ticket.people_in_danger %}checked{% endif %}>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="columns is-variable bd-klmn-columns is-3">
                            <div class="column is-half">
                                <div class="bd-notification is-primary">
                                    <div class="field">
                                        <p class="control">
                                            {% if (card_type == 'drill') %}
                                            <label for="caller_name">Тип учения</label>
                                        <div class="select" style="display: block">
                                            <select tabindex="6" name="drill_type_id" id="drill_type_id" required
                                                    style="width: 100%;">
                                                {% for object in drill_types %}
                                                    <option {% if object.id == ticket.drill_type_id %} selected {% endif %}
                                                            value="{{ object.id }}">{{ object.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        {% else %}
                                            <label for="caller_phone">Телефон заявителя</label>
                                            <input tabindex="10" type="text" class="input" name="caller_phone"
                                                   id="caller_phone"
                                                   value="{{ ticket.caller_phone|default('') }}"/>
                                        {% endif %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="column is-half">
                                <div class="bd-notification is-primary">
                                    <div class="field">
                                        <label for="additional_description">Дополнительная информация</label>

                                        <textarea class="textarea" name="additional_description"
                                                  id="additional_description"
                                                  cols="30"
                                                  tabindex="17"
                                                  rows="2">{{ special_plan.additional_info|default('') }}</textarea>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-truck" class="is-hidden">
                    <div id="tab-truck-vue">
                        <ticket101-truck
                                :departments="{{ ssv_out|raw|json_encode }}"
                                :can-change-created-at="{{ canChangeCreatedAt|raw|json_encode }}"
                                :results="{{ ticket.results }}"
                                :ticket="{{ ticket }}"
                        >
                        </ticket101-truck>
                    </div>

                </div>
                <div id="tab_notify" class="is-hidden notifications">
                    <div class="tabs buttab is-boxed" id="">
                        <ul>
                            <li class="is-active">
                                <a onclick="window.add101tabs.setNotificationTab(0);">
                                    <i class="fas fa-envelope"></i>&nbsp;Руководство
                                </a>
                            </li>
                            <li>
                                <a onclick="window.add101tabs.setNotificationTab(1);">
                                    <i class="fas fa-envelope"></i>&nbsp;Службы взаимодействия
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="panels index-1">
                        <div id="ticket101add_popup_notifications"></div>
                    </div>

                    <div class="panels is-hidden index-1" id="card-notification-services">
                        {% if ticket and ticket.id %}
                            <card-notification-services
                                    :ticket="{{ ticket }}"
                            ></card-notification-services>
                        {% endif %}

                        {# {% if ticket and ticket.id %} #}
                        {# {% include 'card/elements/notification-services.twig' with {ticket: ticket} %} #}
                        {# {% endif %} #}
                    </div>
                </div>
                <div id="tab_chronology" class="is-hidden">

                    <div class="field">
                        <div data-component="timepicker"
                             data-value="{{ attribute(ticket, 'loc_time')|default('') }}">
                            <label for="loc_time">Время локализации</label>
                            <b-timepicker icon="clock" icon-pack="far" @focus="closeAll()" type="text" v-model="value"
                                          style="max-width: 6rem;" name="loc_time" :value="value">
                                <div class="field is-grouped" style="justify-content: space-between">
                                    <p class="control">
                                        <a class="button is-primary is-small"
                                           @click="()=> {value = new Date(); close();}">
                                            <b-icon pack="far" icon="clock"></b-icon>&nbsp;
                                            <span>Сейчас</span>
                                        </a>
                                    </p>
                                    <p class="control">
                                        <a class="button is-outlined is-small" @click="close()">
                                            <i class="fas fa-check"></i>&nbsp;<span>Принять</span>
                                        </a>
                                    </p>
                                </div>
                            </b-timepicker>
                        </div>
                        <div data-component="timepicker"
                             data-value="{{ attribute(ticket, 'liqv_time')|default('') }}">
                            <label for="liqv_time">Время ликвидации</label>
                            <b-timepicker icon="clock" icon-pack="far" @focus="closeAll()" type="text" v-model="value"
                                          style="max-width: 6rem;" name="liqv_time" :value="value">
                                <div class="field is-grouped" style="justify-content: space-between">
                                    <p class="control">
                                        <a class="button is-primary is-small"
                                           @click="()=> {value = new Date(); close();}">
                                            <b-icon pack="far" icon="clock"></b-icon>&nbsp;
                                            <span>Сейчас</span>
                                        </a>
                                    </p>
                                    <p class="control">
                                        <a class="button is-outlined is-small" @click="close()">
                                            <i class="fas fa-check"></i>&nbsp;<span>Принять</span>
                                        </a>
                                    </p>
                                </div>
                            </b-timepicker>
                        </div>
                    </div>

                    <div id="ticket101-chronology">

                        {% if notification_get_back == 1 %}
                            <notification
                                    message="Необходимо оповестить отделения о понижении ранга"
                            >
                            </notification>
                        {% endif %}

                        <ticket101-chronology
                                :records="{{ ticket.chronologies }}"
                                :departments="{{ departmentsOnWay }}"
                                :card="{{ ticket }}"
                                :trunk-types="{{ trunk_types }}"
                                :event-info="{{ eventInfos }}"
                                :event-info-arrived="{{ eventInfosArrived }}"
                        ></ticket101-chronology>
                    </div>
                </div>
                <div id="tab_other" class="is-hidden">
                    <h5 class="subtitle">Обстановка с места пожара:</h5>
                    <div id="ticket101_other_records"></div>
                    <div class="field">
                        <label for="add_info">Дополнительная информация</label>
                        <textarea name="add_info" id="add_info" class="textarea" cols="30"
                                  rows="3">{{ ticket.add_info|default('') }}</textarea>
                    </div>
                </div>
                <div id="tab_summary" class="is-hidden">

                    {% if (card_type == 'drill') %}
                        {% include 'card/drillTotals.twig' %}
                    {% else %}
                        <div class="tabs buttab is-boxed" id="">
                            <ul>
                                <li class="main-tab-inner is-active"
                                    onclick="window.add101tabs.openInnerTab(event, 'tab_summary_base');">
                                    <a>
                                        Основная информация
                                    </a>
                                </li>
                                <li class="main-tab-inner"
                                    onclick="window.add101tabs.openInnerTab(event, 'tab_summary_pch');">
                                    <a>
                                        Информация от ПЧ
                                    </a>
                                </li>
                                <li class="main-tab-inner"
                                    onclick="window.add101tabs.openInnerTab(event, 'tab_summary_services');">
                                    <a>
                                        Информация от службы взаимодействия
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div id="tab_summary_base" class="content-tab is-active">

                            {% if can_change_card101_emergency_status %}
                                <!--ТИП ПРОИСШЕСТВИЯ-->
                                <div class="field">
                                    <p class="control">
                                        <label for="emergency_type_id">Тип происшествия</label>
                                    </p>
                                    <div class="select">
                                        <select id="emergency_type_id" name="emergency_type_id">
                                            <option value="">-</option>
                                            {% for i in emergencyTypes %}
                                                <option {% if ticket.emergency_type_id == i.id %} selected {% endif %}
                                                        value="{{ i.id }}">{{ i.name }}</option>
                                            {% endfor %}

                                        </select>
                                    </div>
                                </div>
                            {% endif %}

                            <div class="control">
                                <label for="kui">
                                    Номер КУИ:
                                </label>
                                {% if ticket.kui is defined %}
                                    <input type="text" class="input" name="kui" id="kui"
                                           value="{{ ticket.kui|default('') }}"/>
                                {% else %}
                                    <input type="text" class="input" name="kui" id="kui"
                                           value="{{ ticket.id|default('') }}"/>
                                {% endif %}
                            </div>

                            <div class="control">
                                <label for="out_number">
                                    Исходящий номер:
                                </label>
                                <input type="text"
                                       class="input"
                                       name="out_number"
                                       id="out_number"
                                       value="{{ ticket.out_number|default('') }}"/>
                            </div>

                            <div class="field" style="padding-top: 10px">
                                <div class="bd-notification is-primary">
                                    <p class="control">
                                        <label for="city_area">Район города</label>
                                    </p>
                                    <input class="input" readonly
                                           value="{{ ticket.city_area ? ticket.city_area.name : '' }}">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <label for="pre_information">Предварительная информация</label>
                                    <textarea class="textarea" cols="30"
                                              readonly rows="2">{{ ticket.pre_information|default('') }}</textarea>
                                </div>
                            </div>

                            <div class="field">
                                <label>Предварительный адрес</label>
                                <input value="{{ ticket.location|default('') }}"
                                       class="input"
                                       readonly>
                            </div>

                            <div class="field">
                                <label for="detailed_address">Уточненный адрес</label>
                                <textarea name="detailed_address" id="detailed_address" cols="30" rows="3"
                                          class="textarea">{{ ticket.detailed_address|default('') }}</textarea>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <label for="burn_object_id">Объект горения</label>
                                </div>
                                <div class="select">
                                    <select name="burn_object_id" id="burn_object_id">
                                        <option value=""> -</option>
                                        {% for burn in burn_object %}
                                            <option value="{{ burn.id }}"
                                                    {% if burn.id == ticket.burn_object_id %}selected{% endif %}>{{ burn.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <label for="living_sector_type_id">Тип жилого сектора</label>
                                </div>
                                <div class="select">
                                    <select name="living_sector_type_id" id="living_sector_type_id">
                                        <option value=""> -</option>
                                        {% for item in living_sector_types %}
                                            <option value="{{ item.id }}"
                                                    {% if item.id == ticket.living_sector_type_id %}selected{% endif %}>{{ item.name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <label for="trip_result_id">Результат выезда</label>
                                </div>
                                <div class="select">
                                    <select name="trip_result_id" id="trip_result_id">
                                        <option value=""> -</option>
                                        {% for trip_res in trip_result %}
                                            <option value="{{ trip_res.id }}"
                                                    {% if trip_res.id == ticket.trip_result_id %}selected{% endif %}>{{ trip_res.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="field is-grouped">
                                <div class="field control">
                                    <div class="control">
                                        <label for="liquidation_method_id">Ликвидация достигнута</label>
                                    </div>
                                    <div class="select control">
                                        <select name="liquidation_method_id" id="liquidation_method_id">
                                            <option value="">-</option>
                                            {% for liquidation_method in liquidation_methods %}
                                                <option value="{{ liquidation_method.id }}"
                                                        {% if liquidation_method.id == ticket.liquidation_method_id %}selected{% endif %}>{{ liquidation_method.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="control">
                                        <label for="">Количество привлеченного л/с</label>
                                        <textarea readonly id="detailed_staff_count"
                                                  class="textarea">{{ ticket.getDetailedStaffCount() }}</textarea>
                                    </div>
                                    <div class="control">
                                        <label for="">Количество привлеченного л/с (сумма)</label>
                                        <input type="text" readonly id="total_staff_count"
                                               value="{{ ticket.total_staff_count }}" class="input">
                                    </div>
                                </div>
                                <div class="control">
                                    <div id="ticket101_other_records_results"></div>
                                </div>
                            </div>
                            <br>
                            <br>

                            <div class="field is-grouped">
                                <div class="control is-three-fifths">
                                    <p>
                                        <label for="result_fire_level_id">
                                            {% if (card_type == 'drill') %}
                                                Ранг пожара
                                            {% else %}
                                                Уточненный ранг пожара
                                            {% endif %}
                                        </label>
                                    <div class="select">
                                        <select name="result_fire_level_id" id="result_fire_level_id">
                                            <option value="">-</option>
                                            {% for fire_level in fire_levels %}
                                                <option value="{{ fire_level.id }}"
                                                        {% if fire_level.id == ticket.result_fire_level_id %}selected{% endif %}>{{ fire_level.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    </p>
                                </div>
                                <div class="control">
                                    <label for="fire_dep_results_info">
                                        {% if (card_type == 'drill') %}
                                            Участники учения
                                        {% else %}
                                            Участники тушения
                                        {% endif %}
                                    </label>
                                    <textarea class="input" type="text" id="fire_dep_results_info"
                                              value="">{{ fire_dep_results_info }}</textarea>
                                </div>
                                <div class="control">
                                    <label for="square_max">Площадь пожара</label>
                                    <input min=0 oninput="validity.valid||(value='');" class="input" type="number"
                                           step=".01"
                                           id="square_max" name="max_square" value="{{ max_square }}">
                                </div>
                                <div class="control">
                                    <span class="field">м<sup><small>2</small></sup></span>
                                </div>
                            </div>
                            <div class="field is-grouped">
                                <div class="control">
                                    <div class="checkbox">
                                        <input type="hidden" name="vu_found" value="0"/>
                                        <input type="checkbox" name="vu_found" id="vu_found" value="1"
                                               {% if ticket.vu_found == 1 %}checked{% endif %}/>
                                        <label for="vu_found">Обнаружено ВУ</label>
                                    </div>
                                </div>
                                <div class="control">
                                    <div class="checkbox">
                                        <input type="hidden" name="animal_death" value="0"/>
                                        <input type="checkbox" name="animal_death" id="animal_death" value="1"
                                               {% if ticket.animal_death == 1 %}checked{% endif %}/>
                                        <label for="animal_death">Гибель животных</label>
                                    </div>
                                </div>
                                <div class="control">
                                    <div class="checkbox">
                                        <input type="hidden" name="car_crash" value="0"/>
                                        <input type="checkbox" name="car_crash" id="car_crash" value="1"
                                               {% if ticket.car_crash == 1 %}checked{% endif %}/>
                                        <label for="car_crash">Авария А/М при следовании на пожар</label>
                                    </div>
                                </div>

                            </div>
                            <div class="field is-grouped" style="margin-right: 40px">
                                <div class="control" style="width: 25%">
                                    <label for="rescued_count">Спасено людей
                                    </label>
                                    <input min=0 oninput="validity.valid||(value='');" type="number" class="input"
                                           name="rescued_count" id="rescued_count"
                                           value="{{ ticket.rescued_count|default('') }}"/>
                                </div>
                                <div class="control" style="width: 25%">
                                    <label for="evac_count">Эвакуировано людей
                                    </label>
                                    <input min=0 oninput="validity.valid||(value='');" type="number" class="input"
                                           name="evac_count" id="evac_count"
                                           value="{{ ticket.evac_count|default('') }}"/>
                                </div>

                                <div class="control" style="width: 25%">
                                    <label for="co2_poisoned_count">Получили отравления угарным газом
                                    </label>
                                    <input min=0 oninput="validity.valid||(value='');" type="number" class="input"
                                           name="co2_poisoned_count" id="co2_poisoned_count"
                                           value="{{ ticket.co2_poisoned_count|default('') }}"/>
                                </div>
                                <div class="control" style="width: 25%">
                                    <label for="ch4_poisoned_count">Получили отравления природным газом
                                    </label>
                                    <input min=0 oninput="validity.valid||(value='');" type="number" class="input"
                                           name="ch4_poisoned_count" id="ch4_poisoned_count"
                                           value="{{ ticket.ch4_poisoned_count|default('') }}"/>
                                </div>

                            </div>
                            <div class="field is-grouped" style="margin-right: 40px">
                                <div class="control" style="width: 25%">
                                    <label for="gpt_burns_count">Получили ожоги
                                    </label>
                                    <input min=0 oninput="validity.valid||(value='');" type="number" class="input"
                                           name="gpt_burns_count" id="gpt_burns_count"
                                           value="{{ ticket.gpt_burns_count|default('') }}"/>
                                </div>

                                <div class="control" style="width: 25%">
                                    <label for="people_death_count">Гибель людей
                                    </label>
                                    <input min=0 oninput="validity.valid||(value='');" type="number" class="input"
                                           name="people_death_count" id="people_death_count"
                                           value="{{ ticket.people_death_count|default('') }}"/>
                                </div>
                                <div class="control" style="width: 25%">
                                    <label for="children_death_count">Гибель детей
                                    </label>
                                    <input min=0 oninput="validity.valid||(value='');" type="number" class="input"
                                           name="children_death_count" id="children_death_count"
                                           value="{{ ticket.children_death_count|default('') }}"/>
                                </div>
                                <div class="control" style="width: 25%">
                                    <label for="hospitalized_count">Госпитализировано
                                    </label>
                                    <input min=0 oninput="validity.valid||(value='');" type="number" class="input"
                                           name="hospitalized_count" id="hospitalized_count"
                                           value="{{ ticket.hospitalized_count|default('') }}"/>
                                </div>
                            </div>
                            <div class="field is-grouped" style="margin-right: 40px">
                                <div class="control" style="width: 25%">
                                    <label class="is-small" for="gpt_burns_count">Количество освобожденных а/м при
                                        заносах</label>
                                    <input min=0 oninput="validity.valid||(value='');" type="number" class="input"
                                           name="saved_vehicles" id="saved_vehicles"
                                           value="{{ ticket.saved_vehicles|default('') }}"/>
                                </div>
                                <div class="control" style="width: 25%">
                                    <label for="gpt_burns_count">Спасено детей</label>
                                    <input min=0 oninput="validity.valid||(value='');" type="number" class="input"
                                           name="saved_children" id="saved_children"
                                           value="{{ ticket.saved_children|default('') }}"/>
                                </div>
                                <div class="control" style="width: 25%">
                                    <label for="gpt_burns_count">Извлечено тел</label>
                                    <input min=0 oninput="validity.valid||(value='');" type="number" class="input"
                                           name="bodies_extracted" id="bodies_extracted"
                                           value="{{ ticket.bodies_extracted|default('') }}"/>
                                </div>
                                <div class="control" style="width: 25%">
                                    <label for="gpt_burns_count">Извлечено тел (детей)</label>
                                    <input min=0 oninput="validity.valid||(value='');" type="number" class="input"
                                           name="children_bodies_extracted" id="children_bodies_extracted"
                                           value="{{ ticket.children_bodies_extracted|default('') }}"/>
                                </div>

                            </div>
                            <div class="field is-grouped" style="margin-right: 40px">
                                <div class="control" style="width: 25%">
                                    <label for="medical_care_provided">Оказана мед. помощь</label>
                                    <input min=0 oninput="validity.valid||(value='');" type="number" class="input"
                                           name="medical_care_provided" id="medical_care_provided"
                                           value="{{ ticket.medical_care_provided|default('') }}"/>
                                </div>
                                <div class="control" style="width: 25%">
                                    <label for="children_medical_care_provided">Оказана мед. помощь (детям)</label>
                                    <input min=0 oninput="validity.valid||(value='');" type="number" class="input"
                                           name="children_medical_care_provided" id="children_medical_care_provided"
                                           value="{{ ticket.children_medical_care_provided|default('') }}"/>
                                </div>
                                <div class="control" style="width: 25%">
                                    <label for="children_evacuated">Кол-во эвакуированных детей</label>
                                    <input min=0 oninput="validity.valid||(value='');" type="number" class="input"
                                           name="children_evacuated" id="children_evacuated"
                                           value="{{ ticket.children_evacuated|default('') }}"/>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <label for="ticket_result">Итог выезда</label>
                                    <textarea class="textarea" cols="30" name="ticket_result" id="ticket_result"
                                              rows="2">{{ ticket.ticket_result|default('') }}</textarea>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <label for="special_tech">Спец. тех. средства</label>
                                    <textarea class="textarea" cols="30" name="special_tech" id="special_tech"
                                              rows="2">{{ ticket.special_tech|default('') }}</textarea>
                                </div>
                            </div>

                            <div class="field">
                                <label for="more_info">Дополнительная информация</label>
                                <textarea name="more_info" id="more_info" cols="30" rows="2"
                                          class="textarea">{{ ticket.more_info|default('') }}</textarea>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <label for="water_supply_source_id">Источник противопожарного водоснабжения</label>
                                </div>
                                <div class="select">
                                    <select name="water_supply_source_id" id="water_supply_source_id">
                                        {% for object in water_sources %}
                                            <option value="{{ object.id }}"
                                                    {% if object.id == ticket.water_supply_source_id %}{{ 'selected' }}{% endif %}>{{ object.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                            </div>

                            <div class="field">
                                <label class="checkbox">
                                    <input type="checkbox" {{ ticket.district_manager ? 'checked' : '' }}
                                           name="district_manager_id"
                                           value="1">
                                    Присутствовал сотрудник ОЧС
                                </label>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <label for="distance">Расстояние до места
                                    </label>
                                    <input min=0 oninput="validity.valid||(value='');" type="number" class="input"
                                           step=".01"
                                           name="distance" id="distance"
                                           value="{{ ticket.distance|default('') }}"/>
                                </div>
                            </div>
                            <div class="field">
                                <label for="owner">Владелец(дома,кв.,а/м)</label>
                                <input type="text" id="owner" name="owner" value="{{ ticket.owner|default('') }}"
                                       class="input"/>
                            </div>
                            <div style="width: 50%; margin-right: 20px; display: inline-block">
                                <h5 class="subtitle">Приложения</h5>
                                <div class="field">
                                    <div class="file is-info has-name">
                                        <label class="file-label">
                                            <input class="file-input" type="file" name="file_1">
                                            <span class="file-cta">
                                        <span class="file-icon">
                                            <i class="fas fa-upload"></i>
                                        </span>
                                        <span class="file-label">
                                            Приложить объяснения очевидца   
                                            {% if ticket.file_1 %}
                                                <a style="color: #FFF"
                                                   href="{{ custom_route('storage.file.download', {'file_id':ticket.file_1.id}) }}"
                                                   download>Скачать</a>
                                            {% endif %}
                                        </span>
                                  </span>
                                        </label>
                                    </div>
                                </div>

                                <div class="field">
                                    <div class="file is-info has-name">
                                        <label class="file-label">
                                            <input class="file-input" type="file" name="file_2">
                                            <span class="file-cta">
                                        <span class="file-icon">
                                            <i class="fas fa-upload"></i>
                                        </span>
                                        <span class="file-label">
                                            Приложить схему пожара   
                                            {% if ticket.file_2 %}
                                                <a style="color: #FFF"
                                                   href="{{ custom_route('storage.file.download', {'file_id':ticket.file_2.id}) }}"
                                                   download>Скачать</a>
                                            {% endif %}
                                        </span>
                                     </span>
                                        </label>
                                    </div>
                                </div>

                                <div class="field">
                                    <div class="file is-info has-name">
                                        <label class="file-label">
                                            <input class="file-input" type="file" name="file_3">
                                            <span class="file-cta">
                                        <span class="file-icon">
                                            <i class="fas fa-upload"></i>
                                        </span>
                                        <span class="file-label">
                                            Приложить информацию от начальника караула   
                                            {% if ticket.file_3 %}
                                                <a style="color: #FFF"
                                                   href="{{ custom_route('storage.file.download', {'file_id':ticket.file_3.id}) }}"
                                                   download>Скачать</a>
                                            {% endif %}
                                        </span>
                                     </span>
                                        </label>
                                    </div>
                                </div>

                                <div class="field">
                                    <div class="file is-info has-name">
                                        <label class="file-label">
                                            <input class="file-input" type="file" name="file_4">
                                            <span class="file-cta">
                                        <span class="file-icon">
                                            <i class="fas fa-upload"></i>
                                        </span>
                                        <span class="file-label">
                                            Приложить информацию от РОЧС   
                                            {% if ticket.file_4 %}
                                                <a style="color: #FFF"
                                                   href="{{ custom_route('storage.file.download', {'file_id':ticket.file_4.id}) }}"
                                                   download>Скачать</a>
                                            {% endif %}
                                        </span>
                                     </span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div style="width: 45%; display: inline-block;">
                                <table class="table is-striped is-fullwidth">
                                    <tr>
                                        <td>Часть</td>
                                        <td>Отделение</td>
                                        <td>Расстрояние</td>
                                        <td>Время</td>
                                    </tr>
                                    <tbody>
                                    {% for result in ticket.results %}
                                        {% if result.dispatched %}
                                            <tr>
                                                <td>{{ result.department.name }}</td>
                                                <td>{{ result.tech.department }}</td>
                                                <td></td>
                                                <td>{{ result.getDuration() }}</td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                            <p class="level-right" id="btn-close-card">
                                <btn-close-card :ticket="{{ ticket }}"></btn-close-card>
                            </p>
                        </div>
                        <div id="tab_summary_pch" class="content-tab" style="display: none">
                            <table class="table is-fullwidth is-hoverable">
                                <thead>
                                <tr>
                                    <th>ПЧ</th>
                                    <th>Информация пожара</th>
                                    <th>Пострадавшие</th>
                                    <th>Итог выезда</th>
                                    <th>Дополнительно</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for info in ticket.fireDepartmentsInfo %}
                                    <tr>
                                        <td>
                                            {{ info.fire_department.name }}
                                        </td>
                                        <td>
                                            Объект горения: <b>{{ info.burn_object.name|default('-') }}</b>
                                            <hr style="margin: 3px;background-color: black; height: 1px;">
                                            Тип жилого сектора: <b>{{ info.living_sector_type.name|default('-') }}</b>
                                            <hr style="margin: 3px;background-color: black; height: 1px;">
                                            Результат выезда: <b>{{ info.trip_result.name|default('-') }}</b>
                                            <hr style="margin: 3px;background-color: black; height: 1px;">
                                            Ликвидация достигнута:
                                            <b>{{ info.liquidation_method.name|default('-') }}</b>
                                            <hr style="margin: 3px;background-color: black; height: 1px;">
                                            Уточненный ранг пожар: <b>{{ info.fire_level.name|default('-') }}</b>
                                            <hr style="margin: 3px;background-color: black; height: 2px;">
                                            Площадь пожара: <b>{{ info.max_square|default('-') }} <span
                                                        class="field">м<sup><small>2</small></sup></span></b>
                                        </td>
                                        <td>
                                            Спасено людей: <b>{{ info.rescued_count|default('-') }}</b>
                                            <hr style="margin: 3px;background-color: black; height: 1px;">
                                            Эвакуировано людей: <b>{{ info.evac_count|default('-') }}</b>
                                            <hr style="margin: 3px;background-color: black; height: 1px;">
                                            Получили отравления угарным газом:
                                            <b>{{ info.co2_poisoned_count|default('-') }}</b>
                                            <hr style="margin: 3px;background-color: black; height: 1px;">
                                            Получили отравления природным газом:
                                            <b>{{ info.ch4_poisoned_count|default('-') }}</b>
                                            <hr style="margin: 3px;background-color: black; height: 1px;">
                                            Получили ожоги: <b>{{ info.gpt_burns_count|default('-') }}</b>
                                            <hr style="margin: 3px;background-color: black; height: 2px;">
                                            Гибель людей: <b>{{ info.people_death_count|default('-') }}</b>
                                            <hr style="margin: 3px;background-color: black; height: 1px;">
                                            Гибель детей: <b>{{ info.children_death_count|default('-') }}</b>
                                            <hr style="margin: 3px;background-color: black; height: 1px;">
                                            Госпитализировано: <b>{{ info.hospitalized_count|default('-') }}</b>
                                        </td>
                                        <td>
                                            Итог выезда: <b>{{ info.ticket_result|default('-') }}</b>
                                            <hr style="margin: 3px;background-color: black; height: 1px;">
                                            Спец. тех. средства: <b>{{ info.special_tech|default('-') }}</b>
                                            <hr style="margin: 3px;background-color: black; height: 1px;">
                                            Источник противопожарного водоснабжения:
                                            <b>{{ info.water_supply_source.name|default('-') }}</b>
                                            <hr style="margin: 3px;background-color: black; height: 1px;">
                                            Расстояние до места: <b>{{ info.distance|default('-') }}</b>
                                        </td>
                                        <td>
                                            Обнаружено ВУ: <b>{{ info.vu_found ? 'Да' : 'Нет' }}</b>
                                            <hr style="margin: 3px;background-color: black; height: 1px;">
                                            Гибель животных: <b>{{ info.animal_death ? 'Да' : 'Нет' }}</b>
                                            <hr style="margin: 3px;background-color: black; height: 1px;">
                                            Авария А/М при следовании на пожар:
                                            <b> {{ info.car_crash ? 'Да' : 'Нет' }}</b>
                                            <hr style="margin: 3px;background-color: black; height: 1px;">
                                            Владелец(дома,кв.,а/м): <b>{{ info.owner|default('-') }}</b>
                                            <hr style="margin: 3px;background-color: black; height: 1px;">
                                            Уточненный адрес: <b>{{ info.detailed_address|default('-') }}</b>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td class="is-centered"><h1 class="title">Нет добавленных информации от ПЧ</h1>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div id="tab_summary_services" class="content-tab" style="display: none">
                            {% for item in ticket.service_plans if item.service_plan_additional %}
                                <div class="emergency-situation-view section container">
                                    <p style="text-align: center; margin-bottom: 20px">
                                        <b>{{ item.service_type.name }}</b></p>
                                    <p><b>Дата
                                            происшествия:</b>&nbsp;{{ item.service_plan_additional.date_human_format }}
                                    </p>
                                    <p><b>Время происшествия:</b>&nbsp;{{ item.service_plan_additional.time }}</p>
                                    <p><b>Место чс:</b>&nbsp;{{ item.service_plan_additional.location }}</p>
                                    <p><b>Информация о событии:</b></p>
                                    <p>{{ item.service_plan_additional.description }}</p>
                                    <p>Погибло: {{ item.service_plan_additional.died }}</p>
                                    <p>Травмировано: {{ item.service_plan_additional.injured }}</p>
                                    <p>Пострадало: {{ item.service_plan_additional.wounded }}</p>
                                    <p>Отравление: {{ item.service_plan_additional.poisoned }}</p>
                                    <p>Госпитализировано: {{ item.service_plan_additional.hospitalized }}</p>
                                    <p>Эвакуировано: {{ item.service_plan_additional.evacuated }}</p>
                                    <p>Спасено: {{ item.service_plan_additional.saved }}</p>
                                    <p>Спасено животных: {{ item.service_plan_additional.saved_animals }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

            </div>
            <div class="panel"
                 style="padding: 30px 10px 20px; margin-top:20px;border-top: 1px solid #dbdbdb; background-color: #f7f7f7">
                <div class="level">
                    {# todo убрано по требованию заказчика #}
                    <div class="level-left">
                        {# <button id="nexttab" class="button is-info is-main"><i class="fas fa-arrow-right"></i>&nbsp;
                            Следующий раздел
                        </button> #}
                        {# <button id="truck_tab_button" class="button is-info is-main"><i class="fas fa-arrow-right"></i>&nbsp; #}
                        {# Высылка #}
                        {# </button> #}
                    </div>

                    <div class="level-left">
                        <div id="card101_save_btn">
                            <ticket101-save-btn></ticket101-save-btn>
                        </div>
                    </div>
                    {# <button type="submit" class="button is-basic is-main"><i class="fas fa-check"></i>&nbsp;
                            Сохранить
                        </button> #}
                </div>
            </div>
        </form>

    </section>
{% endblock content %}

