{% extends "layout/html" %}
{% block content %}
    <section class="container" id="cardadd101">
        <div class=""><h4 class="title" style="padding: 3px 15px">Добавление: Карточка 101</h4></div>
        <form action="" method="post">
            {{ csrf_field() }}
            <div class="tabs is-boxed" id="">
                <ul>
                    <li><a href="#tab_call" onclick="setTab(0);"><i class="fas fa-phone"></i>&nbsp;Звонок</a></li>
                    <li><a href="#tab_notify" onclick="setTab(1);"><i class="fas fa-envelope"></i>&nbsp;Уведомления</a></li>
                    <li><a href="#tab_truck" onclick="setTab(2);"><i class="fas fa-truck-moving"></i>&nbsp; Подразделения</a></li>
                    <li><a href="#tab_other" onclick="setTab(3);"><i class="fas fa-info-circle"></i>&nbsp; Прочее</a></li>
                </ul>
            </div>
            <div class="panels">
                <div id="tab_call" class="is-hidden">
                    <div class="field">
                        <label for="location">Место пожара (Адрес)</label>
                        <textarea name="location" id="location" class="textarea" cols="30" rows="3">{{ ticket.location|default('') }}</textarea>
                    </div>
                    <div class="field">
                        <label for="city_area">Район города</label>
                        <input class="input" type="text" name="city_area" id="city_area" value="{{ ticket.city_area|default('') }}"/>
                    </div>
                    <div class="field">
                        <label for="crossroad">Пересечение улиц</label>
                        <input type="text" class="input" name="crossroad" id="crossroad" value="{{ ticket.crossroad|default('') }}"/>
                    </div>
                    <div class="field">
                        <label for="description">Что горит</label>
                        <input type="text" class="input" name="description" id="description" value="{{ ticket.description|default('') }}">
                    </div>
                    <div class="field is-grouped">
                        <p class="control">
                            <label for="storey_count">Этажность</label>
                            <input type="number" class="input" name="storey_count" id="storey_count" value="{{ ticket.storey_count|default('') }}"/>
                        </p>
                        <p class="control">
                            <label for="floor">На каком этаже пожар</label>
                            <input type="number" class="input" name="floor" id="floor" value="{{ ticket.floor|default('') }}"/>
                        </p>
                    </div>
                    <div class="field">
                        <label for="building_description">Конструктивные особенности</label>
                        <textarea class="textarea" name="building_description" id="building_description" cols="30" rows="2">{{ ticket.building_description|default('') }}</textarea>
                    </div>
                    <div class="field is-grouped">
                        <p class="control is-expanded">
                            <label for="caller_name">ФИО Заявителя</label>
                            <input type="text" class="input" name="caller_name" id="caller_name" value="{{ ticket.caller_name|default('') }}"/>
                        </p>
                        <p class="control">
                            <label for="caller_phone">Телефон заявителя</label>
                            <input type="text" class="input" name="caller_phone" id="caller_phone" value="{{ ticket.caller_phone|default('') }}"/>
                        </p>

                    </div>
                </div>
                <div id="tab_notify" class="is-hidden">
                    <h5 class="subtitle">Время сообщения руководству ГУ:</h5>
                    <div class="field is-grouped">
                        {% for name,title in gu_notify %}
                            <p class="control">
                                <label for="notify_{{ name }}_time">{{ title }}</label>
                                <input type="text" class="input" style="max-width: 4rem" name="notify_{{ name }}_time" id="notify_{{ name }}_time"
                                       value="{{ attribute(ticket, 'notify_' ~ name ~ '_time')| default('') }}">
                            </p>
                        {% endfor %}
                    </div>
                    <div class="field">
                        <label for="next_notify_time">Время следующего взаимодействия</label>
                        <input type="text" class="input" style="max-width: 4rem" name="next_notify_time" id="next_notify_time" value="{{ ticket.next_notify_time|default('') }}">
                    </div>
                    <h5 class="subtitle">Службы</h5>
                    <div>
                        <table class="table is-expanded is-striped is-narrow is-fullwidth">
                            <thead>
                            <tr>
                                <th>Службы</th>
                                <th>Время сообщения</th>
                                <th>Фамилия<br/>принявшего сообщение</th>
                                <th>Время прибытия</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for name,title in service_notify %}
                                <tr>
                                    <td>{{ title }}</td>
                                    <td><input type="text" class="input" name="call_{{ name }}_time" id="call_{{ name }}_time"
                                               value="{{ attribute(ticket, 'call_' ~  name  ~ '_time')|default('') }}"/></td>
                                    <td><input type="text" class="input" name="name_{{ name }}_recv" id="name_{{ name }}_recv"
                                               value="{{ attribute(ticket, 'name_' ~  name  ~ '_recv')|default('') }}"/></td>
                                    <td><input type="text" class="input" name="arrival_{{ name }}" id="arrival_{{ name }}"
                                               value="{{ attribute(ticket, 'arrival_' ~  name )|default('') }}"/></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="tab-truck" class="is-hidden">
                    22
                </div>
                <div id="tab_other" class="is-hidden">
                    33
                </div>
            </div>
            <div class="panel" style="padding: 30px 10px 20px; margin-top:20px;border-top: 1px solid #dbdbdb; background-color: #f7f7f7">
                <div class="level">
                    <p class="level-left">
                        <button id="nexttab" class="button is-primary is-outlined"><i class="fas fa-arrow-right"></i>&nbsp; Следующий раздел</button>
                    </p>
                    <p class="level-right">
                        <button type="submit" class="button is-success"><i class="fas fa-check"></i>&nbsp; Сохранить</button>
                    </p>
                </div>
            </div>
        </form>
    </section>
    <script>
        let activeTab = 0;

        function setTab(i) {
            let tabs = document.querySelectorAll('#cardadd101 .tabs li');
            let panels = document.querySelectorAll('#cardadd101 .panels > div');
            tabs[activeTab].classList.remove('is-active');
            panels[activeTab].classList.add('is-hidden');
            tabs[i].classList.add('is-active');
            panels[i].classList.remove('is-hidden');
            activeTab = i;
        }

        function nextTab(e) {
            e.preventDefault();
            let nextTab = activeTab + 1;
            if (nextTab > 3) {
                nextTab = 0;
            }
            setTab(nextTab);
        }

        window.addEventListener('load', () => {
            setTab(activeTab);
            document.getElementById('nexttab').addEventListener('click', nextTab);
        });
    </script>
{% endblock content %}