{% extends "layout/empty" %}
{% block content %}
    {% include 'layout/yandex-maps-bus' %}

    <div class="">
        <h4 class="title"
            style="padding: 3px 15px; color: #fff">Карта
        </h4>
    </div>
    <div class="panel">
        <div id="common-map-screen-block">
        </div>
    </div>

    <script src="https://www.gstatic.com/firebasejs/5.5.5/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.5/firebase-messaging.js"></script>
    <script src="{{ mix('assets/app.js') }}"></script>
    <script>
        window.hydrantListData = {
            fireDepartments: {{ fireDepartments | json_encode() | raw }},
            model: {{ model | json_encode() | raw }},
        };
        window.isAdmin = {{ isAdmin | json_encode() | raw }};
        window.showHydrants = {{ showHydrants|default(false) | json_encode() | raw }};
        window.canEditOwnHydrants = {{ canEditOwnHydrants | json_encode() | raw }};
        window.canEditAllHydrants = {{ canEditAllHydrants | json_encode() | raw }};
        window.userDept = {{ userDept|default(0) }};
        window.userDeptRight = {{ userDeptRight|default(null)  | raw }};
        window.initCommonMapScreen();
    </script>
{% endblock content %}
