{% extends "layout/html" %}

{% block content %}

    <div id="vue">
        <div class="container section">
            <div class="panel">
                <div class="box" style="margin-top: 20px">
                    <h4 class="title">Добавить информацию за {{ date|date('d.m.Y') }}</h4>
                    <form action="/mudflow-protection-block/{{ date }}" method="post">
                        <input type="hidden" name="id" value="{{ record.id ?? null }}">
                        {{ csrf_field() }}
{#                        <div class="field">#}
{#                            <label for="name">Дата</label>#}
{#                            <input class="input" type="date" name="date" id="date" value="{{ attribute(record, 'date')|default('') }}" required>#}
{#                        </div>#}
                        <div class="field">
                            <label for="number">Текст шапки</label>
                            <textarea class="textarea" name="text_header" id="text_header">{{ attribute(record, 'text_header')|default('') }}</textarea>
                        </div>
                        <div class="field">
                            <label for="number">Текст подвала</label>
                            <textarea class="textarea" name="text_footer" id="text_footer">{{ attribute(record, 'text_footer')|default('') }}</textarea>
                        </div>
                        <div class="buttons has-text-right is-grouped is-right" style="">
                            <button type="submit" class="button is-success"><i class="fas fa-check"></i>&nbsp;Сохранить</button>
                            <a href="{{ url('/mudflow-protection/' ~ date) }}" class="button is-light">Отменить</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}