{% extends "layout/html" %}
{% block content %}
    <div class="">
        <h4 class="title"
            style="padding: 3px 15px">ГУ "Казселезащита" за {{ dateHuman }}
        </h4>
    </div>

    <div id="vue">
        <mudflow-date-selector
            date="{{ date }}"
        ></mudflow-date-selector>
    </div>

    <div class="panel">
        <div class="level">
            <div class="level-left">
                <a href="/mudflow-protection" class="button is-info">Назад</a>
            </div>
            <div class="level-right">
                <a href="/mudflowProtection/export/xls/{{ date }}" class="button is-success">Сохранить в DOCX</a>
            </div>
        </div>
        <div class="section">
            <p>{{ block.text_footer ?? null }}</p>
            <a class="button is-success" href="/mudflow-protection-block/{{ date }}">Редактировать информацию</a>
        </div>
        <table class="table is-narrow is-hoverable is-fullwidth is-striped is-small">
            <thead>
            <tr>
                <th>№</th>
                <th>Информация</th>
                <th>Наименование гидропостов и их отметка</th>
                <th>Расход воды</th>
                <th>Критический расход воды</th>
                <th>Мутность воды</th>
                <th>Максимальная мутность воды</th>
                <th>Температура воздуха</th>
                <th>Температура воды</th>
                <th>Осадки</th>
                <th>Высота снега</th>
                <th>Погода</th>
                <th>Комментарий</th>
                <th class="has-text-right">Дата и время</th>
                <th></th>
            </tr>
            </thead>
            {% set index = 1 %}
            {% for river in rivers %}
                <tr>
                    <td colspan="15" style="text-align: center"><b>{{ river.name }}</b></td>
                </tr>
                {% for gaugingStation in river.gaugingStations %}
                    {% for record in records if record.gauging_station_id == gaugingStation.id %}
                        <tr>
                            <td class="has-text-right">{{ index }}</td>
                            <td>{{ record.information|default('') }}</td>
                            <td>{{ gaugingStation.name }}</td>
                            <td>{{ record.water_flow_rate|default('') }}</td>
                            <td>{{ record.critical_water_flow_rate|default('') }}</td>
                            <td>{{ record.turbidity_of_water|default('') }}</td>
                            <td>{{ record.max_turbidity_of_water|default('') }}</td>
                            <td>{{ record.air_temperature|default('') }}</td>
                            <td>{{ record.water_temperature|default('') }}</td>
                            <td>{{ record.precipitation|default('') }}</td>
                            <td>{{ record.height_of_snow |default('')}}</td>
                            <td>{{ record.weather|default('') }}</td>
                            <td>{{ record.comment|default('') }}</td>
                            <td class="has-text-right">{{ record.date_human|default('') }}</td>
                            <td class="has-text-right">
                                <a href="/mudflow-protection/{{ date }}/{{ gaugingStation.id }}/create"
                                   class="button is-small is-outlined is-primary">
                                    <i class="fas fa-pencil-alt"></i>&nbsp;
                                    Создать запись
                                </a>
                                {% if records[gaugingStation.id].id is defined %}
                                    <a href="/mudflow-protection/{{ date }}/{{ record.id }}/edit"
                                       class="button is-small is-outlined is-info">
                                        <i class="fas fa-pencil-alt"></i>&nbsp;
                                        Редактировать
                                    </a>
                                    <form onsubmit="return confirm('Вы действительно хотите удалить эту запись?');" action="/mudflow-protection/{{ date }}/{{ record.id }}/delete" method="post">
                                        {{ csrf_field() }}
                                        <button
                                           class="button is-small is-outlined is-danger">
                                            <i class="fas fa-times"></i>&nbsp;
                                            Удалить
                                        </button>
                                    </form>
                                {% endif %}
                            </td>
                        </tr>
                        {% set index = index + 1 %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </table>
        <div class="section">
            <p>{{ block.text_footer ?? null }}</p>
            <a class="button is-success" href="/mudflow-protection-block/{{ date }}">Редактировать информацию</a>
        </div>
    </div>
{% endblock content %}