{% extends "layout/html" %}
{% block content %}
    <div class="section container">
        <h4 class="title">Прочие выезда</h4>
        <form id="other-rides-form" action="/card101-other-rides/{% if record is defined %}{{ record.id }}/edit{% else %}create{% endif %}" method="post">
            {{ csrf_field() }}
            <div id="other-rides">
                <other-rides
                        :ride-types="{{ ride_types }}"
                        :other-ride="{{ record|default(null)|json_encode }}"
                        :fire-departments="{{ fire_departments }}"
                        :tech-items="{{ techItems }}"
                        :staff="{{ staff }}"
                        :hq-items="{{ hq }}"
                        :can-change-created-at="{{ canChangeCreatedAt }}"
                        :can-set-delayed="{{ can_set_delayed }}"
                ></other-rides>
            </div>
        </form>
    </div>
{% endblock content %}
