{% extends "layout/html" %}
{% block content %}
    <div class="section container" id="vue1">
        <h4 class="title">Карточка 101 (Прочие выезда)</h4>
        <div class="columns is-gapless">
            <div class="column">
                <div class="tabs buttab">
                    <ul class="">
                        <li class="is-active"><a href="">Открытые</a></li>
                        <li><a href="">Закрытые</a></li>
                        <li><a href="">Все карточки</a></li>
                    </ul>
                </div>
            </div>
            <div class="column">
                <div class="tabs buttab">
                    <ul class="">
                        <li class="{% if card_type == 'real' %}is-active{% endif %}"><a href="/card/101">Боевые</a></li>
                        <li class="{% if card_type == 'other' %}is-active{% endif %}"><a href="/card101-other-rides">Прочие</a></li>
                        <li class="{% if card_type == 'drill' %}is-active{% endif %}"><a href="/card101-drill-rides">Учебные</a></li>
                        <li class="{% if card_type == 'norms-psp' %}is-active{% endif %}"><a href="/norms-psp">Нормативы по ПСП</a></li>
                    </ul>
                </div>
            </div>
            <div class="column is-narrow">
                <div>
                    <a href="/card101-other-rides/create" class="button is-basic is-main" style="margin: 2px 10px 2px"><i class="fas fa-plus"></i>&nbsp;Новая карточка</a>
                    <a href="/card101-other-rides" class="button is-info is-main" style="margin: 2px 10px 2px"><i class="fas fa-crosshairs"></i>&nbsp;Сбросить фильтр</a>
                </div>
            </div>
        </div>
        <div>
            <div id="vue">
                <form action="">
                    <div class="field has-addons">
                        <div class="control is-expanded">
                            <input type="search" class="input" name="search" value="{{ search ?? null }}" id="search-input">
                        </div>
                        <div class="control">
                        </div>
                        <div class="control">
                            <button class="button is-primary is-outlined" type="submit"><span><i class="fa fa-search"></i><span class="hidden-sm-down">&nbsp; Искать</span></span></button>
                        </div>
                    </div>
                    <div class="field is-grouped">
                        <v-datepicker-search
                                name="date_from"
                                date-string="{{ date_from }}"
                                :include-hidden="true"
                                label="С"
                        ></v-datepicker-search>
                        <v-datepicker-search
                                name="date_to"
                                date-string="{{ date_to }}"
                                :include-hidden="true"
                                label="По"
                        ></v-datepicker-search>

                    </div>
                    <div class="control">
                        <p>Тип выезда</p>
                        <select class="select" name="filter_ride_type" id="">
                            <option value=""></option>
                            {% for item in ride_types %}
                                <option {{ item.id == filter_ride_type ? 'selected' : '' }} value="{{ item.id }}">{{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="control">
                        <p>ПЧ</p>
                        <select class="select" name="filter_fd" id="">
                            <option value=""></option>
                            {% for item in fire_departments %}
                                <option {{ item.id == filter_fd ? 'selected' : '' }} value="{{ item.id }}">{{ item.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <br>
                    <div class="control">
                        <button class="button is-primary is-outlined" type="submit"><span><i class="fa fa-search"></i><span class="hidden-sm-down">&nbsp; Искать</span></span></button>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel">
            <table class="table is-narrow is-hoverable is-fullwidth is-striped is-small" id="card101_index_table">
                <thead>
                <tr>
                    <th>№ КУИ</th>
                    <th>
                        <p href="?sort=location">Направление</p>
                    </th>
                    <th>
                        <p href="?sort=city_area_id">Тип выезда</p>
                    </th>
                    <th class="has-text-right">
                        <p href="?sort=created_at">Дата и время</p>
                    </th>
                    <th>
                        <p>Подразделение</p>
                    </th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                {% for ticket in records %}
                    <tr>
                        <td class="has-text-right">{{ ticket.id }}</td>
                        <td>{{ ticket.direction }}</td>
                        <td>{{ ticket.ride_type.name ?? '' }}</td>
                        <td class="has-text-right">{{ ticket.custom_created_at|date('H:i d.m.Y') }}</td>
                        <td>{{ ticket.dispatched_fds }}</td>
                        <td class="has-text-right">
                            <a href="/card101-other-rides/{{ ticket.id }}/edit" class="button is-basic is-small"><i class="fas fa-pencil-alt"></i>&nbsp; Редактировать</a>

                            {% if can_delete %}
                                <form onSubmit="if(!confirm('Удалить запись?')){return false;}" style="display: inline" action="/card101-other-rides/delete/{{ ticket.id }}" method="post">
                                    {{ csrf_field() }}
                                    {{ method_field('DELETE') }}
                                    <button type="submit" class="button is-danger is-small"><i class="fas fa-eraser"></i>&nbsp; Удалить</button>
                                </form>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td class="is-centered"><h1 class="title">Нет выбранных заявок</h1></td>
                    </tr>
                {% endfor %}
            </table>
            {% include "_templates/pagination" with {'items': records, 'per_page': per_page, 'other': {'date_from':date_from, 'date_to': date_to, 'search': search, 'filter_ride_type': filter_ride_type, 'filter_fd':filter_fd}} %}
        </div>
    </div>
{% endblock content %}
