<div style="font-weight: bold; font-family: 'Times New Roman', Times, serif;">
    <p style="font-size: 9pt;">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        ГОСУДАРСТВЕННОЕ УЧРЕЖДЕНИЕ «СЛУЖБА ПОЖАРОТУШЕНИЯ И<br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        АВАРИЙНО-СПАСАТЕЛЬНЫХ РАБОТ» ДЧС г. АЛМАТЫ КЧС МВД РК
    </p>
    <p style="clear: both"></p>

    <p style="margin: 0 auto;width: 50%; ">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        ОПЕРАТИВНАЯ ИНФОРМАЦИЯ
    </p>
    <p style="margin: 0 auto;width: 50%;">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        по пожарам, произошедшим на территории
    </p>

    <p style="margin: 0 auto;width: 50%;margin-bottom: 25pt;">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        г. Алматы с {{ dates.hour }} час. {{ dates.minutes }} мин. {{ dates.from }}г. до {{ dates.hour }}
        час. {{ dates.minutes }} мин. {{ dates.to }}г.
    </p>
    <br/>
    <br/>

    <p>За дежурные сутки зарегистрировано – {{ allCount }} выездов, из них:</p>

    <p>1.Пожары – {{ fire.items | length }}</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.1. Транспорт – {{ burntTransportCount }}</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.2. Прочие объекты пожаров – {{ burntOtherCount }}</p>
    <p>2. Случаи горения, не подлежащие учету как пожары –
        {{ (electricFire.items | length) +
        (kitchenFire.items | length) +
        (trashFireOther.items | length) +
        (trashFireHouse.items | length) }}</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.1. Пища на газе и задымление при неиспр.быт.эл.приборов
        – {{ kitchenFire.items | length }}</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.2. КЗ эл.сетей и эл.оборудования – {{ electricFire.items | length }}</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.3. Загорание сухостоя, мусора на отк.территориях, в контейнерах
        – {{ trashFireOther.items | length }}</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.4. Загорание мусора на тер.объекта,дома(лифт,мусоросб,л.клетка,подв,черд)
        – {{ trashFireHouse.items | length }}</p>
    <p>3. Ложный – {{ falseCall.items | length }}</p>
    <p>4. АСР – {{ asr.items | length }}</p>
    <p>5. Кровельные, битумные, сварочные работы – {{ workFire.items | length }}</p>
    <p>6. Бдительность населения – {{ peopleCall.items | length }}</p>
    <p>7. Загорание бесхозных зданий, бесхозных транспортных средств – {{ orphanFire.items | length }}</p>
    <p>8. Прочие случаи загорания – {{ otherFire.items | length }}</p>
    <p>9. Область – {{ regionFire.items | length }}</p>
    <p>10. Технологический процесс – {{ technologyFire.items | length }}</p>
    <p>11. Самовозгорание пирофорных соединений, без последствий и ущерба – {{ pyrophoricFire.items | length }}</p>
    <p>Cрабатывание сигнализации - {{ alarm.items | length }}</p>
    <p>Пожары, в рез-те авиа, ж/д аварии, тер.актов и пр., землетрясения - {{ airFire.items | length }}</p>
    <p>Покушение на самоубийство - {{ suicide.items | length }}</p>
    <p>Вспышки и разряды стат.электричества - {{ dischargesElectr.items | length }}</p>

    <p>12. Случаи отравления - {{ poisoningCount }}</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;12.1. Отравление угарным газом – {{ carbonPoisoningCount }}</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;12.2. Отравление природным газом – {{ naturalPoisoningCount }}</p>
    <p>13. Сведенеия по людям
        /детям: {{ (suicide.items | length)+rescuedCount+evacCount+gptBurnsCount+peopleDeathCount+childrenDeathCount+hospitalizedCount }}</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;13.1. Попытка суицида - {{ suicide.items | length }}</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;13.2. Спасено людей – {{ rescuedCount }}</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;13.3. Эвакуировано людей – {{ evacCount }}</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;13.4. Получили ожоги – {{ gptBurnsCount }}</p>
    {#<p>13.5. Пострадало – 0</p>#}
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;13.5. Гибель людей – {{ peopleDeathCount }}</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;13.6. Гибель детей – {{ childrenDeathCount }}</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;13.7. Госпитализировано – {{ hospitalizedCount }}</p>

    <br/>
    <br/>
    {% for title, tripResult in tripResults %}
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{ title | upper }}:</b></p>
    {% for tripItem in tripResult %}
    <p>{{ loop.index }}. {{ tripItem.analytics|raw }}</p>
    {% endfor %}
        <br/>
    {% endfor %}

    <div><b>Проверка частей:</b></div>
    {% for title, check in fireDeptChecks %}
        <p>{{ loop.index }}.{{ check.fire_department ? check.fire_department.title : '' }}: {{ check.time_begin }}
            - {{ check.time_end }} {{ check.responsible_person }} {{ check.note }}</p>
    {% endfor %}
    <br/>

    <p>Расстановка на {{ dates.from }}г: {{ arrangementYesterday | length == 0 ? 'нет' : '' }}</p>
    {% for item in arrangementYesterday %}
        <p>{{ item.fire_department.title }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ item.note }}</p>
    {% endfor %}
    <br/>

    <p>Расстановка на {{ dates.to }}г: {{ arrangementToday | length == 0 ? 'нет' : '' }}</p>
    {% for item in arrangementToday %}
        <p>{{ item.fire_department.title }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ item.note }}</p>
    {% endfor %}
    <br/>

    <p>Неисправная техника: </p>
    {% for item in tech %}
        {% for vehicle_item in item.formation_tech_items if vehicle_item.status == 'repair' %}
            <p style="margin-left: 40pt">{{ item.department.title }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ vehicle_item.vehicle.name }}
                ({{ vehicle_item.vehicle.base }}) {{ vehicle_item.comment }}</p>
        {% endfor %}
    {% endfor %}
    <p>
        Всего:___________________________{% for name, count in inactive_tech_cnt|default([]) %} {{ name ~ '-' ~ count ~ (not loop.last ? ', ' : '') }} {% endfor %}</p>


</div>