<div style="font-weight: bold; font-family: 'Times New Roman', Times, serif;width: 100%;">
    <p style="margin: 0 auto;width: 50%; font-size: 9pt">
        ГОСУДАРСТВЕННОЕ УЧРЕЖДЕНИЕ «СЛУЖБА ПОЖАРОТУШЕНИЯ И
    </p>
    <p style="margin: 0 auto;margin-bottom: 30pt;width: 50%; font-size: 9pt">
        АВАРИЙНО-СПАСАТЕЛЬНЫХ РАБОТ» ДЧС г. АЛМАТЫ КЧС МВД РК
    </p>
    <p style="clear: both"></p>

    <p style="margin: 0 auto;width: 50%; ">
        ОПЕРАТИВНАЯ ИНФОРМАЦИЯ
    </p>
    <p style="margin: 0 auto;width: 50%;">
        по пожарам, произошедшим на территории
    </p>

    <p style="margin: 0 auto;width: 50%;margin-bottom: 30pt;">
        г. Алматы с {{ dates.hour }} час. {{ dates.minutes }} мин. {{ dates.from }}г. до {{ dates.hour }}
        час. {{ dates.minutes }} мин. {{ dates.to }}г.
    </p>
    <br/>
    <br/>

    <p>За дежурные сутки зарегистрировано – {{ allCount }} выездов, из них:</p>

    <p>1.Пожары – {{ fire.items | length }}</p>
    <p style="margin-left: 40pt">1.1. Транспорт – {{ burntTransportCount }}</p>
    <p style="margin-left: 40pt">1.2. Прочие объекты пожаров – {{ burntOtherCount }}</p>
    <p>2. Случаи горения, не подлежащие учету как пожары –
        {{ (electricFire.items | length) +
        (kitchenFire.items | length) +
        (trashFireOther.items | length) +
        (trashFireHouse.items | length) }}</p>
    <p style="margin-left: 40pt">2.1. Пища на газе и задымление при неиспр.быт.эл.приборов
        – {{ kitchenFire.items | length }}</p>
    <p style="margin-left: 40pt">2.2. КЗ эл.сетей и эл.оборудования – {{ electricFire.items | length }}</p>
    <p style="margin-left: 40pt">2.3. Загорание сухостоя, мусора на отк.территориях, в контейнерах
        – {{ trashFireOther.items | length }}</p>
    <p style="margin-left: 40pt">2.4. Загорание мусора на тер.объекта,дома(лифт,мусоросб,л.клетка,подв,черд)
        – {{ trashFireHouse.items | length }}</p>
    <p>3. Ложный – {{ falseCall.items | length }}</p>
    <p>4. АСР – {{ asr.items | length }}</p>
    <p>5. Кровельные, битумные, сварочные работы – {{ workFire.items | length }}</p>
    <p>6. Бдительность населения – {{ peopleCall.items | length }}</p>
    <p>7. Загорание бесхозных зданий, бесхозных транспортных средств – {{ orphanFire.items | length }}</p>
    <p>8. Прочие случаи загорания – {{ otherFire.items | length }}</p>
    <p>9. Область – {{ regionFire.items | length }}</p>
    <p>10. Технологический процесс – {{ technologyFire.items | length }}</p>
    <p>11. Самовозгорание пирофорных соединений, без последствий и ущерба – {{ pyrophoricFire.items | length }}</p>
    <p>Cрабатывание сигнализации - {{ alarm.items | length }}</p>
    <p>Пожары, в рез-те авиа, ж/д аварии, тер.актов и пр., землетрясения - {{ airFire.items | length }}</p>
    <p>Покушение на самоубийство - {{ suicide.items | length }}</p>
    <p>Вспышки и разряды стат.электричества - {{ dischargesElectr.items | length }}</p>

    <p>12. Случаи отравления - {{ poisoningCount }}</p>
    <p style="margin-left: 40pt">12.1. Отравление угарным газом – {{ carbonPoisoningCount }}</p>
    <p style="margin-left: 40pt">12.2. Отравление природным газом – {{ naturalPoisoningCount }}</p>
    <p>13. Сведенеия по людям
        /детям: {{ (suicide.items | length)+rescuedCount+evacCount+gptBurnsCount+peopleDeathCount+childrenDeathCount+hospitalizedCount }}</p>
    <p style="margin-left: 40pt">13.1. Попытка суицида - {{ suicide.items | length }}</p>
    <p style="margin-left: 40pt">13.2. Спасено людей – {{ rescuedCount }}</p>
    <p style="margin-left: 40pt">13.3. Эвакуировано людей – {{ evacCount }}</p>
    <p style="margin-left: 40pt">13.4. Получили ожоги – {{ gptBurnsCount }}</p>
    {#<p style="margin-left: 40pt">13.5. Пострадало – 0</p>#}
    <p style="margin-left: 40pt">13.5. Гибель людей – {{ peopleDeathCount }}</p>
    <p style="margin-left: 40pt">13.6. Гибель детей – {{ childrenDeathCount }}</p>
    <p style="margin-left: 40pt">13.7. Госпитализировано – {{ hospitalizedCount }}</p>
    <br/>
    <br/>
    <p>Расстановка на {{ dates.hour }} час. {{ dates.minutes }} мин. {{ dates.from }}г:</p>
    {% for item in arrangement %}
        <p style="margin-left: 40pt">{{ item.fire_department.title }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ item.note }}</p>
    {% endfor %}
    <br/>

    <p>Неисправная техника: </p>
    {% for item in tech %}
        {% for vehicle_item in item.formation_tech_items if vehicle_item.status == 'repair' %}
            <div style="margin-left: 40pt">{{ item.department.title }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ vehicle_item.vehicle.name }}
                ({{ vehicle_item.vehicle.base }}) {{ vehicle_item.comment }}</div>
        {% endfor %}
    {% endfor %}
    <p>
        Всего:___________________________{% for name, count in inactive_tech_cnt|default([]) %} {{ name ~ '-' ~ count ~ (not loop.last ? ', ' : '') }} {% endfor %}</p>


    {% if fire.items | length > 0 %}
        <p style="margin: 0 auto;width: 50%"><b>{{ fire.name }}:</b></p>
        {% for item in fire.items %}
            <p>
                <b>{{ loop.index }}. {{ item.created_at | date('d.m.Y') }}г. {{ item.created_at | date('H') }}
                    час. {{ item.created_at | date('i') }} мин.
                    {{ item.city_area ? item.city_area.name : '' }}, {{ item.location }}:</b>
            </p>
            <p>
                (заявитель: {{ item.caller_name }}, тел: {{ item.caller_phone }}).
                ПЧ осуществляющая выезд:
                {% for department in item.departments %}
                    {{ department.title }} {{ not loop.index ? ',': '' }}
                {% endfor %}.
                Результат выезда - {{ item.trip_result ? item.trip_result.name : '' }}.
                Ликвидировано стволами: {{ item.liquidation_method ? item.liquidation_method.name : '' }}
                Дополнительная информация: {{ item.more_info }}
            </p>
        {% endfor %}
    {% endif %}

    {% if electricFire.items | length > 0 %}
        <p style="margin: 0 auto;width: 50%"><b>{{ electricFire.name }}:</b></p>
        {% for item in electricFire.items %}
            <p>
                <b>{{ loop.index }}. {{ item.created_at | date('d.m.Y') }}г. {{ item.created_at | date('H') }}
                    час. {{ item.created_at | date('i') }} мин.
                    {{ item.city_area ? item.city_area.name : '' }}, {{ item.location }}:</b>
            </p>
            <p>
                (заявитель: {{ item.caller_name }}, тел: {{ item.caller_phone }}).
                ПЧ осуществляющая выезд:
                {% for department in item.departments %}
                    {{ department.title }} {{ not loop.index ? ',': '' }}
                {% endfor %}.
                Результат выезда - {{ item.trip_result ? item.trip_result.name : '' }}.
                Ликвидировано стволами: {{ item.liquidation_method ? item.liquidation_method.name : '' }}
                Дополнительная информация: {{ item.more_info }}
            </p>
        {% endfor %}
    {% endif %}


    {% if kitchenFire.items | length > 0 %}
        <p style="margin: 0 auto;width: 50%"><b>{{ kitchenFire.name }}:</b></p>
        {% for item in kitchenFire.items %}
            <p>
                <b>{{ loop.index }}. {{ item.created_at | date('d.m.Y') }}г. {{ item.created_at | date('H') }}
                    час. {{ item.created_at | date('i') }} мин.
                    {{ item.city_area ? item.city_area.name : '' }}, {{ item.location }}:</b>
            </p>
            <p>
                (заявитель: {{ item.caller_name }}, тел: {{ item.caller_phone }}).
                ПЧ осуществляющая выезд:
                {% for department in item.departments %}
                    {{ department.title }} {{ not loop.index ? ',': '' }}
                {% endfor %}.
                Результат выезда - {{ item.trip_result ? item.trip_result.name : '' }}.
                Ликвидировано стволами: {{ item.liquidation_method ? item.liquidation_method.name : '' }}
                Дополнительная информация: {{ item.more_info }}
            </p>
        {% endfor %}
    {% endif %}


    {% if trashFireOther.items | length > 0 %}
        <p style="margin: 0 auto;width: 50%"><b>{{ trashFireOther.name }}:</b></p>
        {% for item in trashFireOther.items %}
            <p>
                <b>{{ loop.index }}. {{ item.created_at | date('d.m.Y') }}г. {{ item.created_at | date('H') }}
                    час. {{ item.created_at | date('i') }} мин.
                    {{ item.city_area ? item.city_area.name : '' }}, {{ item.location }}:</b>
            </p>
            <p>
                (заявитель: {{ item.caller_name }}, тел: {{ item.caller_phone }}).
                ПЧ осуществляющая выезд:
                {% for department in item.departments %}
                    {{ department.title }} {{ not loop.index ? ',': '' }}
                {% endfor %}.
                Результат выезда - {{ item.trip_result ? item.trip_result.name : '' }}.
                Ликвидировано стволами: {{ item.liquidation_method ? item.liquidation_method.name : '' }}
                Дополнительная информация: {{ item.more_info }}
            </p>
        {% endfor %}
    {% endif %}

    {% if trashFireHouse.items | length > 0 %}
        <p style="margin: 0 auto;width: 50%"><b>{{ trashFireHouse.name }}:</b></p>
        {% for item in trashFireHouse.items %}
            <p>
                <b>{{ loop.index }}. {{ item.created_at | date('d.m.Y') }}г. {{ item.created_at | date('H') }}
                    час. {{ item.created_at | date('i') }} мин.
                    {{ item.city_area ? item.city_area.name : '' }}, {{ item.location }}:</b>
            </p>
            <p>
                (заявитель: {{ item.caller_name }}, тел: {{ item.caller_phone }}).
                ПЧ осуществляющая выезд:
                {% for department in item.departments %}
                    {{ department.title }} {{ not loop.index ? ',': '' }}
                {% endfor %}.
                Результат выезда - {{ item.trip_result ? item.trip_result.name : '' }}.
                Ликвидировано стволами: {{ item.liquidation_method ? item.liquidation_method.name : '' }}
                Дополнительная информация: {{ item.more_info }}
            </p>
        {% endfor %}
    {% endif %}

    {% if workFire.items | length > 0 %}
        <p style="margin: 0 auto;width: 50%"><b>{{ workFire.name }}:</b></p>
        {% for item in workFire.items %}
            <p>
                <b>{{ loop.index }}. {{ item.created_at | date('d.m.Y') }}г. {{ item.created_at | date('H') }}
                    час. {{ item.created_at | date('i') }} мин.
                    {{ item.city_area ? item.city_area.name : '' }}, {{ item.location }}:</b>
            </p>
            <p>
                (заявитель: {{ item.caller_name }}, тел: {{ item.caller_phone }}).
                ПЧ осуществляющая выезд:
                {% for department in item.departments %}
                    {{ department.title }} {{ not loop.index ? ',': '' }}
                {% endfor %}.
                Результат выезда - {{ item.trip_result ? item.trip_result.name : '' }}.
                Ликвидировано стволами: {{ item.liquidation_method ? item.liquidation_method.name : '' }}
                Дополнительная информация: {{ item.more_info }}
            </p>
        {% endfor %}
    {% endif %}

    {% if peopleCall.items | length > 0 %}
        <p style="margin: 0 auto;width: 50%"><b>{{ peopleCall.name }}:</b></p>
        {% for item in peopleCall.items %}
            <p>
                <b>{{ loop.index }}. {{ item.created_at | date('d.m.Y') }}г. {{ item.created_at | date('H') }}
                    час. {{ item.created_at | date('i') }} мин.
                    {{ item.city_area ? item.city_area.name : '' }}, {{ item.location }}:</b>
            </p>
            <p>
                (заявитель: {{ item.caller_name }}, тел: {{ item.caller_phone }}).
                ПЧ осуществляющая выезд:
                {% for department in item.departments %}
                    {{ department.title }} {{ not loop.index ? ',': '' }}
                {% endfor %}.
                Результат выезда - {{ item.trip_result ? item.trip_result.name : '' }}.
                Ликвидировано стволами: {{ item.liquidation_method ? item.liquidation_method.name : '' }}
                Дополнительная информация: {{ item.more_info }}
            </p>
        {% endfor %}
    {% endif %}

    {% if asr.items | length > 0 %}
        <p style="margin: 0 auto;width: 50%"><b>{{ asr.name }}:</b></p>
        {% for item in asr.items %}
            <p>
                <b>{{ loop.index }}. {{ item.created_at | date('d.m.Y') }}г. {{ item.created_at | date('H') }}
                    час. {{ item.created_at | date('i') }} мин.
                    {{ item.city_area ? item.city_area.name : '' }}, {{ item.location }}:</b>
            </p>
            <p>
                (заявитель: {{ item.caller_name }}, тел: {{ item.caller_phone }}).
                ПЧ осуществляющая выезд:
                {% for department in item.departments %}
                    {{ department.title }} {{ not loop.index ? ',': '' }}
                {% endfor %}.
                Результат выезда - {{ item.trip_result ? item.trip_result.name : '' }}.
                Ликвидировано стволами: {{ item.liquidation_method ? item.liquidation_method.name : '' }}
                Дополнительная информация: {{ item.more_info }}
            </p>
        {% endfor %}
    {% endif %}


    {% if falseCall.items | length > 0 %}
        <p style="margin: 0 auto;width: 50%"><b>{{ falseCall.name }}:</b></p>
        {% for item in falseCall.items %}
            <p>
                <b>{{ loop.index }}. {{ item.created_at | date('d.m.Y') }}г. {{ item.created_at | date('H') }}
                    час. {{ item.created_at | date('i') }} мин.
                    {{ item.city_area ? item.city_area.name : '' }}, {{ item.location }}:</b>
            </p>
            <p>
                (заявитель: {{ item.caller_name }}, тел: {{ item.caller_phone }}).
                ПЧ осуществляющая выезд:
                {% for department in item.departments %}
                    {{ department.title }} {{ not loop.index ? ',': '' }}
                {% endfor %}.
                Результат выезда - {{ item.trip_result ? item.trip_result.name : '' }}.
                Ликвидировано стволами: {{ item.liquidation_method ? item.liquidation_method.name : '' }}
                Дополнительная информация: {{ item.more_info }}
            </p>
        {% endfor %}
    {% endif %}

    {% if orphanFire.items | length > 0 %}
        <p style="margin: 0 auto;width: 50%"><b>{{ orphanFire.name }}:</b></p>
        {% for item in orphanFire.items %}
            <p>
                <b>{{ loop.index }}. {{ item.created_at | date('d.m.Y') }}г. {{ item.created_at | date('H') }}
                    час. {{ item.created_at | date('i') }} мин.
                    {{ item.city_area ? item.city_area.name : '' }}, {{ item.location }}:</b>
            </p>
            <p>
                (заявитель: {{ item.caller_name }}, тел: {{ item.caller_phone }}).
                ПЧ осуществляющая выезд:
                {% for department in item.departments %}
                    {{ department.title }} {{ not loop.index ? ',': '' }}
                {% endfor %}.
                Результат выезда - {{ item.trip_result ? item.trip_result.name : '' }}.
                Ликвидировано стволами: {{ item.liquidation_method ? item.liquidation_method.name : '' }}
                Дополнительная информация: {{ item.more_info }}
            </p>
        {% endfor %}
    {% endif %}

    {% if otherFire.items | length > 0 %}
        <p style="margin: 0 auto;width: 50%"><b>{{ otherFire.name }}:</b></p>
        {% for item in otherFire.items %}
            <p>
                <b>{{ loop.index }}. {{ item.created_at | date('d.m.Y') }}г. {{ item.created_at | date('H') }}
                    час. {{ item.created_at | date('i') }} мин.
                    {{ item.city_area ? item.city_area.name : '' }}, {{ item.location }}:</b>
            </p>
            <p>
                (заявитель: {{ item.caller_name }}, тел: {{ item.caller_phone }}).
                ПЧ осуществляющая выезд:
                {% for department in item.departments %}
                    {{ department.title }} {{ not loop.index ? ',': '' }}
                {% endfor %}.
                Результат выезда - {{ item.trip_result ? item.trip_result.name : '' }}.
                Ликвидировано стволами: {{ item.liquidation_method ? item.liquidation_method.name : '' }}
                Дополнительная информация: {{ item.more_info }}
            </p>
        {% endfor %}
    {% endif %}

    {% if regionFire.items | length > 0 %}
        <p style="margin: 0 auto;width: 50%"><b>{{ regionFire.name }}:</b></p>
        {% for item in regionFire.items %}
            <p>
                <b>{{ loop.index }}. {{ item.created_at | date('d.m.Y') }}г. {{ item.created_at | date('H') }}
                    час. {{ item.created_at | date('i') }} мин.
                    {{ item.city_area ? item.city_area.name : '' }}, {{ item.location }}:</b>
            </p>
            <p>
                (заявитель: {{ item.caller_name }}, тел: {{ item.caller_phone }}).
                ПЧ осуществляющая выезд:
                {% for department in item.departments %}
                    {{ department.title }} {{ not loop.index ? ',': '' }}
                {% endfor %}.
                Результат выезда - {{ item.trip_result ? item.trip_result.name : '' }}.
                Ликвидировано стволами: {{ item.liquidation_method ? item.liquidation_method.name : '' }}
                Дополнительная информация: {{ item.more_info }}
            </p>
        {% endfor %}
    {% endif %}

    {% if technologyFire.items | length > 0 %}
        <p style="margin: 0 auto;width: 50%"><b>{{ technologyFire.name }}:</b></p>
        {% for item in technologyFire.items %}
            <p>
                <b>{{ loop.index }}. {{ item.created_at | date('d.m.Y') }}г. {{ item.created_at | date('H') }}
                    час. {{ item.created_at | date('i') }} мин.
                    {{ item.city_area ? item.city_area.name : '' }}, {{ item.location }}:</b>
            </p>
            <p>
                (заявитель: {{ item.caller_name }}, тел: {{ item.caller_phone }}).
                ПЧ осуществляющая выезд:
                {% for department in item.departments %}
                    {{ department.title }} {{ not loop.index ? ',': '' }}
                {% endfor %}.
                Результат выезда - {{ item.trip_result ? item.trip_result.name : '' }}.
                Ликвидировано стволами: {{ item.liquidation_method ? item.liquidation_method.name : '' }}
                Дополнительная информация: {{ item.more_info }}
            </p>
        {% endfor %}
    {% endif %}

    {% if pyrophoricFire.items | length > 0 %}
        <p style="margin: 0 auto;width: 50%"><b>{{ pyrophoricFire.name }}:</b></p>
        {% for item in pyrophoricFire.items %}
            <p>
                <b>{{ loop.index }}. {{ item.created_at | date('d.m.Y') }}г. {{ item.created_at | date('H') }}
                    час. {{ item.created_at | date('i') }} мин.
                    {{ item.city_area ? item.city_area.name : '' }}, {{ item.location }}:</b>
            </p>
            <p>
                (заявитель: {{ item.caller_name }}, тел: {{ item.caller_phone }}).
                ПЧ осуществляющая выезд:
                {% for department in item.departments %}
                    {{ department.title }} {{ not loop.index ? ',': '' }}
                {% endfor %}.
                Результат выезда - {{ item.trip_result ? item.trip_result.name : '' }}.
                Ликвидировано стволами: {{ item.liquidation_method ? item.liquidation_method.name : '' }}
                Дополнительная информация: {{ item.more_info }}
            </p>
        {% endfor %}
    {% endif %}


    {% if alarm.items | length > 0 %}
        <p style="margin: 0 auto;width: 50%"><b>{{ alarm.name }}:</b></p>
        {% for item in alarm.items %}
            <p>
                <b>{{ loop.index }}. {{ item.created_at | date('d.m.Y') }}г. {{ item.created_at | date('H') }}
                    час. {{ item.created_at | date('i') }} мин.
                    {{ item.city_area ? item.city_area.name : '' }}, {{ item.location }}:</b>
            </p>
            <p>
                (заявитель: {{ item.caller_name }}, тел: {{ item.caller_phone }}).
                ПЧ осуществляющая выезд:
                {% for department in item.departments %}
                    {{ department.title }} {{ not loop.index ? ',': '' }}
                {% endfor %}.
                Результат выезда - {{ item.trip_result ? item.trip_result.name : '' }}.
                Ликвидировано стволами: {{ item.liquidation_method ? item.liquidation_method.name : '' }}
                Дополнительная информация: {{ item.more_info }}
            </p>
        {% endfor %}
    {% endif %}

    {% if airFire.items | length > 0 %}
        <p style="margin: 0 auto;width: 50%"><b>{{ airFire.name }}:</b></p>
        {% for item in airFire.items %}
            <p>
                <b>{{ loop.index }}. {{ item.created_at | date('d.m.Y') }}г. {{ item.created_at | date('H') }}
                    час. {{ item.created_at | date('i') }} мин.
                    {{ item.city_area ? item.city_area.name : '' }}, {{ item.location }}:</b>
            </p>
            <p>
                (заявитель: {{ item.caller_name }}, тел: {{ item.caller_phone }}).
                ПЧ осуществляющая выезд:
                {% for department in item.departments %}
                    {{ department.title }} {{ not loop.index ? ',': '' }}
                {% endfor %}.
                Результат выезда - {{ item.trip_result ? item.trip_result.name : '' }}.
                Ликвидировано стволами: {{ item.liquidation_method ? item.liquidation_method.name : '' }}
                Дополнительная информация: {{ item.more_info }}
            </p>
        {% endfor %}
    {% endif %}

    {% if suicide.items | length > 0 %}
        <p style="margin: 0 auto;width: 50%"><b>{{ suicide.name }}:</b></p>
        {% for item in suicide.items %}
            <p>
                <b>{{ loop.index }}. {{ item.created_at | date('d.m.Y') }}г. {{ item.created_at | date('H') }}
                    час. {{ item.created_at | date('i') }} мин.
                    {{ item.city_area ? item.city_area.name : '' }}, {{ item.location }}:</b>
            </p>
            <p>
                (заявитель: {{ item.caller_name }}, тел: {{ item.caller_phone }}).
                ПЧ осуществляющая выезд:
                {% for department in item.departments %}
                    {{ department.title }} {{ not loop.index ? ',': '' }}
                {% endfor %}.
                Результат выезда - {{ item.trip_result ? item.trip_result.name : '' }}.
                Ликвидировано стволами: {{ item.liquidation_method ? item.liquidation_method.name : '' }}
                Дополнительная информация: {{ item.more_info }}
            </p>
        {% endfor %}
    {% endif %}

    {% if dischargesElectr.items | length > 0 %}
        <p style="margin: 0 auto;width: 50%"><b>{{ dischargesElectr.name }}:</b></p>
        {% for item in dischargesElectr.items %}
            <p>
                <b>{{ loop.index }}. {{ item.created_at | date('d.m.Y') }}г. {{ item.created_at | date('H') }}
                    час. {{ item.created_at | date('i') }} мин.
                    {{ item.city_area ? item.city_area.name : '' }}, {{ item.location }}:</b>
            </p>
            <p>
                (заявитель: {{ item.caller_name }}, тел: {{ item.caller_phone }}).
                ПЧ осуществляющая выезд:
                {% for department in item.departments %}
                    {{ department.title }} {{ not loop.index ? ',': '' }}
                {% endfor %}.
                Результат выезда - {{ item.trip_result ? item.trip_result.name : '' }}.
                Ликвидировано стволами: {{ item.liquidation_method ? item.liquidation_method.name : '' }}
                Дополнительная информация: {{ item.more_info }}
            </p>
        {% endfor %}
    {% endif %}

    <br/>
    <br/>
    {% for title, tripResult in tripResults %}
        <div style="padding-top: 50px; margin: 0 auto;width: 50%; ">{{ title }}:</div>
        {% for tripItem in tripResult %}
            <div>
                {{ loop.index }}. {{ tripItem.analytics|raw }}
            </div>
        {% endfor %}
        <br/>
    {% endfor %}

    <div><b>Проверка частей:</b></div>
    {% for title, check in fireDeptChecks %}
        <div>{{ loop.index }}.{{ check.fire_department.title }}: {{ check.time_begin }}
            - {{ check.time_end }} {{ check.responsible_person }} {{ check.note }}</div>
    {% endfor %}

</div>