{% extends "layout/html" %}
{% block content %}
    <div class="container">
        <h4 class="title">Изменить пароль:
            <small>{{ user.name }}</small>
        </h4>
        <form action="" method="post">
            {{ csrf_field() }}
            <div class="row">
                <div class="col">
                    <div class="field">
                        <label for="password">Пароль</label>
                        <input type="password" class="input  {{ errors.has('password')?'is-danger' }}" name="password" id="password" value=""/>
                        {% if errors.has('password') %}
                            <span class="help is-danger">
                                        <small>{{ errors.first('password') }}</small>
                                    </span>
                        {% endif %}
                    </div>
                    <div class="field">
                        <label for="password_confirmation">Пароль (повторно)</label>
                        <input type="password" class="input" name="password_confirmation" id="password_confirmation"
                               value=""/>
                    </div>
                </div>
            </div>
            <div class="has-text-right form-buttons-bg">
                <a href="{{ url('admin/users') }}" class="button is-light">Отмена</a>
                <button type="submit" class="button is-success"><i class="fa fa-check"></i>&nbsp;Сохранить</button>
            </div>
        </form>
    </div>
{% endblock content %}