{% extends "layout/html" %}
{% block content %}
    <div class="">
    <form action="" method="post">
        {{ csrf_field() }}
        <div class="modal is-active" role="document">
            <div class="form-modal-border">
                <div class="form-modal-header has-background-danger has-text-white">
                    <h5 class="subtitle">Блокирование пользователя</h5>
                </div>
                <div class="form-modal-body">
                    <p>Уверены, что хотите {{ user.hasRight(1)?'заблокировать':'разблокировать' }} пользователя {{ user.name }}?</p>
                </div>
                <div class="modal-footer form-buttons-bg has-text-right">
                    <a href="{{ url('admin/users') }}" class="button is-light">Отмена</a>
                    <button type="submit" class="button {{ user.hasRight(1)?'is-danger':'is-success' }}"><i class="fa fa-lock"></i>&nbsp;{{ user.hasRight(1)?'Заблокировать':'Разблокировать' }}</button>
                </div>
            </div>
        </div>
    </form>
    </div>{% endblock content %}