{% extends "layout/html" %}
{% block content %}
    <div class="section" id="vue">
        <b-tabs position="is-centered" class="block" id="other-rides-form">
            {% if user.hasRight('CAN_ACCESS_REPORT_101_EMERGENCY_PERIOD') %}
                {#Отчет-1#}
                <b-tab-item label="{{ t('/reports/analytics-spiasr.report1.tab_title') }}">
                    <report101-emergency
                            :results="{{ reasons }}"
                            :burnt_objects="{{ burntObjects }}"
                            :city_areas="{{ cityAreas }}">
                    </report101-emergency>
                </b-tab-item>
            {% endif %}

            {% if user.hasRight('CAN_ACCESS_REPORT_EMERGENCY_RESCUE_GU') %}
                {#Форма ЧС-051#}
                <b-tab-item label="{{ t('/reports/analytics-spiasr.emergency_form_051.tab_title') }}">
                    <report-emergency-rescue-gu
                    >
                    </report-emergency-rescue-gu>
                </b-tab-item>
            {% endif %}

            {% if user.hasRight('CAN_ACCESS_REPORT_FORCES_RESOURCES') %}
                {#Учет выездов подразделений#}
                <b-tab-item label="{{ t('/reports/analytics-spiasr.forces_resources.tab_title') }}">
                    <report-forces-resources
                         :fire-departments="{{ fireDepartments }}">
                    </report-forces-resources>
                </b-tab-item>
            {% endif %}

            {% if user.hasRight('CAN_ACCESS_REPORT_DRILL_RIDES') %}
                {#Общий свод по учениям и занятиям#}
                <b-tab-item label="{{ t('/reports/analytics-spiasr.drill_rides_report.tab_title') }}">
                    <report-drill-rides-period
                            :norm-types="{{ normTypes|json_encode }}"
                            :fire-departments="{{ fireDepartments }}"
                    >
                    </report-drill-rides-period>
                </b-tab-item>
            {% endif %}

            {% if user.hasRight('CAN_ACCESS_REPORT_OTHER_RIDES') %}
                <b-tab-item label="Общий свод по прочим выездам">
                    <report-other-rides-period
                            :ride-types="{{ rideTypes }}"
                            :fire-departments="{{ fireDepartments }}"
                    >
                    </report-other-rides-period>
                </b-tab-item>
            {% endif %}

            {% if user.hasRight('CAN_ACCESS_REPORT_OBJECT_CLASSIFICATION') %}
                <b-tab-item label="Классификация объектов">
                    <report-object-classification
                            :records="{{ records|json_encode }}"
                            :counts="{{ counts|json_encode }}"
                            :object_classes="{{ object_classes }}"
                    >
                    </report-object-classification>
                </b-tab-item>
            {% endif %}

            {% if user.hasRight('WATER_CONSUMPTION_REPORT_SHOW') %}
                <b-tab-item label="Расход воды">
                    <report-water-consumption
                    >
                    </report-water-consumption>
                </b-tab-item>
            {% endif %}

            {% if user.hasRight('CONSOLIDATED_REPORT_SHOW') %}
                <b-tab-item label="Сводный отчет">
                    <report-consolidated-result-period
                    ></report-consolidated-result-period>
                </b-tab-item>
            {% endif %}
        </b-tabs>


    </div>
{% endblock content %}
