<table class="table is-expanded is-striped is-narrow is-fullwidth">
    <thead>
    <tr>
        <th>Службы</th>
        <th>Время сообщения</th>
        <th>Фамилия<br/>принявшего сообщение</th>
        <th>Время прибытия</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for notification in ticket.notification_services %}
        <tr>
            <td>{{ notification.service.name }}</td>
            <td data-component="timepicker1"
                data-value="">
                <input type="text"
                       readonly
                       name="notification_services[{{ service.id }}][[message_time]"
                       class="input">
            </td>
            <td>
                <input type="text"
                       class="input"
                       name="notification_services[{{ service.id }}][[name]"/>
            </td>
            <td data-component="timepicker1"
                data-value="">
                <input type="text"
                       name="notification_services[{{ service.id }}][[arrive_time]"
                       value=""
                       readonly
                       class="input">
            </td>
            <td>
                <label for="">
                    <input type="checkbox"
                           data-component="service-plan"
                           name="notification_services[{{ service.id }}][[checked]"
                           @change="sendOneCheckService($event, {{ ticket.id|default(0) }}, '{{ name }}')"
                           class="checkbox">
                </label>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
