<table class="table is-expanded is-striped is-narrow is-fullwidth">
    <thead>
    <tr>
        <th>Службы</th>
        <th>Время сообщения</th>
        <th>Фамилия<br/>принявшего сообщение</th>
        <th>Время прибытия</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for notification in ticket.notifications %}
        <tr>
            <td>{{ notification.service.name }}</td>
            <td data-component="timepicker1"
                data-value="">
                <input type="text"
                       readonly
                       value="{{ notification.message_time }}"
                       name="notification_services[{{ notification.id }}][[message_time]"
                       class="input">
            </td>
            <td>
                <input type="text"
                       class="input"
                       value="{{ notification.name }}"
                       name="notification_services[{{ notification.id }}][[name]"/>
            </td>
            <td data-component="timepicker1"
                data-value="">
                <input type="text"
                       name="notification_services[{{ notification.id }}][[arrive_time]"
                       value="{{ notification.arrive_time }}"
                       readonly
                       class="input">
            </td>
            <td>
                <label for="">
                    <input type="checkbox"
                           data-component="service-plan"
                           name="notification_services[{{ notification.id }}][[checked]"
                           {% if notification.checked %} checked {% endif %}
                           value="1"
                           class="checkbox">
                </label>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
