<table class="table is-expanded is-striped is-narrow is-fullwidth">
    <thead>
    <tr>
        <th>Службы</th>
        <th>Время сообщения</th>
        <th>Фамилия<br/>принявшего сообщение</th>
        <th>Время прибытия</th>
        <th>Путевой лист отправлен</th>
        <th>Уведомление отправлено</th>
    </tr>
    </thead>
    <tbody>
    {% for notification in ticket.service_plans %}
        {% if notification.service_type and notification.service_type.id %}
        <tr>
            <td>
                <label>
                    <input type="checkbox"
                           data-component="service-plan"
                           name="notification_services[{{ notification.id }}][checked]"
                            {% if notification.dispatched_time %} checked {% endif %}
                           value="1"
                           @change="sendOneCheckService($event, {{ ticket.id|default(0) }}, '{{ notification.service_type.id }}', {{ notification.id }})"
                           class="checkbox">
                    {{ notification.service_type.name }}
                </label>

            </td>
            <td data-component="timepicker1"
                data-value="">
                {% for item in ticket.notifications %}
                    {% if item.notification_service_id == notification.service_type.id %}
                        <input type="text"
                               readonly
                               value="{{ item.message_time }}"
                               id="{{ notification.id }}_message_time"
                               name="notification_services[{{ notification.id }}][message_time]"
                               class="input">
                    {% endif %}
                {% endfor %}

            </td>
            <td>
                <input type="text"
                       class="input"
                       value="{{ notification.name_accepted }}"
                       id="{{ notification.id }}_name"
                       name="notification_services[{{ notification.id }}][name]"/>
            </td>
            <td data-component="timepicker1"
                data-value="">
                <input type="text"
                       id="{{ notification.id }}_arrive_time"
                       name="notification_services[{{ notification.id }}][arrive_time]"
                       value="{{ notification.arrive_time }}"
                       readonly
                       class="input">
            </td>
            <td>
                <p id="{{ notification.id }}_dispatched_time">
                    {{ notification.dispatched_time ? notification.dispatched_time.format('d.m.Y H:i') : '' }}
                </p>
            </td>
            <td>
                {% for item in ticket.notifications %}
                    {% if item.notification_service_id == notification.service_type.id %}
                        <p id="{{ item.id }}_notification_dispatched_time">
                            {{ item.checked ? item.created_at.format('d.m.Y H:i') : '' }}
                        </p>
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>
