{% extends "layout/html" %}
{% block content %}
    <div class="container section">
        <div class="panel">
            <div class="box" style="margin-top: 20px">
                <h4 class="title">{{ title }}</h4>
                <form action="/dictionaries/service-types/create-edit" method="post">
                    {{ csrf_field() }}
                    <input type="hidden" name="id" value="{{ record.id|default() }}"/>
                    <div class="field">
                        <label for="name">Название</label>
                        <input required type="text" class="input" name="name" id="name" value="{{ attribute(record, 'name')|default('') }}"/>
                    </div>
                    <div class="field">
                        <p>Руководитель</p>
                        <select required name="head_user_id" id="head_user_id" class="select">
                            {% for item in users %}
                                <option {{ item.id == record.head_user_id|default(0) ? 'selected' : '' }} value="{{ item.id }}">{{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="field">
                        <label for="name">Приоритет</label>
                        <input required type="text" class="input" name="priority" id="priority" value="{{ attribute(record, 'priority')|default('') }}"/>
                    </div>
                    <div class="field">
                        <p>Участвует в суточном отчете 112</p>
                        <select required name="report112_daily" id="report112_daily" class="select">
                            <option {{ record.report112_daily|default() == 1 ? 'selected' : '' }} value="1">Да</option>
                            <option {{ record.report112_daily|default() == 0 ? 'selected' : '' }} value="0">Нет</option>
                        </select>
                    </div>
                    <div class="field">
                        <p>Участвует в карточке 112</p>
                        <select required name="in_card112" id="in_card112" class="select">
                            <option {{ record.in_card112|default() == 1 ? 'selected' : '' }} value="1">Да</option>
                            <option {{ record.in_card112|default() == 0 ? 'selected' : '' }} value="0">Нет</option>
                        </select>
                    </div>
                    <div class="field">
                        <p>Участвует в карточке 101</p>
                        <select required name="in_card101" id="in_card101" class="select">
                            <option {{ record.in_card101|default() == 1 ? 'selected' : '' }} value="1">Да</option>
                            <option {{ record.in_card101|default() == 0 ? 'selected' : '' }} value="0">Нет</option>
                        </select>
                    </div>
                    <div class="field">
                        <p>Участвует в разделе "Информация от служб вз/д"</p>
                        <select required name="info" id="info" class="select">
                            <option {{ record.info|default() == 1 ? 'selected' : '' }} value="1">Да</option>
                            <option {{ record.info|default() == 0 ? 'selected' : '' }} value="0">Нет</option>
                        </select>
                    </div>
                    <div class="field">
                        <label for="name">Сортировка</label>
                        <input required type="number" class="input" name="sort_order" id="sort_order" value="{{ attribute(record, 'sort_order')|default('') }}"/>
                    </div>
                    <div class="buttons has-text-right is-grouped is-right" style="">
                        <button type="submit" class="button is-success"><i class="fas fa-check"></i>&nbsp;Сохранить</button>
                        <a href="/dictionaries/service-types/" class="button is-light">Отменить</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
