{% extends "layout/html" %}
{% block content %}
    <div class="container section">
        <div class="panel">
            <div class="box" style="margin-top: 20px">
                <h4 class="title">{{ title }}</h4>
                <form action="/dictionaries/trip-results/create-edit" method="post">
                    {{ csrf_field() }}
                    <input type="hidden" name="id" value="{{ record.id|default() }}"/>
                    <div class="field">
                        <label for="name">Наименование</label>
                        <input required type="text" class="input" name="name" id="name" value="{{ attribute(record, 'name')|default('') }}"/>
                    </div>
                    <div class="field">
                        <label for="show_in_daily_report101">Участвует в ежедневном отчете 101</label>
                        <select required name="show_in_daily_report101" id="show_in_daily_report101" class="select">
                            <option {{ 1 == record.show_in_daily_report101|default(0) ? 'selected' : '' }} value="1">Да</option>
                            <option {{ 0 == record.show_in_daily_report101|default(0) ? 'selected' : '' }} value="0">Нет</option>
                        </select>
                    </div>
                    <div class="field">
                        <label for="show_in_daily_report112">Участвует в ежедневном отчете 112</label>
                        <select required name="show_in_daily_report112" id="show_in_daily_report112" class="select">
                            <option {{ 1 == record.show_in_daily_report112|default(0) ? 'selected' : '' }} value="1">Да</option>
                            <option {{ 0 == record.show_in_daily_report112|default(0) ? 'selected' : '' }} value="0">Нет</option>
                        </select>
                    </div>
                    <div class="field">
                        <label for="name">Код ЧС</label>
                        <input required type="text" class="input" name="emergency_code" id="emergency_code" value="{{ attribute(record, 'emergency_code')|default('') }}"/>
                    </div>
                    <div class="buttons has-text-right is-grouped is-right" style="">
                        <button type="submit" class="button is-success"><i class="fas fa-check"></i>&nbsp;Сохранить</button>
                        <a href="/dictionaries/incident-types/" class="button is-light">Отменить</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
