{% extends "layout/html" %}
{% block content %}
    <div id="vue" class="section container">
        <div class="panel">
            <div class="box" style="margin-top: 20px">
                <h4 class="title">{{ title }}</h4>
                <form method="post" action="{{ route('schedules.update', fire_department.id) }}">
                    {{ csrf_field() }}
                    {{ method_field('PUT') }}

                    <schedule
                            :records="{{ schedules }}"
                            :fire_departments="{{ fire_departments }}"
                            :fire_levels="{{ fire_levels }}"
                    >
                    </schedule>
                    <div class="panel" style="padding: 30px 10px 20px; margin-top:20px;border-top: 1px solid #dbdbdb; background-color: #f7f7f7">
                        <div class="level">
                            <p class="level-left">
                            </p>
                            <p class="level-right">
                                <button type="submit" class="button is-success"><i class="fas fa-check"></i>&nbsp; Сохранить
                                </button>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
