{% extends "layout/html" %}
{% block content %}
    <div class="container" id="add-101-persons-form" data-department_value="{{ dept_id }}">
        <div class="level" style="margin-top: 20px">
            <div class="level-left">
                <h4 class="title">Личный состав от {{ report.report_date }}</h4>
            </div>
            <div class="level-right">
                <a href="{{ url('/formation/add101tech/' ~ form_id ~ '/' ~ dept_id) }}" class="button is-"><i class="fas fa-truck-moving"></i>&nbsp;Данные техники</a>
            </div>
        </div>
        <div class="field">
            <p class="control">
                <label for="dept_id_selector">Пожарная часть</label>
            <div class="select">
                <select class="select"
                        name="dept_id"
                        id="dept_id_selector"
                        v-model="departmentId">
                    {% for department in departments %}
                        <option value="{{ department.id }}" {% if department.id == dept_id %}selected{% endif %}>&nbsp;{{ department.title }}&nbsp;</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <input type="hidden" :value="fieldsComputed">
        <form action="" method="post">
            {{ csrf_field() }}
            <input type="hidden" name="dept_id" value="{{ dept_id }}"/>
            <input type="hidden" name="form_id" value="{{ form_id }}"/>
            {% include "formation/field.twig" with {fields: fieldlist, prefix: '', model: model} %}

            <div class="panel" style="padding: 30px 10px 20px; margin-top:20px;border-top: 1px solid #dbdbdb; background-color: #f7f7f7">
                <div class="level">
                    <p class="level-left">
                    </p>
                    <p class="level-right">
                        <button type="submit" class="button is-success"><i class="fas fa-check"></i>&nbsp; Сохранить</button>
                    </p>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}
