{% extends "layout/html" %}
{% block content %}
    <div class="container section">
        <h3 class="title">Перемещение</h3>
        <form action="" method="post">
            {{ csrf_field() }}
            <div class="field">
                <label for="from">Маршрут следования: начальный пункт</label>
                <input type="text" id="from" class="input" name="from" value="{{ report.from|default('') }}"/>
            </div>
            <div class="field">
                <label for="to">Маршрут следования: конечный пункт</label>
                <input type="text" id="to" class="input" name="to" value="{{ report.to|default('') }}"/>
            </div>
            <div class="field">
                <label for="tech_count">Количество автотехники</label>
                <input type="number" min=0 oninput="validity.valid||(value='');" id="tech_count" class="input" name="tech_count" value="{{ report.tech_count|default(0) }}"/>
            </div>
            <div class="field">
                <label for="people_count">Количество л\с</label>
                <input type="number" min=0 oninput="validity.valid||(value='');" id="people_count" class="input" name="people_count" value="{{ report.people_count|default(0) }}"/>
            </div>
            <div class="field">
                <label for="manager_name">ФИО старшего группы
                </label>
                <input type="text" id="manager_name" class="input" name="manager_name" value="{{ report.manager_name|default('') }}"/>
            </div>
            <div class="field">
                <label for="nickname">Позывной
                </label>
                <input type="text" id="nickname" class="input" name="nickname" value="{{ report.nickname|default('') }}"/>
            </div>

            <div class="field">
                <label for="phone">Контактный телефон
                </label>
                <input type="text" id="phone" class="input" name="phone" value="{{ report.phone|default('') }}"/>
            </div>

            <div class="panel" style="padding: 30px 10px 20px; margin-top:20px;border-top: 1px solid #dbdbdb; background-color: #f7f7f7">
                <div class="level">
                    <p class="level-left">
                    </p>
                    <p class="level-right">
                        <button type="submit" class="button is-success"><i class="fas fa-check"></i>&nbsp; Сохранить</button>
                    </p>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}
