{% extends "layout/html" %}
{% block content %}
    <script>
        window.odStaff = {{ od_staff | json_encode() | raw }};
        window.people = {{ people | json_encode() | raw }};
        window.formId = '{{ form_id }}';
        window.canEditOd = {{ canEditOd | json_encode() | raw }};
        window.approved = {{ approved | json_encode() | raw }};
    </script>
    <div class="section container-fluid" id="view-101-app">
    <div class="panel">
        <div class="level" style="padding: 10px">
            <div class="level-left">
                <h4 class="title">Строевая записка от {{ report.report_date|date('d.m.Y') }} {{ operGroup }}</h4>
            </div>
            <div class="level-right has-text-left">
                {% if user.hasRight(20) %}
                    <form method="post" action="/formation/approve101/{{ report.id }}">
                        {{ csrf_field() }}
                        <button type="submit" class="button {{ report.is_approved ? 'is-disabled' : 'is-primary' }}"><i class="fas fa-adjust"></i>&nbsp; {{ report.is_approved ? 'Отменить утверждение' : 'Утвердить' }}</button>
                    </form>
                {% endif %}
                <a style="margin: 5px 5px 5px 10px;" target="_blank" href="/pdf/report101/docx" class="button is-primary"><i class="fas fa-save"></i>&nbsp; Сохранить как DOCX</a>
                <a style="margin: 5px;" target="_blank" href="/pdf/report101/xls" class="button is-primary"><i class="fas fa-save"></i>&nbsp; Сохранить как XLS</a>
            </div>
        </div>
        <div class="level">
            <p class="" style="width: 16%; padding: 0 20px 0 0">
                <persons101-multiselect
                        :name="'ДСПТ'"
                        :rank="'dspt'">
                </persons101-multiselect>
            </p>
            <p class="" style="width: 16%; padding: 0 20px 0 0">
                <persons101-multiselect
                        :name="'ЦППС'"
                        :rank="'cpps'">
                </persons101-multiselect>
            </p>
            <p class="" style="width: 16%; padding: 0 20px 0 0">
                <persons101-multiselect
                        :name="'ЕДДС'"
                        :rank="'edds'">
                </persons101-multiselect>
            </p>
            <p class="" style="width: 16%; padding: 0 20px 0 0">
                <persons101-multiselect
                        :name="'ИПЛ'"
                        :rank="'ipl'">
                </persons101-multiselect>
            </p>
            <p class="" style="width: 16%; padding: 0 20px 0 0">
                <persons101-multiselect
                        :name="'Водоканал'"
                        :rank="'water_supply'">
                </persons101-multiselect>
            </p>
            <p class="" style="width: 16%; padding: 0 20px 0 0">
                <persons101-multiselect
                        :name="'Ст. мастер связи'"
                        :rank="'senior_communication_master'">
                </persons101-multiselect>
            </p>

        </div>

        <div class="tbl" style="overflow-x: scroll">
            <table id="main_table" class="detailed-table table is-small is-fullwidth is-narrow is-hoverable" style="font-size: .7rem">
                {% include 'formation/layout/view-101-table-header' %}
                {% for dept in departments if dept.id != 13 %}
                    <tr {% if dept.tech_action|length == 0 %} style="background-color: #ff3317" {% endif %}>
                        {#Наименование пожарных подразделений#}
                        <td>{{ dept.title }}</td>

                        {% for ppl in people_fields %}
                            <td>
                                {{ people[dept.id][ppl]|default('-') }}{% if people[dept.id]['trainee']|default(null) is not empty and people[dept.id].getTraineeCount(ppl) %}/{{ people[dept.id].getTraineeCount(ppl) }}{% endif %}
                            </td>
                        {% endfor %}

                        {% for tch in tech_fields %}
                            <td>{{ tech[dept.id][tch]|default('-') }}</td>
                        {% endfor %}

                        <td>
                            {% for action in dept.tech_action if action.vehicle.vehicle_type_id == 1 %}
                                {{ action.vehicle.name|default('-') }} {{ action.vehicle_status ? '('~action.vehicle_status.name~')' : '' }}<br>
                            {% endfor %}
                        </td>
                        <td>
                            {% for action in dept.tech_action if action.vehicle.vehicle_type_id == 2 %}
                                {{ action.vehicle.name|default('-') }} {{ action.vehicle_status ? '('~action.vehicle_status.name~')' : '' }}<br>
                            {% endfor %}
                        </td>
                        <td>
                            {% for tech_reserve in dept.tech_reserve if tech_reserve.vehicle.vehicle_type_id == 1 %}
                                {{ tech_reserve.vehicle.name|default('-') }} {{ tech_reserve.vehicle_status ? '('~tech_reserve.vehicle_status.name~')' : '' }}<br>
                            {% endfor %}
                        </td>
                        <td>
                            {% for tech_reserve in dept.tech_reserve if tech_reserve.vehicle.vehicle_type_id == 2 %}
                                {{ tech_reserve.vehicle.name|default('-') }} {{ tech_reserve.vehicle_status ? '('~tech_reserve.vehicle_status.name~')' : '' }}<br>
                            {% endfor %}
                        </td>
                        <td>
                            {% for tech_repair in dept.tech_repair if tech_repair.vehicle.vehicle_type_id == 1 %}
                                {{ tech_repair.vehicle.name|default('-') }}<br>
                            {% endfor %}
                        </td>
                        <td>
                            {% for tech_repair in dept.tech_repair if tech_repair.vehicle.vehicle_type_id == 2 %}
                                {{ tech_repair.vehicle.name|default('-') }}<br>
                            {% endfor %}
                        </td>

                        {% for tch in tech_fields2 %}
                            <td>{{ tech[dept.id][tch]|default('-') }}</td>
                        {% endfor %}
                        <td>{{ tech[dept.id].head_guard.initials|default('-') }}</td>
                    </tr>
                {% endfor %}

                <tr>
                    <td><b>Итого</b></td>
                    {% for ppl in people_fields %}
                        <td><b>{{ sumArray['people'][ppl]|default(0) }} {% if ppl != 'total' and totalTraineeCount[ppl] is defined and totalTraineeCount[ppl] != 0 %}/{{ totalTraineeCount[ppl] }} {% endif %}</b></td>
                    {% endfor %}
                    {% for tch in tech_fields %}
                        <td>
                            <b>
                                {% if tch == 'field_4' %}
                                    -
                                {% else %}
                                    {{ sumArray['tech'][tch]|default(0) }}
                                {% endif %}
                            </b>
                        </td>
                    {% endfor %}
                    <td>
                        <b>
                            {{ tech_items_count.tech_action_type_1|default('0') }}
                        </b>
                    </td>
                    <td>
                        <b>
                            {{ tech_items_count.tech_action_type_2|default('0') }}
                        </b>
                    </td>
                    <td>
                        <b>
                            {{ tech_items_count.tech_reserve_type_1|default('0') }}
                        </b>
                    </td>
                    <td>
                        <b>
                            {{ tech_items_count.tech_reserve_type_2|default('0') }}
                        </b>
                    </td>
                    <td>
                        <b>
                            {{ tech_items_count.tech_repair_type_1|default('0') }}
                        </b>
                    </td>
                    <td>
                        <b>
                            {{ tech_items_count.tech_repair_type_2|default('0') }}
                        </b>
                    </td>

                    {% for item in ttl_count %}
                        <td>
                            <b>
                                {{ item }}
                            </b>
                        </td>
                    {% endfor %}
                </tr>
                {% for dept in departments if dept.id == 13 %}
                    {#<tr {% if dept.staff_action|length == 0 %} style="background-color: #ff3317" {% endif %}>#}
                    <tr>
                        <td>{{ dept.title }}</td>

                        {% for ppl in people_fields %}
                            <td>{{ people[dept.id][ppl]|default('-') }}</td>
                        {% endfor %}

                        {% for tch in tech_fields %}
                            <td>{{ tech[dept.id][tch]|default('-') }}</td>
                        {% endfor %}

                        <td>
                            {% for action in dept.tech_action %}
                                {{ action.vehicle.name|default('-') }}<br>
                            {% endfor %}
                        </td>
                        <td>
                            {% for action in dept.tech_action if action.vehicle.vehicle_type_id == 2 %}
                                {{ action.vehicle.name|default('-') }}<br>
                            {% endfor %}
                        </td>
                        <td>
                            {% for tech_reserve in dept.tech_reserve %}
                                {{ tech_reserve.vehicle.name|default('-') }}<br>
                            {% endfor %}
                        </td>
                        <td>
                            {% for tech_reserve in dept.tech_reserve if tech_reserve.vehicle.vehicle_type_id == 2 %}
                                {{ tech_reserve.vehicle.name|default('-') }}<br>
                            {% endfor %}
                        </td>
                        <td>
                            {% for tech_repair in dept.tech_repair %}
                                {{ tech_repair.vehicle.name|default('-') }}<br>
                            {% endfor %}
                        </td>
                        <td>
                            {% for tech_repair in dept.tech_repair if tech_repair.vehicle.vehicle_type_id == 2 %}
                                {{ tech_repair.vehicle.name|default('-') }}<br>
                            {% endfor %}
                        </td>

                        {% for tch in tech_fields2 %}
                            <td>{{ tech[dept.id][tch]|default('-') }}</td>
                        {% endfor %}
                        <td>{{ tech[dept.id].head_guard.name|default('-') }}</td>
                    </tr>
                {% endfor %}

            </table>
        </div>
        <div class="column">
            <p>
                <persons101-multiselect
                    :title-class="'has-text-weight-bold'"
                    :name="'ЦРБ'"
                    :rank="'crb'">
                </persons101-multiselect>
            </p>
            <p>
                <persons101-multiselect
                    :title-class="'has-text-weight-bold'"
                    :name="'База ГДЗС'"
                    :rank="'gdzs_base'">
                </persons101-multiselect>
            </p>
            <p>
                <persons101-multiselect
                        :title-class="'has-text-weight-bold'"
                        :name="'Врач'"
                        :rank="'doctor'">
                </persons101-multiselect>
            </p>
        </div>
        <div class="column">
            <h3 class="title" style="text-decoration: underline !important;">Посты ПЧ-13:</h3>
            <p><span class="has-text-weight-bold">1 пост: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Резиденция Президента РК - {% for key, p in dept13_people.post1_president_residence|default([]) %} {{ p.name ~ (not loop.last ? ', ' : '') }} {% endfor %}</p>
            <p><span class="has-text-weight-bold">2 пост: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Архив Президента РК - {% for key, p in dept13_people.post2_president_archive|default([]) %} {{ p.name ~ (not loop.last ? ', ' : '') }} {% endfor %}</p>
            <p><span class="has-text-weight-bold">3 пост: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Государственный архив РК - {% for key, p in dept13_people.post3_state_archive|default([]) %} {{ p.name ~ (not loop.last ? ', ' : '') }} {% endfor %}</p>
            <p><span class="has-text-weight-bold">4 пост: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Национальный Банк РК - {% for key, p in dept13_people.post4_national_bank|default([]) %} {{ p.name ~ (not loop.last ? ', ' : '') }} {% endfor %}</p>
        </div>
        <div class="column">
            {#<h3 class="title" style="text-decoration: underline !important;">ОД:</h3>#}
            <h3 class="title" style="text-decoration: underline !important;">Оперативные дежурные автомашины:</h3>
            <p>
                <persons101-multiselect
                        :title-class="'has-text-weight-bold'"
                        :name="'Тулпар-1'"
                        :machine-block="true"
                        :rank="'tulpar1'">
                </persons101-multiselect>
            </p>
            <p>
                <persons101-multiselect
                        :title-class="'has-text-weight-bold'"
                        :name="'Тулпар-2'"
                        :machine-block="true"
                        :rank="'tulpar2'">
                </persons101-multiselect>
            </p>
            <p>
                <persons101-multiselect
                        :title-class="'has-text-weight-bold'"
                        :name="'Тулпар-3'"
                        :machine-block="true"
                        :rank="'tulpar3'">
                </persons101-multiselect>
            </p>
            <p>
                <persons101-multiselect
                        :title-class="'has-text-weight-bold'"
                        :name="'Тулпар-4'"
                        :machine-block="true"
                        :rank="'tulpar4'">
                </persons101-multiselect>
            </p>
            <p>
                <persons101-multiselect
                        :title-class="'has-text-weight-bold'"
                        :name="'Тулпар-5'"
                        :machine-block="true"
                        :rank="'tulpar5'">
                </persons101-multiselect>
            </p>
            <p>
                <persons101-multiselect
                        :title-class="'has-text-weight-bold'"
                        :name="'Тулпар-7'"
                        :machine-block="true"
                        :rank="'tulpar7'">
                </persons101-multiselect>
            </p>
            <p>
                <persons101-multiselect
                        :title-class="'has-text-weight-bold'"
                        :name="'Тулпар-8'"
                        :machine-block="true"
                        :rank="'tulpar8'">
                </persons101-multiselect>
            </p>
            <p>
                <persons101-multiselect
                        :title-class="'has-text-weight-bold'"
                        :name="'Тулпар-10'"
                        :machine-block="true"
                        :rank="'tulpar10'">
                </persons101-multiselect>
            </p>
            <p>
                <persons101-multiselect
                        :title-class="'has-text-weight-bold'"
                        :name="'КШМ'"
                        :machine-block="true"
                        :rank="'kshm'">
                </persons101-multiselect>
            </p>
            <p>
                <persons101-multiselect
                        :title-class="'has-text-weight-bold'"
                        :name="'ИПЛ «Жалын»'"
                        :machine-block="true"
                        :rank="'ipl_zhalyn'">
                </persons101-multiselect>
            </p>
        </div>
        <div class="column">
            <h3 class="title" style="text-decoration: underline !important;">Диспетчера:</h3>
            <table class="table">
                {% for item in dispatchers %}
                    <tr>
                        <td><span class="has-text-weight-bold">{{ item.staff.department.name }}</span></td>
                        <td>{{ item.staff.initials }} ({{ item.staff.rank }} {{ item.staff.position }}) {{ item.comment ? "(" ~item.comment~")" : '' }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="column">
            <h3 class="title" style="text-decoration: underline !important;">Отпуск:</h3>
            <table class="table">
                {% set previous = false %}
                {% for item in vacation %}
                    {% if (previous == false) %}
                        <tr>
                            <td><span class="has-text-weight-bold">{{ item.staff.department.name }}</span></td>
                            <td><b>{{ item.rank == 'vacation' ? 'Трудовой' : 'Декрет' }} - </b>{{ item.staff.initials }} ({{ item.staff.rank }} {{ item.staff.position }})
                    {% elseif (previous.staff.department.name != item.staff.department.name) or (item.rank != previous.rank) %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="has-text-weight-bold">
                                    {{ previous.staff.department.name == item.staff.department.name ? '' : item.staff.department.name }}
                                </span>
                            </td>
                            <td><b>{{ item.rank == 'vacation' ? 'Трудовой' : 'Декрет' }} - </b>{{ item.staff.initials }} ({{ item.staff.rank }} {{ item.staff.position }})
                    {% else %}
                        , {{ item.staff.initials }} ({{ item.staff.rank }} {{ item.staff.position }})
                    {% endif %}
                    {% if (loop.last) %}
                        </td>
                        </tr>
                    {% endif %}
                    {% set previous = item %}
                {% endfor %}
            </table>
        </div>
        <p class="" style="width: 20%; padding: 0 20px 0 0">
            <persons101-multiselect
                    :name="'ДСПТ отпуск'"
                    :rank="'dspt_vacation'">
            </persons101-multiselect>
        </p>
        {% for key, item in depts_od_ppl_inactive %}
            <p class="" style="width: 20%; padding: 0 20px 0 0">
                <persons101-multiselect
                        :name="'{{ item }} отпуск'"
                        :rank="'{{ key }}_vacation'">
                </persons101-multiselect>
            </p>
        {% endfor %}
        {% for key, item in depts_od_ppl_inactive %}
            <p class="" style="width: 20%; padding: 0 20px 0 0">
                <persons101-multiselect
                        :name="'{{ item }} учебный'"
                        :rank="'{{ key }}_study'">
                </persons101-multiselect>
            </p>
        {% endfor %}
        {% for key, item in depts_od_ppl_inactive %}
            <p class="" style="width: 20%; padding: 0 20px 0 0">
                <persons101-multiselect
                        :name="'{{ item }} декрет'"
                        :rank="'{{ key }}_maternity'">
                </persons101-multiselect>
            </p>
        {% endfor %}
        <div class="column">
            <h3 class="title" style="text-decoration: underline !important;">Больничный:</h3>
            <table class="table">
                {% for item in sick %}
                    <tr>
                        <td><span class="has-text-weight-bold">{{ item.staff.department.name }}</span></td>
                        <td>{{ item.staff.initials }} {{ item.date_from ? 'c '~ item.date_from }} {% if item.comment%} ({{ item.comment }}) {% endif %} ({{ item.staff.rank }} {{ item.staff.position }})</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <p class="" style="width: 20%; padding: 0 20px 0 0">
            <persons101-multiselect
                    :name="'ДСПТ больничный'"
                    :rank="'dspt_sick'">
            </persons101-multiselect>
        </p>
        {% for key, item in depts_od_ppl_inactive %}
            <p class="" style="width: 20%; padding: 0 20px 0 0">
                <persons101-multiselect
                        :name="'{{ item }} другое'"
                        :rank="'{{ key }}_other'">
                </persons101-multiselect>
            </p>
        {% endfor %}
        {% for key, item in depts_od_ppl_inactive %}
            <p class="" style="width: 20%; padding: 0 20px 0 0">
                <persons101-multiselect
                        :name="'{{ item }} больничный'"
                        :rank="'{{ key }}_sick'">
                </persons101-multiselect>
            </p>
        {% endfor %}
        <div class="column">
            <h3 class="title" style="text-decoration: underline !important;">Командировка:</h3>
            <table class="table">
                {% set previous = false %}
                {% for item in business_trip %}
                    {% if (previous == false) %}
                        <tr>
                            <td><span class="has-text-weight-bold">{{ item.staff.department.name }}</span></td>
                            <td>{{ item.staff.initials }} {% if item.comment%} ({{ item.comment }}) {% endif %} ({{ item.staff.rank }} {{ item.staff.position }})
                    {% elseif (previous.staff.department.name != item.staff.department.name) %}
                            </td>
                        </tr>
                        <tr>
                            <td><span class="has-text-weight-bold">{{ item.staff.department.name }}</span></td>
                            <td>{{ item.staff.initials }} {% if item.comment%} ({{ item.comment }}) {% endif %} ({{ item.staff.rank }} {{ item.staff.position }})
                    {% else %}
                           , {{ item.staff.initials }} {% if item.comment%} ({{ item.comment }}) {% endif %} ({{ item.staff.rank }} {{ item.staff.position }})
                    {% endif %}
                    {% if (loop.last) %}
                            </td>
                        </tr>
                    {% endif %}
                    {% set previous = item %}
                {% endfor %}
            </table>
        </div>
        <p class="" style="width: 20%; padding: 0 20px 0 0">
            <persons101-multiselect
                    :name="'ДСПТ командировка'"
                    :rank="'dspt_business_trip'">
            </persons101-multiselect>
        </p>
        {% for key, item in depts_od_ppl_inactive %}
            <p class="" style="width: 20%; padding: 0 20px 0 0">
                <persons101-multiselect
                        :name="'{{ item }} командировка'"
                        :rank="'{{ key }}_business_trip'">
                </persons101-multiselect>
            </p>
        {% endfor %}
        <div class="column">
            <h3 class="title" style="text-decoration: underline !important;">Расстановка на {{ report.report_date|date('d-m-Y') }}:</h3>
            <table class="table">
                {% for item in formationCard101Others %}
                    <tr>
                        <td><span class="has-text-weight-bold">{{ loop.index }}. {{ item.fire_department ? item.fire_department.name : '' }}</span></td>
                        <td>начало в {{ item.time_begin }} {{ item.object_name }} {{ item.direction }} {{ item.note }} {{ item.date_from ? 'c '~ item.date_from }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="column">
            <h3 class="title" style="text-decoration: underline !important;">НЕИСПРАВНАЯ ТЕХНИКА:</h3>
            <table class="table">
                {% for item in inactive_tech %}
                    <tr>
                        <td><span class="has-text-weight-bold">{{ item.vehicle.fireDepartment.name }}</span></td>
                        <td>{{ item.vehicle.name }} {% if item.vehicle.base %} ({{ item.vehicle.base }}) {% endif %} {{ item.comment ? ' - '~item.comment }} {{ item.date_from_formatted ? ' с '~item.date_from_formatted }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="column">
            <p><span class="has-text-weight-bold">Всего: _____________________</span> {% for name, count in inactive_tech_cnt|default([]) %} {{ name ~ '-' ~ count ~ (not loop.last ? ', ' : '') }} {% endfor %}</p>
        </div>
        <div class="column">
            <h3 class="title" style="text-decoration: underline !important;">Больничные:</h3>
            {% for guard_number in guard_numbers %}
                <h6 class="title" style="text-decoration: underline !important;">{{ guard_number.name }}:</h6>
                <table class="table">
                    {% for item in sick_leave %}
                        {% if(guard_number.id == item.guard_number_id) %}
                            <tr>
                                <td><span class="has-text-weight-bold">{{ item.staff.department.name }}</span></td>
                                <td>{{ item.staff.initials }} {{ item.date_from ? 'c '~ item.date_from }} {% if item.date_to %} - {{ item.date_to  }} {% endif %} {% if item.comment %} ({{ item.comment }}) {% endif %} ({{ item.staff.rank }} {{ item.staff.position }})</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            {% endfor %}
        </div>
    </div>
    </div>

    <style>
        th.rotate {
            /* Something you can count on */
            height: 180px;
            white-space: nowrap;
            font-size: .6rem;
        }

        th.rotate > div {
            transform: /* Magic3Numbers */ translate(25px, 151px) rotate(315deg);
            width: 30px;
        }

        th.rotate > div > span {
            border-bottom: 1px solid #ccc;
            padding: 5px 10px;
        }

        .detailed-table > thead {
        }

        .detailed-table tr > td {
            text-align: center;
            border-left: 1px solid #bbbfc3;
        }
    </style>
{% endblock content %}
