{% extends "layout/html" %}
{% block content %}
    <div class="section container">
    <div class="">
        <h4 class="title"
            style="padding: 3px 15px">{{ t('/information.title') }}{#Информация#}
        </h4>
    </div>
    <div class="columns is-gapless">
        <div style="width: 100%; border-bottom: 1px solid #dbdbdb;">
        </div>
        <div class="column is-narrow">
            <div style="border-bottom: 1px solid #dbdbdb">
                {#<a href="{{ custom_route('information.create') }}" class="button is-success is-outlined"#}
                   {#style="margin: 2px 10px 2px">#}
                    {#<i class="fas fa-plus"></i>&nbsp;Добавить#}
                {#</a>#}
            </div>
        </div>
    </div>
    <div class="panel">
        <table class="table is-narrow is-hoverable is-fullwidth is-striped is-small">
            <thead>
            <tr>
                <th>№</th>
                <th>{{ t('/information.name') }}</th>{#Наименование организации#}
                <th>&nbsp;</th>
            </tr>
            </thead>
                <tr>
                    <td class="has-text-right">1</td>
                    <td>
                        <p>{{ t('/information.kaz_mudflow') }}</p>{#ГУ Казселезащита#}
                    </td>
                    <td class="has-text-right">
                        {#<a class="button is-info is-small" href="/morainic-lakes">Моренные озера</a>#}
                        <a class="button is-info is-small" href="/morainic-lakes-summaries">{{ t('/information.morainic_lakes') }}</a>{#Моренные озера#}
                        <a class="button is-info is-small" href="/mudflow-protection">{{ t('/information.hydro_data') }}</a>{#Гидрометеорологические данные#}
                    </td>
                </tr>
                <tr>
                    <td class="has-text-right">2</td>
                    <td>
                        <p>{{ t('/information.kaz_hydro') }}</p>{#РГП Казгидромет#}
                    </td>
                    <td class="has-text-right">
                        <a class="button is-info is-small" href="/weather">{{ t('/information.hydro_sheet') }}</a>{#Гидрометеорологический бюллетень#}
                    </td>
                </tr>
                <tr>
                    <td class="has-text-right">3</td>
                    <td>
                        <p>{{ t('/information.some') }}</p>{#ТОО СОМЭ#}
                    </td>
                    <td class="has-text-right">
                        <a class="button is-info is-small" href="/quakes">{{ t('view') }}</a>{#Просмотр#}
                    </td>
                </tr>
        </table>
    </div>
    </div>
{% endblock content %}
