{% extends "layout/html" %}
{% block content %}
    <div class="container section">
        <div class="level">
            <div class="level-left">
                <h4 class="title"
                    style="padding: 3px 15px">{{ t('/reports/alert-system-checks.title') }}{#Тех.проверка системы оповещения#}
                </h4>
            </div>
        </div>
        <div class="columns is-gapless">
            <div style="width: 100%; border-bottom: 1px solid #dbdbdb;">
            </div>
        </div>
        <div class="panel">
            <table class="table is-narrow is-hoverable is-fullwidth is-striped is-small">
                <thead>
                <tr>
                    <th class="has-text-right" style="width: 150px">{{ t('datetime') }}</th>{#Дата и время#}
                    <th>&nbsp;</th>
                </tr>
                </thead>
                {% for item in records %}
                    <tr>
                        <td class="has-text-right">{{ item.date_human_format }}</td>
                        <td class="has-text-right">
                            <a href="/reports/alert-system-checks/download?date_from={{ item.date }}&date_to={{ item.date }}"
                               class="button is-small is-success">
                                <i class="fas fa-download"></i>&nbsp;
                                {{ t('download') }}{#Скачать#}
                            </a>
                            <a href="/reports/alert-system-checks/{{ item.id }}/edit"
                               class="button is-small is-info">
                                <i class="fas fa-pencil-alt"></i>&nbsp;
                                {{ t('open') }}{#Открыть#}
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td class="is-centered"><h1 class="title">{{ t('no_records') }}</h1></td>{#Нет записей#}
                        <td class="is-centered"></td>
                    </tr>
                {% endfor %}
            </table>
            {% include "_templates/pagination" with {'items': records, 'per_page': per_page} %}
        </div>
    </div>
{% endblock content %}
