{% extends "layout/html" %}

{% block content %}
    {% include "layout/yandex-maps-bus.twig" with {areas: cityAreas} %}
    <script>
        window.card112FormData = {
            streets: {{ streets | json_encode() | raw }},
            cityAreas: {{ cityAreas | json_encode() | raw }},
            incidentTypes: {{ incidentTypes | json_encode() | raw }},
            serviceTypes: {{ serviceTypes | json_encode() | raw }},
            model: {{ model | json_encode() | raw }},
            method: 'POST',
            formRoute: '{{ route('card112.store') }}'
        };
    </script>
    <div id="card112-form-block">
    </div>
{% endblock content %}
