{% extends "layout/html" %}
{% block content %}
    <div class="section container">
    <div class="level">
        <div class="level-left">
        <h4 class="title"
            style="padding: 3px 15px">Карточка 112
        </h4>
        </div>
        <div class="level-right">
            <a href="{{ route('card112.create') }}" class="button is-basic is-main"
               style="margin: 2px 10px 2px">
                <i class="fas fa-plus"></i>&nbsp;Новая карточка
            </a>
            <a href="/card112" class="button is-info is-main" style="margin: 2px 10px 2px"><i class="fas fa-crosshairs"></i>&nbsp;Сбросить фильтр</a>
        </div>
    </div>
    <div>
        <div id="vue">
            <form action="">
                <div class="field   has-addons">
                    <div class="control is-expanded">
                        <input type="search" class="input" name="search" value="{{ search }}" id="search-input">
                    </div>
                    <div class="control">
                    </div>
                    <div class="control">
                        <button class="button is-primary is-outlined" type="submit"><span><i class="fa fa-search"></i><span class="hidden-sm-down">&nbsp; Искать</span></span></button>
                    </div>
                </div>
                <div class="field is-grouped">
                    <v-datepicker-search
                            name="date_from"
                            date-string="{{ date_from }}"
                            :include-hidden="true"
                            label="С"
                    ></v-datepicker-search>
                    <v-datepicker-search
                            name="date_to"
                            date-string="{{ date_to }}"
                            :include-hidden="true"
                            label="По"
                    ></v-datepicker-search>
                </div>
                <div class="control">
                    <p>Район</p>
                    <select name="city_area" class="select control">
                        <option value=""></option>
                        {% for f in city_areas %}
                            <option {{ f.id == city_area ? 'selected' : '' }} value="{{ f.id }}">{{ f.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="control">
                    <p>Происшествие</p>
                    <select name="incidentTypeId" class="select control">
                        <option value=""></option>

                        {% for f in incidentTypes %}
                            <option {{ f.id == incidentTypeId ? 'selected' : '' }} value="{{ f.id }}">{{ f.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <br>
                <div class="control">
                    <button class="button is-primary is-outlined" type="submit"><span><i class="fa fa-search"></i><span class="hidden-sm-down">&nbsp; Искать</span></span></button>
                </div>
            </form>
        </div>
        <br>
    </div>
    <div class="panel">
        <table class="table is-narrow is-hoverable is-fullwidth is-striped is-small">
            <thead>
            <tr>
                <th>№</th>
                <th>
                    <a href="?sort=location">Адрес</a>
                </th>
                <th>
                    <a href="?sort=city_area_id">Район</a>
                </th>
                <th class="has-text-right">
                    <a href="?sort=created_at">Дата и время</a>
                </th>
                <th><p>Происшествие</p></th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            {% for item in items %}
                <tr>
                    <td class="has-text-right">{{ item.id }}</td>
                    <td><a href="{{ route('card112.edit', item.id) }}">{{ item.location }}</a></td>
                    <td>{{ item.cityArea.name|default('-') }}</td>
                    <td class="has-text-right">{{ item.custom_created_at|date('H:i d.m.Y') }}</td>
                    <td>{{ item.additionalIncident.name|default('') }}</td>
                    <td class="has-text-right">
                        <form onsubmit="return confirm('Вы действительно хотите удалить эту запись?');"
                              method="POST"
                              action="{{ route('card112.destroy', item.id) }}">
                            {{ csrf_field() }}
                            <input type="hidden" name="_method" value="DELETE">

                            <a href="{{ route('card112.edit', item.id) }}"
                               class="button is-small is-basic">
                                <i class="fas fa-pencil-alt"></i>&nbsp;
                                Редактировать
                            </a>

                            <button title="Удалить"
                                    class="button is-small is-danger">
                                <i class="fas fa-trash"></i>&nbsp;
                            </button>
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td class="is-centered"><h1 class="title">Нет выбранных заявок</h1></td>
                </tr>
            {% endfor %}
        </table>
        {% include "_templates/pagination" with {
            'items': items,
            'per_page': per_page,
            'other': {
                'date_from':date_from,
                'date_to': date_to,
                'search': search,
                'city_area': city_area,
                'incidentTypeId': incidentTypeId
            }} %}
    </div>
    </div>
{% endblock content %}
