{% extends "layout/html" %}
{% block content %}
    <div class="">
        <h4 class="title"
            style="padding: 3px 15px">Карточка 112
        </h4>
    </div>
    <div class="columns is-gapless">
        <div style="width: 100%; border-bottom: 1px solid #dbdbdb;">
        </div>
        <div class="column is-narrow">
            <div style="border-bottom: 1px solid #dbdbdb">
                <a href="{{ route('card112.create') }}" class="button is-success is-outlined"
                   style="margin: 2px 10px 2px">
                    <i class="fas fa-plus"></i>&nbsp;Новая карточка
                </a>
            </div>
        </div>
    </div>
    <div class="panel">
        <form method="get">
            <div class="select">
                <select name="per_page">
                    <option value="5" {% if per_page == 5 %}selected{% endif %}>5</option>
                    <option value="10" {% if per_page == 10 %}selected{% endif %}>10</option>
                    <option value="20" {% if per_page == 20 %}selected{% endif %}>20</option>
                    <option value="50" {% if per_page == 50 %}selected{% endif %}>50</option>
                    <option value="100" {% if per_page == 100 %}selected{% endif %}>100</option>
                </select>
            </div>

            <button class="button is-small is-outlined is-success">
                Обновить
            </button>
        </form>

        <table class="table is-narrow is-hoverable is-fullwidth is-striped is-small">
            <thead>
            <tr>
                <th>№ КУИ</th>
                <th>Адрес</th>
                <th>Район</th>
                <th class="has-text-right">Дата и время</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            {% for item in items %}
                <tr>
                    <td class="has-text-right">{{ item.id }}</td>
                    <td>{{ item.location }}</td>
                    <td>{{ '-' }}</td>
                    <td class="has-text-right">{{ item.created_at|date('H:i d.m.Y') }}</td>
                    <td class="has-text-right">
                        <form onsubmit="return confirm('Вы действительно хотите удалить эту запись?');"
                              method="POST"
                              action="{{ route('card112.destroy', item.id) }}">
                            {{ csrf_field() }}
                            <input type="hidden" name="_method" value="DELETE">

                            <a href="{{ route('card112.edit', item.id) }}"
                               class="button is-small is-outlined is-primary">
                                <i class="fas fa-pencil-alt"></i>&nbsp;
                                Редактировать
                            </a>

                            <button title="Удалить"
                                    class="button is-small is-outlined is-danger">
                                <i class="fas fa-trash"></i>&nbsp;
                            </button>
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td class="is-centered"><h1 class="title">Нет выбранных заявок</h1></td>
                </tr>
            {% endfor %}
        </table>
        {{ items.appends({'per_page': per_page}).links() | raw }}
    </div>
{% endblock content %}
