{% extends "layout/html" %}
{% block content %}
    <div class="container section">
        <div class="level" style="margin-top: 20px">
            <div class="level-left">
                <h4 class="title">{{ t('/morainic-lakes-summaries.lakes_info') }}</h4>{#Сводная информация по озерам#}
            </div>
        </div>

        <form action="{{ date is defined ? custom_route('morainic-lakes-summaries.update', {'id':date}) : custom_route('morainic-lakes-summaries.store')}}" method="post">
            {% if date is defined %}
                {{  method_field('PUT') }}
            {% endif %}
            {{ csrf_field() }}

            {% if records is defined %}
                {% set data = records%}
            {% endif %}
            {% for lake in lakes %}
                <h5 class="title">{{ lake.name }}</h5>
                <br>
                <div class="field">
                    <label for="field_1">{{ t('/morainic-lakes-summaries.initial_volume') }}</label>{#Первоначальный объём воды, (тыс.куб.м)#}
                    <div class="control">
                        <input type="number" step="0.0000001" min=0 oninput="validity.valid||(value='');" class="input" name="lake[{{ lake.id }}][initial_volume]" id="initial_volume_{{ lake.id }}" value="{{ lake.oneSummary(date|default('')).initial_volume|default('') }}">
                    </div>
                </div>

                <div class="field">
                    <label for="field_1">{{ t('/morainic-lakes-summaries.current_volume') }}</label>{#Текущий объём воды, (тыс.куб.м)#}
                    <div class="control">
                        <input type="number" step="0.0000001" min=0 oninput="validity.valid||(value='');" class="input" name="lake[{{ lake.id }}][current_volume]" id="current_volume" value="{{ lake.oneSummary(date|default('')).current_volume|default('') }}">
                    </div>
                </div>

                <div class="field">
                    <label for="field_1">{{ t('/morainic-lakes-summaries.inflow_glacier') }}</label>{#Приток воды с ледника, (л/с)#}
                    <div class="control">
                        <input type="number" step="0.0000001" min=0 oninput="validity.valid||(value='');" class="input" name="lake[{{ lake.id }}][inflow_glacier]" id="inflow_glacier" value="{{ lake.oneSummary(date|default('')).inflow_glacier|default('') }}">
                    </div>
                </div>

                <div class="field">
                    <label for="field_1">{{ t('/morainic-lakes-summaries.drainage_via_evacuation_channel') }}</label>{#Отвод воды через эвак. канал#}
                    <div class="control">
                        <input type="number" step="0.0000001" min=0 oninput="validity.valid||(value='');" class="input" name="lake[{{ lake.id }}][drainage_via_evacuation_channel]" id="drainage_via_evacuation_channel" value="{{ lake.oneSummary(date|default('')).drainage_via_evacuation_channel|default('') }}">
                    </div>
                </div>

                <div class="field">
                    <label for="field_1">{{ t('/morainic-lakes-summaries.drainage_via_pump') }}</label>{#Отвод воды через насосы, (л/сек)#}
                    <div class="control">
                        <input type="number" step="0.0000001" min=0 oninput="validity.valid||(value='');" class="input" name="lake[{{ lake.id }}][drainage_via_pump]" id="drainage_via_pump" value="{{ lake.oneSummary(date|default('')).drainage_via_pump|default('') }}">
                    </div>
                </div>

                <div class="field">
                    <label for="field_1">{{ t('/morainic-lakes-summaries.drainage_via_siphon') }}</label>{#Отвод воды через сифоны, л/с)#}
                    <div class="control">
                        <input type="number" step="0.0000001" min=0 oninput="validity.valid||(value='');" class="input" name="lake[{{ lake.id }}][drainage_via_siphon]" id="drainage_via_siphon" value="{{ lake.oneSummary(date|default('')).drainage_via_siphon|default('') }}">
                    </div>
                </div>

                <div class="field">
                    <label for="field_1">{{ t('/morainic-lakes-summaries.water_dropped_day') }}</label>{#Всего сброшено воды,(тыс.куб.м) за сутки#}
                    <div class="control">
                        <input type="number" step="0.0000001" min=0 oninput="validity.valid||(value='');" class="input" name="lake[{{ lake.id }}][water_dropped_day]" id="water_dropped_day" value="{{ lake.oneSummary(date|default('')).water_dropped_day|default('') }}">
                    </div>
                </div>

                <div class="field">
                    <label for="field_1">{{ t('/morainic-lakes-summaries.water_dropped_total') }}</label>{#Всего сброшено воды,(тыс.куб.м) с начала работы#}
                    <div class="control">
                        <input type="number" step="0.0000001" min=0 oninput="validity.valid||(value='');" class="input" name="lake[{{ lake.id }}][water_dropped_total]" id="water_dropped_total" value="{{ lake.oneSummary(date|default('')).water_dropped_total|default('') }}">
                    </div>
                </div>

                <div class="field">
                    <label for="field_1">{{ t('/morainic-lakes-summaries.lowering_from_initial1') }}</label>{#Понижение от первоначального уровня, (м).#}
                    <div class="control">
                        <input type="number" step="0.0000001" min=0 oninput="validity.valid||(value='');" class="input" name="lake[{{ lake.id }}][lowering_from_initial1]" id="lowering_from_initial1" value="{{ lake.oneSummary(date|default('')).lowering_from_initial1|default('') }}">
                    </div>
                </div>

                {#<div class="field">#}
                    {#<label for="field_1">Понижение от первоначального уровня, (м).</label>#}
                    {#<div class="control">#}
                        {#<input type="number" step="0.0000001" min=0 oninput="validity.valid||(value='');" class="input" name="lake[{{ lake.id }}][lowering_from_initial2]" id="lowering_from_initial2" value="{{ lake.oneSummary(date|default('')).lowering_from_initial2|default('') }}">#}
                    {#</div>#}
                {#</div>#}

                <div class="field">
                    <label for="field_1">{{ t('/morainic-lakes-summaries.temperature_water') }}</label>{#t0 воды#}
                    <div class="control">
                        <input type="number" step="0.0000001" oninput="validity.valid||(value='');" class="input" name="lake[{{ lake.id }}][temperature_water]" id="temperature_water" value="{{ lake.oneSummary(date|default('')).temperature_water|default('') }}">
                    </div>
                </div>

                <div class="field">
                    <label for="field_1">{{ t('/morainic-lakes-summaries.temperature_air') }}</label>{#t0 воздуха#}
                    <div class="control">
                        <input type="number" step="0.0000001" oninput="validity.valid||(value='');" class="input" name="lake[{{ lake.id }}][temperature_air]" id="temperature_air" value="{{ lake.oneSummary(date|default('')).temperature_air|default('') }}">
                    </div>
                </div>

                <div class="field">
                    <label for="field_1">{{ t('/morainic-lakes-summaries.zero_isotherm') }}</label>{#Нулевая изотерма#}
                    <div class="control">
                        <input type="number" step="0.0000001" oninput="validity.valid||(value='');" class="input" name="lake[{{ lake.id }}][zero_isotherm]" id="zero_isotherm" value="{{ lake.oneSummary(date|default('')).zero_isotherm|default('') }}">
                    </div>
                </div>
            {% endfor %}

            <div class="panel" style="padding: 30px 10px 20px; margin-top:20px;border-top: 1px solid #dbdbdb; background-color: #f7f7f7">
                <div class="level">
                    <p class="level-left">
                    </p>
                    <p class="level-right">
                        <button type="submit" class="button is-success"><i class="fas fa-check"></i>&nbsp; {{ t('save') }}</button>{#Сохранить#}
                    </p>
                </div>
            </div>
        </form>

    </div>

    {#<script>#}
        {#window.addEventListener('load', () => {#}
            {#const selector = document.getElementById('lake_id_select');#}
            {#const dept_id = '{{ dept_id }}';#}
            {#selector.addEventListener('change', (e) => {#}
                {#let location = window.location.pathname.split('/');#}
                {#location.pop();#}
                {#location.push(e.target.value);#}
                {#window.location = location.join('/');#}
            {#});#}
        {#});#}
    {#</script>#}
{% endblock content %}
