{% extends "layout/html" %}
{% block content %}
    <div class="container section">
        <div class="panel">
            <h4 style="" class="title">{{ t('/morainic-lakes-summaries.lakes_info') }}</h4>{#Сводная информация по мореным озерам#}
            <div class="level-right has-text-right">
                <a href="{{ custom_route('morainic-lakes-summaries.create') }}" class="button is-basic is-main"><i class="fas fa-plus"></i>&nbsp;{{ t('create_record') }}</a>{#Создать запись#}
            </div>
            <table class="table is-narrow is-striped is-hoverable is-selectable">
                <thead>
                <tr>
                    <th>{{ t('date') }}</th>{#Дата#}
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{ item.date }}</td>
                        <td>
                            <a class="button is-basic is-small" href="{{ custom_route('morainic-lakes-summaries.edit', {'id':item.date}) }}">
                                <i class="fas fa-edit"></i>&nbsp;{{ t('edit') }}</a>{#Редактировать#}
                            <a class="button is-info is-small" href="{{ custom_route('morainic-lakes-summaries.show', {'id':item.date}) }}">
                                <i class="fas fa-edit"></i>&nbsp;{{ t('view') }}</a>{#Просмотр#}
                            {% if user and user.hasRight('CAN_DELETE_REPORT_MORAINIC_LAKES') %}
                                <form method="post" action="/morainic-lakes-summaries/{{ item.date }}" style="display: inline">
                                    {{ csrf_field() }}
                                    {{ method_field('DELETE') }}
                                    <button onclick="return confirm('Удалить?');"
                                            class="button is-small is-danger">
                                        <i class="fas fa-times"></i>&nbsp;
                    {{ t('delete') }}{#Удалить#}
                                    </button>
                                </form>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td>{{  "now"|date("d/m/Y") }}</td>
                        <td>
                            <a class="button is-basic is-small" href="/morainic-lakes-reports/{{  "now"|date("d-m-Y") }}">
                                <i class="fas fa-edit"></i>&nbsp;{{ t('view') }}</a>{#Просмотр#}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
            {#{% include "_templates/pagination" with {'items': items, 'per_page': per_page} %}#}

        </div>
    </div>
{% endblock content %}
