{% extends "layout/html" %}
{% block content %}
    <div class="section container">
        <div class="level">
            <div class="level-left">
                <h4 class="title"
                    >Позывные
                </h4>
            </div>
            <div class="level-right">
                <a href="{{ route('nicknames.create') }}" class="button is-basic is-main"
                   >
                    <i class="fas fa-plus"></i>&nbsp;Новый позывной
                </a>
            </div>
        </div>
    <div class="panel">
        <table class="table is-narrow is-hoverable is-fullwidth is-striped is-small">
            <thead>
            <tr>
                <th>№</th>
                <th>Позывной</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            {% for item in items %}
                <tr>
                    <td class="has-text-right">{{ loop.index }}</td>
                    <td>{{ item.name }}</td>
                    <td class="has-text-right">
                        <form onsubmit="return confirm('Вы действительно хотите удалить эту запись?');"
                              method="POST"
                              action="{{ route('nicknames.destroy', item.id) }}">
                            {{ csrf_field() }}
                            <input type="hidden" name="_method" value="DELETE">

                            <a href="{{ route('nicknames.edit', item.id) }}"
                               class="button is-small is-basic">
                                <i class="fas fa-pencil-alt"></i>&nbsp;
                                Редактировать
                            </a>

                            <button title="Удалить"
                                    class="button is-small is-danger">
                                <i class="fas fa-trash"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    </div>
{% endblock content %}
