    <b style="text-decoration: underline;"> {{ date }}. {{ city_area }}, {{ address }}:</b> (заявитель: {{ caller_name }}, тел: {{ caller_phone }}).
    {% if detailed_address %}<b>Уточненный адрес:</b> <span>{{ detailed_address }}</span>{% endif %}
    <b style="text-decoration: underline; font-style: italic;">{{ pre_information }} S={{ square_max }} м2</b>
    <b>На место прибыли: </b>
    {% for item in deptsArrived %}
        <span>{{ item.department.title }} ({{ item.tech.department }}) на {{ item.tech.vehicle.name }} прибыло в {{ item.arrive_time }};</span>
    {% endfor %}
    {% for item in deptsArrivedHq %}
        <span>{{ item.name }} прибыло в {{ item.arrive_time }};</span>
    {% endfor %}
    <b>Итог выезда:</b> <span>{{ ticket.ticket_result }}</span>
    <b>Дополнительная информация:</b> <span>{{ ticket.more_info }}</span>
    <b>Ликвидация достигнута:</b> <span>{{ ticket.liquidation_method.name|default('') }}</span>
    <b>Источник противопожарного водоснабжения:</b> <span>{{ ticket.water_supply_source.name|default('') }}</span>
    <b>Расстояние до места:</b> <span>{{ ticket.distance }}</span>
    <b>Владелец:</b> <span>{{ ticket.owner }}</span>
    <b>Информация по использованным стволам:</b>
    {% if ticket.vu_found %}
        <b>Обнаружено ВУ</b>
    {% endif %}
    {% if ticket.animal_death %}
        <b>Гибель животных</b>
    {% endif %}
    {% if ticket.car_crash %}
        <b>Авария А/М при следовании на пожар</b>
    {% endif %}
    {% for item in ticket.chronologies %}
        {% if item.event_info_arrived %}
            <span>{{ item.fire_department_result.department.title }}: {{ item.fire_department_result.tech.department }}, время:{{ item.time }}, количество:{{ item.quantity }}, время работы:{{ item.working_time }}, ситуация:{{ item.event_info_arrived.name }}, информация:{{ item.information }}</span>
        {% endif %}
    {% endfor %}
    <span>Пожар локализован в {{ loc_time }} и ликвидирован в {{ liqv_time }}, {{ chronology_str }}. На место пожара выезжал л/с: {{ depts_out }}. {% if service_plans_str %}На место ЧС выезжали службы взаимодействия: {{ service_plans_str }}.{% endif %} Материал зарегистрирован в КУИ №{{ kui }} от {{ date2 }}.</span>
