{#<div>#}
    {#{{ loop.index }}. #}{{ date }}. {{ city_area }}, {{ address }}: (заявитель: {{ caller_name }}, тел: {{ caller_phone }}).

    {{ pre_information }}

    S={{ square_max }} м2

    {% if first_dept_arrived %}
        {{ first_dept_arrived.name }} ({{ first_dept_arrived.tech_dept }}) на {{ first_dept_arrived.vehicle }} прибыло в {{ first_dept_arrived.arrive_time ?? null }} ({{ first_dept_arrived.on_way_time }}).
    {% endif %}

    Пожар локализован в {{ loc_time }}

    ликвидирован в {{ liqv_time }}, {{ chronology_str }}

    На место пожара выезжал л/с: {{ depts_out }}.

    {% if service_plans_str %}
        На место ЧС выезжали службы заимодействия: {{ service_plans_str }}.
    {% endif %}

    Материал зарегистрирован в КУИ №{{ kui }} от {{ date2 }}.
{#</div>#}
