{% extends "layout/html" %}

{% block content %}
    <div class="container section" id="vue">
        <div class="panel">
            <div class="box" style="margin-top: 20px">
                <h4 class="title">{{ title }}</h4>
                <form action="{{ record is defined ? route('reports-siren-speeches.update', {'id':record.id}) : route('reports-siren-speeches.store')}}" method="post">
                    {% if record is defined %}
                        {{  method_field('PUT') }}
                    {% endif %}
                    {{ csrf_field() }}

                    <siren-speech-tech
                            {% if record is defined %}
                                :record="{{ record }}"
                            {% endif %}
                    >

                    </siren-speech-tech>

                    <div class="buttons has-text-right is-grouped is-right" style="">
                        <button type="submit" class="button is-success"><i class="fas fa-check"></i>&nbsp;{{ t('save') }}</button>{#Сохранить#}
                        <a href="{{ url('/reports/siren-speeches/') }}" class="button is-light">{{ t('cancel') }}</a>{#Отменить#}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
