{% extends "layout/html" %}
{% block content %}
    <div class="container section">
            <div class="level">
            <div class="level-left">
            <h4 style="" class="title">Данные по СРУ</h4>
            </div>
            <div class="level-right has-text-right">
                <a href="{{ route('reports-siren-speeches.create') }}" class="button is-basic is-main"><i class="fas fa-plus"></i>&nbsp;Создать запись</a>
            </div>
            </div>
        <div class="panel">
            <table class="table is-striped is-narrow is-hoverable is-selectable">
                <thead>
                    <tr>
                        <th>СРУ</th>
                        <th>Моторные</th>
                        <th>Демонтированные</th>
                        <th>В не рабочем состоянии</th>
                        <th>Не активные</th>
                        <th>Дата</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        <tr>
                            <td><i class="fas fa-list-ol"></i>&nbsp;{{ item.sst }}</td>
                            <td>{{ item.motor }}</td>
                            <td>{{ item.demounted }}</td>
                            <td>{{ item.broken }}</td>
                            <td>{{ item.inactive }}</td>
                            <td>{{ item.created_at }}</td>
                            <td>
                                <div class="field is-grouped">
                                <a class="button is-basic is-small" href="{{ route('reports-siren-speeches.edit', {'id':item.id}) }}">
                                    <i class="fas fa-edit"></i>&nbsp;Редактировать</a>

                                <form method="post" action="{{ route('reports-siren-speeches.delete', {'id':item.id}) }}">
                                    {{ csrf_field() }}
                                    {{  method_field('DELETE') }}
                                    <button onclick="return confirm('Удалить запись?');" class="button is-danger is-small">
                                        <i class="fas fa-crosshairs"></i>&nbsp;Удалить</button>
                                </form>
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr><h3 class="is-danger">Нет данных в таблице</h3></tr>
                    {% endfor %}
                </tbody>

            </table>
            {% include "_templates/pagination" with {'items': items, 'per_page': per_page} %}

        </div>
    </div>
{% endblock content %}
