{% extends "layout/html" %}
{% block content %}
    <div class="container section">
            <div class="level">
            <div class="level-left">
            <h4 style="" class="title">{{ t('/reports/siren-speeches.title') }}</h4>{#Данные по СРУ#}
            </div>
            <div class="level-right has-text-right">
                <a href="{{ custom_route('reports-siren-speeches.create') }}" class="button is-basic is-main"><i class="fas fa-plus"></i>&nbsp;{{ t('create_record') }}</a>{#Создать запись#}
            </div>
            </div>
        <div class="panel">
            <table class="table is-striped is-narrow is-hoverable is-selectable">
                <thead>
                    <tr>
                        <th>{{ t('/reports/siren-speeches.sst') }}</th>{#СРУ#}
                        <th>{{ t('/reports/siren-speeches.motor') }}</th>{#Моторные#}
                        <th>{{ t('/reports/siren-speeches.demounted') }}</th>{#Демонтированные#}
                        <th>{{ t('/reports/siren-speeches.broken') }}</th>{#В не рабочем состоянии#}
                        <th>{{ t('/reports/siren-speeches.inactive') }}</th>{#Не активные#}
                        <th>{{ t('date') }}</th>{#Дата#}
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        <tr>
                            <td><i class="fas fa-list-ol"></i>&nbsp;{{ item.sst }}</td>
                            <td>{{ item.motor }}</td>
                            <td>{{ item.demounted }}</td>
                            <td>{{ item.broken }}</td>
                            <td>{{ item.inactive }}</td>
                            <td>{{ item.created_at|date('d.m.Y') }}</td>
                            <td>
                                <div class="field is-grouped">
                                <a class="button is-basic is-small" href="{{ custom_route('reports-siren-speeches.edit', {'id':item.id}) }}">
                                    <i class="fas fa-edit"></i>&nbsp;{{ t('edit') }}</a>{#Редактировать#}

                                <form method="post" action="{{ custom_route('reports-siren-speeches.delete', {'id':item.id}) }}">
                                    {{ csrf_field() }}
                                    {{  method_field('DELETE') }}
                                    <button onclick="return confirm('Удалить запись?');" class="button is-danger is-small">
                                        <i class="fas fa-crosshairs"></i>&nbsp;{{ t('delete') }}</button>{#Удалить#}
                                </form>
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr><h3 class="is-danger">{{ 'no_records'|trans }}</h3></tr>{#Нет данных в таблице#}
                    {% endfor %}
                </tbody>

            </table>
            {% include "_templates/pagination" with {'items': items, 'per_page': per_page} %}

        </div>
    </div>
{% endblock content %}
