{% extends "layout/html" %}
{% block content %}
    <div class="section container" id="vue1">
        <h4 class="title">Карточка 101 (Учебные выезда)</h4>
        <div class="columns is-gapless">
            <div class="column">
                <div class="tabs buttab">
                    <ul class="">
                        <li class="is-active"><a href="">Открытые</a></li>
                        <li><a href="">Закрытые</a></li>
                        <li><a href="">Все карточки</a></li>
                    </ul>
                </div>
            </div>
            <div class="column">
                <div class="tabs buttab">
                    <ul class="">
                        <li class="{% if card_type == 'real' %}is-active{% endif %}"><a href="/card/101">Боевые</a></li>
                        <li class="{% if card_type == 'other' %}is-active{% endif %}"><a href="/card101-other-rides">Прочие</a></li>
                        <li class="{% if card_type == 'drill' %}is-active{% endif %}"><a href="/card101-drill-rides">Учебные</a></li>
                        <li class="{% if card_type == 'norms-psp' %}is-active{% endif %}"><a href="/norms-psp">Нормативы по ПСП</a></li>
                    </ul>
                </div>
            </div>
            <div class="column is-narrow">
                <div>
                    <a href="/card/add101/0/drill" class="button is-basic is-main" style="margin: 2px 10px 2px"><i class="fas fa-plus"></i>&nbsp;Новая карточка</a>
                    <a href="/card101-drill-rides" class="button is-info is-main" style="margin: 2px 10px 2px"><i class="fas fa-crosshairs"></i>&nbsp;Сбросить фильтр</a>
                </div>
            </div>
        </div>
        <div>
            <div id="vue">
                <form action="">
                    <div class="field   has-addons">
                        <div class="control is-expanded">
                            <input type="search" class="input" name="search" value="{{ search }}" id="search-input">
                        </div>
                        <div class="control">
                        </div>

                        <div class="control">
                            <button class="button is-primary is-outlined" type="submit"><span><i class="fa fa-search"></i><span class="hidden-sm-down">&nbsp; Искать</span></span></button>
                        </div>
                    </div>
                    <div class="field is-grouped">

                        <v-datepicker-search
                                name="date_from"
                                date-string="{{ date_from }}"
                                :include-hidden="true"
                                label="С"
                        ></v-datepicker-search>
                        <v-datepicker-search
                                name="date_to"
                                date-string="{{ date_to }}"
                                :include-hidden="true"
                                label="По"
                        ></v-datepicker-search>

                    </div>
                    <div class="control">
                        <p>Район</p>
                        <select name="city_area_id" class="select control">
                            <option value=""></option>
                            {% for f in city_areas %}
                                <option {% if city_area_id is defined and city_area_id == f.id %} selected {% endif %} value="{{ f.id }}">{{ f.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="control">
                        <p>Тип выезда</p>
                        <select name="drill_type_id" class="select control">
                            <option value=""></option>
                            {% for f in drill_types %}
                                <option {% if drill_type_id is defined and drill_type_id == f.id %} selected {% endif %} value="{{ f.id }}">{{ f.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <br>
                    <div class="control">
                        <button class="button is-primary is-outlined" type="submit"><span><i class="fa fa-search"></i><span class="hidden-sm-down">&nbsp; Искать</span></span></button>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel">
            <table class="table is-narrow is-hoverable is-fullwidth is-striped is-small" id="card101_index_table">
                <thead>
                <tr>
                    <th>№ КУИ</th>
                    <th>
                        <a href="?sort=location">Адрес</a>
                    </th>
                    <th>
                        <a href="?sort=city_area_id">Район</a>
                    </th>
                    <th>
                        <a href="?sort=city_area_id">Тип выезда</a>
                    </th>
                    <th class="has-text-right"><a href="?sort=created_at">Дата и время</a></th>
                    <th>Подразделение</th>
                    <th>Действия</th>
                </tr>
                </thead>
                {% for ticket in tickets %}
                    <tr>
                        <td class="has-text-right">{{ ticket.id }}</td>
                        <td>{{ ticket.location ?? ticket.fireplace }}</td>
                        <td>{{ ticket.city_area.name|default('-') }} {% if ticket.crossroad_1_id %}({{ ticket.crossroad_1.name|default('-') }} &times; {{ ticket.crossroad_2.name|default('-') }}){% endif %}</td>
                        <td class="has-text-right">{{ ticket.drill_type.name|default() }}</td>
                        <td class="has-text-right">{{ ticket.custom_created_at|date('H:i d.m.Y') }}</td>
                        <td style="text-align: center;">{{ ticket.getDetailedStaffWithoutHuman() }}</td>
                        <td style="width: 25%; text-align: center;">
                            <a href="/card/add101/{{ ticket.id }}/{{ card_type }}" class="button is-basic is-small"><i class="fas fa-pencil-alt"></i>&nbsp; Редактировать</a>

                            <delete-card-btn :can-delete="{{ can_delete|json_encode() }}" :ticket-id="{{ ticket.id }}"></delete-card-btn>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td class="is-centered"><h1 class="title">Нет выбранных заявок</h1></td>
                    </tr>
                {% endfor %}
            </table>
            {% include "_templates/pagination" with {'items': tickets, 'per_page': per_page, 'other': {
                'date_from':date_from,
                'date_to': date_to,
                'search': search,
                'city_area_id': city_area_id,
                'drill_type_id':drill_type_id}}
            %}
        </div>
    </div>
{% endblock content %}
