{% extends "layout/html" %}
{% block content %}
    <div class="container">
        <div class="panel">
            <div class="level" style="margin: 10px 20px">
                <div class="level-left">
                    <h4 class="title">{{ title }}</h4>
                </div>
                <div class="level-right has-text-right">
                    <a href="{{ url(create_path) }}" class="button is-success"><i class="fas fa-plus"></i>&nbsp;Создать запись</a>
                </div>
                <div class="level-right has-text-left">
                    <a href="/dictionaries" class="button is-info"><i class="fas fa-backspace"></i>&nbsp;Назад</a>
                </div>
            </div>
            <div>
                <form action="" method="get">
                    <div class="field   has-addons">
                        <div class="control is-expanded">
                            <input type="search" class="input" name="search" value="{{ search ?? null }}" id="search-input">
                        </div>
                        <div class="control">
                        </div>
                        <div class="control">
                            <button class="button is-primary is-outlined" type="submit"><span><i class="fa fa-search"></i><span class="hidden-sm-down">&nbsp; Искать</span></span></button>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <p>Район</p>
                            <select name="city_area" class="select control" onchange="this.form.submit()">
                                <option value=""></option>
                                {% for f in city_areas %}
                                    <option {% if city_area is defined and city_area == f.id %} selected {% endif %} value="{{ f.id }}">{{ f.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <table class="table is-striped is-narrow is-hoverable">
                <thead>
                <tr>
                    <th>№</th>
                    <th>ФИО</th>
                    <th>Ранг</th>
                    <th>Позывной</th>
                    <th>Должность</th>
                    <th>Телефон</th>
                    <th>Район</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for record in records %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td class="max-width: 20%">{{ record.name }}</td>
                        <td class="max-width: 20%">{{ record.rank }}</td>
                        <td class="max-width: 20%">{{ record.nickname }}</td>
                        <td class="max-width: 20%">{{ record.position }}</td>
                        <td>
                            {% for phone in record.phones %}
                                {{ phone.phone }} <br>
                            {% endfor %}
                        </td>
                        <td>{{ record.city_area.name|default('') }}</td>
                        <td>

                            <form method="POST"
                                  onsubmit="return confirm('Вы действительно хотите удалить эту запись?');"
                                  action="{{ url(route('dictionaries.row.delete_by_name', {'name': type, 'row_id': record.id })) }}">
                                <input name="_method" type="hidden" value="DELETE">
                                {{ csrf_field() }}

                                <a href="{{ url(edit_path ~ record.id ~ '/' ~ 'edit') }}" class="button is-small is-primary is-outlined">
                                    <i class="fas fa-edit"></i>&nbsp;Изменить
                                </a>

                                <button type="submit"
                                        class="button is-small is-danger is-outlined">
                                    <i class="fas fa-trash"></i>&nbsp;Удалить
                                </button>
                            </form>

                        </td>

                    </tr>
                {% else %}
                    <tr>
                        <td><h5 class="">Нет записей</h5></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% include "_templates/pagination" with {'items': records, 'per_page': per_page, 'other': {'city_area':city_area, 'search': search}} %}
        </div>
    </div>
{% endblock content %}
