{% extends "layout/html" %}
{% block content %}
    <div class="container section">
        <div class="panel">
            <div class="level">
                <div class="level-left">
                    <h4 class="title">{{ title }}</h4>
                </div>
                <div class="level-right has-text-right">
                    <a href="{{ url(create_path) }}" class="button is-main is-basic"><i class="fas fa-plus"></i>&nbsp;Создать запись</a>
                </div>
                <div class="level-right has-text-left">
                    <a href="/dictionaries" class="button is-info"><i class="fas fa-backspace"></i>&nbsp;Назад</a>
                </div>
            </div>
            <div>
                <form action="" method="get">
                    <div class="field   has-addons">
                        <div class="control is-expanded">
                            <input type="search" class="input" name="search" value="{{ search ?? null }}" id="search-input">
                        </div>
                        <div class="control">
                        </div>
                        <div class="control">
                            <button class="button is-primary is-outlined" type="submit"><span><i class="fa fa-search"></i><span class="hidden-sm-down">&nbsp; Искать</span></span></button>
                        </div>
                    </div>
                </form>
            </div>
            <table class="table is-striped is-narrow is-hoverable">
                <thead>
                <tr>
                    <th>№</th>
                    <th>
                        <a href="?sort=id">ПЧ</a>
                        {% if user.anyRole(['admin','dispatcher_od', 'Диспетчер 101', 'Диспетчер ОД 101']) %}
                            <form>
                                <select name="filter_department" class="select control" onchange="this.form.submit()">
                                    {% for f in fire_departments %}
                                        <option {% if filter_department is defined and filter_department == f.id %} selected {% endif %} value="{{ f.id }}">{{ f.title }}</option>
                                    {% endfor %}
                                </select>
                            </form>
                        {% endif %}
                    </th>
                    <th>
                        <a href="?sort=city_area_id">Район города</a>
                        {% if user.anyRole(['admin','dispatcher_od', 'Диспетчер 101']) %}
                            <form>
                                <select name="city_area_id" class="select control" onchange="this.form.submit()">
                                    {% for f in city_areas %}
                                        <option {% if city_area is defined and city_area == f.id %} selected {% endif %} value="{{ f.id }}">{{ f.name }}</option>
                                    {% endfor %}
                                </select>
                            </form>
                        {% endif %}
                    </th>
                    <th>Использовать в рекомендациях</th>
                    <th>Использовать в строевых</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for record in records %}
                    <tr>
                        <td>{{ record.id }}</td>
                        <td class="max-width: 20%">{{ record.title_with_old|default('') }}</td>
                        <td class="max-width: 20%">{{ record.city_area.name|default('') }}</td>
                        <td class="max-width: 20%">{{ record.recommend|default('') ? 'Да' : 'Нет' }}</td>
                        <td class="max-width: 20%">{{ record.goes_in_formation_report|default('') ? 'Да' : 'Нет' }}</td>
                        <td>
                            <form method="POST"
                                  onsubmit="return confirm('Вы действительно хотите удалить эту запись?');"
                                  action="{{ url(route('dictionaries.row.delete_by_name', {'name': type, 'row_id': record.id })) }}">
                                <input name="_method" type="hidden" value="DELETE">
                                {{ csrf_field() }}

                                <a href="{{ url(edit_path ~ record.id ~ '/' ~ 'edit') }}" class="button is-small is-basic">
                                    <i class="fas fa-edit"></i>&nbsp;Изменить
                                </a>

                                <button type="submit"
                                        class="button is-small is-danger">
                                    <i class="fas fa-trash"></i>&nbsp;Удалить
                                </button>
                            </form>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td><h5 class="">Нет записей</h5></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if filter_department is not defined %}
                {% include "_templates/pagination" with {'items': records, 'per_page': per_page} %}
            {% endif %}
        </div>
    </div>
{% endblock content %}
