{% extends "layout/html" %}

{% block content %}
    {% include "layout/yandex-maps-bus.twig" with {areas: cityAreas} %}
    <script>
        window.cardFormData = {
            cityAreas: {{ cityAreas | json_encode() | raw }},
            serviceTypes: {{ serviceTypes | json_encode() | raw }},
            model: {{ model | json_encode() | raw }},
            servicePlans: {{ service_plans | json_encode() | raw }},
            method: 'POST',
            currentTabIndex: 0,
            {#notificationGroups: {{ notificationGroups | json_encode() | raw }},#}
            formRoute: '{{ route('card102.store') }}'
        };
    </script>
    <div id="card102-form-block">
    </div>
{% endblock content %}
