{% extends "layout/html" %}
{% block content %}
    <div class="container section" id="add-101-persons-form" data-department_value="{{ dept_id ?? '' }}">
        <div class="level" style="margin-top: 20px">
            <div class="level-left">
                <h4 class="title">Личный состав от {{ report.report_date ?? 'now'|date('d-m-Y') }}</h4>
            </div>
        </div>

        <form action="" method="post">
            {{ csrf_field() }}
            <input type="hidden" name="date" value="{{ date }}"/>
            <fieldset>
                <legend>На лицо личного состава</legend>

                {% for district in districts %}
                    <div class="field">
                        <label>{{ district.name }} район</label>
                        <district-managers :staff="{{ district.district_managers }}"
                                           :city-area-id="{{ district.id }}"
                                           block-type="active"
                                           :model_id="{{ report.id ?? 0 }}">
                        </district-managers>
                    </div>
                {% endfor %}

            </fieldset>

            <fieldset>
                <legend>Отсутствующие</legend>

                {% for district in districts %}
                    <div class="field">
                        <label>{{ district.name }} район</label>
                        <district-managers :staff="{{ district.district_managers }}"
                                           :city-area-id="{{ district.id }}"
                                           block-type="inactive"
                                           :model_id="{{ report.id ?? 0 }}">
                        </district-managers>
                    </div>
                {% endfor %}

            </fieldset>

            <div class="panel"
                 style="padding: 30px 10px 20px; margin-top:20px;border-top: 1px solid #dbdbdb; background-color: #f7f7f7">
                <div class="level">
                    <p class="level-left">
                    </p>
                    <p class="level-right">
                        <button type="submit" class="button is-success"><i class="fas fa-check"></i>&nbsp; Сохранить
                        </button>
                    </p>
                </div>
            </div>
        </form>

    </div>
{% endblock content %}
