{% extends "layout/html" %}
{% block content %}
    <div class="section container">
    <h4 class="title">Активные путевые листы {{ _user.department.name|default('') }}</h4>
    <table class="table is-striped is-narrow is-fullwidth">
        <thead>
        <tr>
            <th>Номер листа</th>
            <th>Подразделение</th>
            <th>Адрес возгорания</th>
            <th>Дата и время</th>
            <th>Режим</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {% for trip in trips %}
            <tr>
                <td>{{ trip.id }}</td>
                <td>{{ trip.department.name|default('-') }}</td>
                <td>{{ trip.ticket.location|default('') ~ trip.ticket101_other.direction|default('') }} {% if trip.ticket.crossroad_1_id is defined %}({{ trip.ticket.crossroad_1.name|default('-') }} &times; {{ trip.ticket.crossroad_2.name|default('-') }}){% endif %}</td>
                <td>{{ trip.created_at|date('d.m.Y H:i') }}</td>
                <td>{{ trip.ticket.drill_type|default(null) ? 'Учебный' : (trip.ticket101_other|default(null) ? 'Прочие' : 'Боевой') }}</td>
                <td class="has-text-right"><a href="{{ url(trip.ticket ? ('/roadtrip/view/' ~ trip.id) : ('/roadtrip/view-other/' ~ trip.id)) }}" class="button is-outlined is-primary"><i class="far fa-address-card"></i>&nbsp;Путевой
                        лист</a></td>
                {#если роль == Диспетчер ПЧ или юзер == админ#}
                {% if user.role_id == 3 or user.id == 1 %}
                <td class="has-text-right">
                    <a href="{{  url('/roadtrip/additional/' ~ trip.id) }}" class="button is-outlined is-primary">
                        <i class="far fa-list-alt"></i>
                        &nbsp;Дополнительно
                    </a>
                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td class="has-text-centered"><h4 class="subtitle">Нет открытых путевых листов</h4></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include "_templates/pagination" with {'items': trips, 'per_page': per_page} %}
    </div>
{% endblock content %}
