{% extends "layout/html" %}
{% block content %}
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru-RU" type="text/javascript"></script>
    <script>
        window.addEventListener('load', () => {
            window.copiesToPrint = {{ results|length }},
            window.roadTripViewData = {
                fromString: 'Алматы {{ trip.ticket.location }}',
                emergencyString: 'Алматы {{ trip.department.address }}',
            };
            ymaps.ready(function () {
                window.ymaps = ymaps;
                window.initRoadTripViewMap();
            });
        });
    </script>
    <div class="section">
        <div class="level">
            <div class="level-left">
                <h4 class="title">Путевой лист {{ trip.id }} от {{ trip.created_at|date('d.m.Y H:i') }} для {{ trip.department.name }}</h4>
            </div>
            <div class="level-right printing-invisible">
                <a class="button is-outlined is-large print-button" id="open-print-button"><i class="fas fa-fw fa-print"></i>&nbsp;Печать</a>
            </div>
        </div>
        <table class="table is-narrow printing-full-width">
            {% if not trip.is_accepted %}
                <tr class="printing-invisible">
                    <td class="has-text-right is-bold">Принять в работу</td>
                    <td>
                        <form method="post" action="{{ url('/roadtrip/accept/' ~ trip.id) }}">{{ csrf_field() }}
                            <button type="submit" class="button is-warning"><i class="far fa-bell"></i>&nbsp;Принять</button>
                        </form>
                    </td>
                </tr>
            {% endif %}
            {#{% if ((trip.result is defined) or (trip.result is null)) and trip.result.out_time|default(null) is null and trip.is_accepted %}#}
                {#<tr class="printing-invisible">#}
                    {#<td class="has-text-right is-bold">Выезд сил</td>#}
                    {#<td>#}
                        {#<form method="post" action="{{ url('/roadtrip/force-out/' ~ trip.id) }}">{{ csrf_field() }}#}
                            {#<button type="submit" class="button is-info"><i class="far fa-bell"></i>&nbsp;Назначить</button>#}
                        {#</form>#}
                    {#</td>#}
                {#</tr>#}
            {#{% endif %}#}
            <tr>
                <td class="has-text-right is-bold">Адрес</td>
                <td>{{ trip.ticket.location|default('-') }}</td>
            </tr>
            <tr>
                <td class="has-text-right is-bold">Место пожара</td>
                <td>{{ trip.ticket.fireplace|default('-') }}</td>
            </tr>
            <tr>
                <td class="has-text-right is-bold">Предварительная информация</td>
                <td>{{ trip.ticket.pre_information|default('-') }}</td>
            </tr>
            <tr>
                <td class="has-text-right is-bold">Наименование объекта</td>
                <td>{{ trip.ticket.object_name|default('-') }}</td>
            </tr>
            <tr>
                <td class="has-text-right is-bold">Состав высылаемых сил и средств</td>
                <td>
                    {% if not trip.is_accepted %}
                        {% for i in trip.results %}
                            <p>{{ i.departments }}</p>
                        {% endfor %}
                    {% else %}
                        <div id="vue">
                            {% for dep in results %}
                                {% if ((trip.result is defined) or (trip.result is null)) and trip.result.out_time|default(null) is null and trip.is_accepted %}
                                    <roadtrip-dept-btn :trip="{{ trip }}" :dep="{{ dep }}"></roadtrip-dept-btn>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}

                </td>
            </tr>
            <tr>
                <td class="has-text-right is-bold">Подразделения</td>
                <td>{{ trip.ticket['ph_' ~ trip.department_id ~'_ot']|default('-') }}</td>
            </tr>
            <tr>
                <td class="has-text-right is-bold">Ранг пожара
                </td>
                <td>{{ trip.ticket.fire_level.name|default('?') }}</td>
            </tr>
            <tr>
                <td class="has-text-right is-bold">
                    Этажность
                </td>
                <td>{{ trip.ticket.storey_count|default('-') }}</td>
            </tr>
            <tr>
                <td class="has-text-right is-bold">На каком этаже горит
                </td>
                <td>{{ trip.ticket.floor|default('-') }}</td>
            </tr>
            {% if trip.ticket.operational_plan_id %}
                <tr>
                    <td class="has-text-right is-bold">№ оперативного плана</td>
                    <td>
                        {{ trip.ticket.operational_plan.name|default('') }}
                        {% if trip.ticket.operational_plan_id %}
                            {% for special_plan in trip.ticket.operational_plan.special_plans %}
                                {% if special_plan.file %}
                                    <a href="{{ '/storage/operational-plans/'~special_plan.file }}" target="_blank">
                                                    <span class="file-icon">
                                                        <i class="fas fa-file-pdf"></i>
                                                    </span>
                                    </a>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
            {% if trip.ticket.operational_card_id %}
                <tr>
                    <td class="has-text-right is-bold">№ оперативного плана</td>
                    <td>
                        {{ trip.ticket.operational_card.oc_number|default('') }}
                        {% if trip.ticket.operational_card_id and trip.ticket.operational_card.file %}
                            <a href="{{ '/storage/operational-cards/'~trip.ticket.operational_card.file }}" target="_blank">
                                            <span class="file-icon">
                                                <i class="fas fa-file-pdf"></i>
                                            </span>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td class="has-text-right is-bold">Конструктивные особенности</td>
                <td>{{ trip.ticket.building_description|default('') }}</td>
            </tr>
            <tr>
                <td class="has-text-right is-bold">Год постройки</td>
                <td>{{ trip.ticket.year_of_development|default('') }}</td>
            </tr>
            <tr>
                <td class="has-text-right is-bold">Площадь объекта</td>
                <td>{{ trip.ticket.building_square|default('') }}</td>
            </tr>
            <tr>
                <td class="has-text-right is-bold">Наличие угрозы людям</td>
                <td>{% if trip.ticket.people_in_danger ==1 %} <span class="has-text-danger is-bold">Да</span> {% else %} <span class="is-warning is-bold">Нет</span>{% endif %}</td>
            </tr>
            <tr>
                <td class="has-text-right is-bold">ФИО заявителя</td>
                <td>{{ trip.ticket.caller_name|default('-') }}</td>
            </tr>
            <tr>
                <td class="has-text-right is-bold">Телефон заявителя</td>
                <td>{{ trip.ticket.caller_phone|default('-') }}</td>
            </tr>
            <tr>
                <td class="has-text-right is-bold">Время получения сообщения о ЧС</td>
                <td>{{ trip.ticket.created_at|date('d.m.Y H:i') }}</td>
            </tr>
            {#<tr>#}
                {#<td class="has-text-right is-bold">Время возвращение в ПЧ</td>#}
                {#<td>#}
                    {#{% if trip.is_closed %}{{ trip.return_time|date('d.m.Y h:i') }}{% else %}#}
                        {#<div class="printing-invisible">#}
                            {#<form action="{{ url('/roadtrip/save/' ~ trip.id) }}" method="post">{{ csrf_field() }}#}
                                {#<button type="submit" class="button is-success is-outlined"><i class="fas fa-retweet"></i>&nbsp; Отметить возвращение</button>#}
                            {#</form>#}
                        {#</div>#}
                        {#<div class="printing-visible">#}
                            {#&ndash;#}
                        {#</div>#}
                    {#{% endif %}#}
                {#</td>#}
            {#</tr>#}
            <tr>
                <td class="has-text-right is-bold">Дата(день,месяц,год)</td>
                <td>{{ trip.created_at|date('d.m.Y') }}</td>
            </tr>
            <tr>
                <td class="has-text-right is-bold">Дополнительная информация</td>
                <td>{{ trip.ticket.additional_description|default('') }}</td>
            </tr>
        </table>

        <div id="road-trip-view-yandex-map-block"></div>
        <div id="autoprint" data-id="{{ trip.id }}"></div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const printButton = document.getElementById('open-print-button');
            printButton.addEventListener('click', (e) => {
                window.print();
                e.preventDefault();
            });

        });
    </script>
{% endblock content %}
