{% extends "layout/html" %}
{% block content %}
    <div class="container section">
        <div class="panel">
            <div class="level" style="margin: 10px 20px">
                <div class="level-left">
                    <h4 class="title">{{ title }}</h4>
                </div>
                <div class="level-right has-text-right">
                    <a href="{{ url(create_path) }}" class="button is-basic is-main"><i class="fas fa-plus"></i>&nbsp;Создать запись</a>
                </div>
                <div class="level-right has-text-left">
                    <a href="/dictionaries" class="button is-info"><i class="fas fa-backspace"></i>&nbsp;Назад</a>
                </div>
            </div>
            <div>
                <form action="" method="get">
                    <div class="field   has-addons">
                        <div class="control is-expanded">
                            <input type="search" class="input" name="search" value="{{ search ?? null }}" id="search-input">
                            <input type="hidden" name="filter_department" value="{{ filter_department }}">
                        </div>
                        <div class="control">
                        </div>
                        <div class="control">
                            <button class="button is-primary is-outlined" type="submit"><span><i class="fa fa-search"></i><span class="hidden-sm-down">&nbsp; Искать</span></span></button>
                            <a href="/dictionaries/operational-plans" class="button is-danger is-outlined" type="submit"><span><i class="fa fa-times"></i><span class="hidden-sm-down">&nbsp; Сбросить фильтр</span></span></a>
                        </div>
                    </div>
                </form>
            </div>
            <table class="table is-striped is-narrow is-hoverable">
                <thead>
                <tr>
                    <th>№</th>
                    <th>Ранг пожара</th>
                    <th><a href="?sort=city_area_id">Район города</a></th>
                    <th>Название объекта</th>
                    <th>
                        <a href="?sort=fire_department_id">ПЧ</a>
                        {% if user.anyRole(['admin','dispatcher_od', 'Диспетчер 101', 'Диспетчер ОД 101']) %}
                            <form>
                                <select name="filter_department" class="select control" onchange="this.form.submit()">
                                    <option value="0">Все ПЧ</option>
                                    {% for f in fire_departments %}
                                        <option {% if filter_department is defined and filter_department == f.id %} selected {% endif %} value="{{ f.id }}">{{ f.title }}</option>
                                    {% endfor %}
                                </select>
                                <input type="hidden" name="search" value="{{ search ?? null }}">
                            </form>
                        {% endif %}
                    </th>
                    <th>Номер оперплана</th>
                    <th>Адрес</th>
                    <th>Год постройки</th>
                </tr>
                </thead>
                <tbody>
                {% for record in records %}
                    <tr>
                        {#<td>{{ record.id }}</td>#}
                        <td>{{ per_page * page - per_page + loop.index}}</td> {#нумерация 1,2,3 и т.д., т.к. мин. id = 2671 #}
                        <td class="max-width: 20%">{{ record.fire_level.name|default('') }}</td>
                        <td class="max-width: 20%">{{ record.city_area.name|default('') }}</td>
                        <td class="max-width: 20%">{{ record.object_name|default('') }}</td>
                        <td class="max-width: 20%">{{ record.fire_department.title|default('') }}</td>
                        <td class="max-width: 20%">{{ record.operational_plan.name|default('') }}</td>
                        <td class="max-width: 20%">{{ record.location|default('') }}</td>
                        <td class="max-width: 20%">{{ record.year_of_development|default('') }}</td>
                        <td>
                            <form method="POST"
                                  onsubmit="return confirm('Вы действительно хотите удалить эту запись?');"
                                  action="{{ url(route('dictionaries.row.delete_by_name', {'name': type, 'row_id': record.id })) }}">
                                <input name="_method" type="hidden" value="DELETE">
                                {{ csrf_field() }}

                                <a href="{{ url(edit_path ~ record.id ~ '/' ~ 'edit') }}" class="button is-small is-primary is-outlined">
                                    <i class="fas fa-edit"></i>&nbsp;Изменить
                                </a>

                                <button type="submit"
                                        class="button is-small is-danger is-outlined">
                                    <i class="fas fa-trash"></i>&nbsp;Удалить
                                </button>
                            </form>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td><h5 class="">Нет записей</h5></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {#{% if filter_department is not defined %}#}
                {% include "_templates/pagination" with {'items': records, 'per_page': per_page, 'other': {'filter_department':filter_department, 'search':search}} %}
            {#{% endif %}#}
        </div>
    </div>
{% endblock content %}
