{% extends "layout/html" %}
{% block content %}
    <div class="container section">
        <div class="panel">
            <div class="level" style="margin: 10px 20px">
                <div class="level-left">
                    <h4 class="title">{{ title }}</h4>
                </div>
                <div class="level-right has-text-right">
                    <a href="{{ url(create_path) }}" class="button is-basic is-main"><i class="fas fa-plus"></i>&nbsp;Создать запись</a>
                </div>
            </div>
            <table class="table is-striped is-narrow is-bordered is-hoverable">
                <thead>
                <tr>
                    <th>№</th>
                    <th>Название</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                {% for record in records %}
                    <tr>
                        <td>{{ record.id }}</td>
                        <td class="max-width: 20%">{{ record.title|default('') }}</td>
                        <td>
                            <div class="field is-grouped">
                            <a href="{{ url(edit_path ~ record.id) }}" class="button is-small is-primary is-outlined">
                                <i class="fas fa-edit"></i>&nbsp;Изменить
                            </a>&nbsp;
                            {% if record.name != 'admin' %}
                                <form onsubmit="if(!confirm('Удалить роль?')) return false" action="{{ delete_path ~ record.id }}" method="POST">
                                    {{ csrf_field() }}
                                    <button type="submit" class=" button is-small is-danger">
                                        <i class="fas fa-eraser"></i>
                                        Удалить
                                    </button>
                                </form>
                            {% endif %}
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td><h5 class="">Нет записей</h5></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% include "_templates/pagination" with {'items': records, 'per_page': per_page} %}
        </div>
    </div>
{% endblock content %}
