{% extends "layout/html" %}
{% block content %}
    <div class="">
        <h4 class="title"
            style="padding: 3px 15px">Импорт данных в справочники. {{ importName }}
        </h4>
    </div>
    <hr>
    <div class="panel" style="margin-left: 15px; overflow: scroll;">
        Импортировано: {{ importedItems | length }}
        <br>
        <br>
        Не импортировано: {{ incorrectItems | length }}
        {% if delete_path is defined %}
            <form action="/import/delete/{{ delete_path }}" method="post">
                {{ csrf_field() }}
                <button class="button is-danger">Удалить</button>
            </form>
        {% endif %}
        <br>
        <table class="table is-striped">
            <tbody>
            {% for row in incorrectItems %}
                <tr>
                    {% for col in row %}
                        <td>{{ col }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
