{% extends "layout/html" %}
{% block content %}
    <div class="container section" id="vue">
        <div class="panel">
            <div class="box" style="margin-top: 20px">
                <h4 class="title">Проверка пожарных частей {{ date|default('')|date('d-m-Y') }}</h4>
                <form action="{{ date is defined ? route('fire-department-checks.update-by-date', {'date':date}) : route('fire-department-checks.store') }}"
                      method="post">
                    {{ csrf_field() }}

                    {% if date is not defined %}

                        <div class="box">
                            <input type="date" class="input" name="date">
                        </div>

                    {% endif %}

                    <h4 class="title">ПЧ</h4>

                    <fire-dept-check-form
                            :fire-depts="{{ fire_depts }}"
                            :fire-dept-id="{{ fire_dept_id }}"
                            :records="{{ not_dspt|default([])|json_encode }}"
                            :type="'fire_dept'"
                            :has-edit-right="{{ has_edit_right|json_encode }}"
                    ></fire-dept-check-form>

                    <h4 class="title">ДСПТ</h4>

                    <fire-dept-check-form
                            :fire-depts="{{ fire_depts }}"
                            :fire-dept-id="{{ fire_dept_id }}"
                            :records="{{ dspt|default([])|json_encode }}"
                            :type="'dspt'"
                            :has-edit-right="{{ has_edit_right|json_encode }}"
                    ></fire-dept-check-form>


                    <div class="buttons has-text-right is-grouped is-right" style="">
                        <button type="submit" class="button is-success"><i class="fas fa-check"></i>&nbsp;Сохранить
                        </button>
                        <a href="{{ url('/fire-department-checks') }}" class="button is-light">Отменить</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
